[2019-05-30 15:19] pronav commented on #194
You need to add a step in build phases to strip out simulator architectures. You can copy-paste this code from various places over the internet, e.g. https://stackoverflow.com/questions/42641806/check-and-remove-unsupported-architecture-x86-64-i386-in-ipa-archive

Please note that this step should be after embed binary step.

[2019-05-30 15:20] pronav commented on #195
plugin version 2.1.x works with xcode 10.2. For xcode 10.1, please downgrade razorpay plugin to version 2.0.20

[2019-05-31 05:25] knalliyappan commented on #195
It's working fine in Version 2.0.20.

[2019-05-31 05:25] #195 closed

[2019-05-31 05:26] knalliyappan commented on #189
It's working fine in version 2.0.20.

[2019-05-31 05:26] #189 closed

[2019-05-31 06:22] mukulkumar1703 commented on #60
@AbhinavArora95
I am also getting the same error while uploading the build in app store. I copied the script from "StripInvalidArchitectures.txt" file that you have shared above and put it on the Build Phases/ Run Script and archive the build, but now I am getting following error

fatal error: lipo: can't open input file: Razorpay.framework/Razorpay (No such file or directory)
fatal error: lipo: c

[2019-05-31 07:27] pronav commented on #60
Have you included `Razorpay.framework` in embed binaries step?

[2019-05-31 09:47] mukulkumar1703 commented on #60
@pronav  yes I have in included, but now I am able to upload the build in apple store.

[2019-05-31 11:23] metizror commented on #194
@pronav Thanks its Works..

[2019-05-31 11:23] #194 closed

[2019-06-06 09:59] knalliyappan opened #196 "iPhone / iPad version 10.3 crashed."
In iPhone / iPad version 10.3 devices get crashed in library line
" [razorpay open:options]"

Xcode version : 10.1
react-native-razorpay: 2.0.20

[2019-06-07 04:18] getinfyKiranreddy opened #197 "Archive = IOS Razorpay bit code missing"
React-native : 0.57
React: 16.6
Xcode: 10.2

I am using razorpay and it's working in an android fine but the thing is when IOS comes It's been getting an error like razorpay framework is not found.
I have added a framework in project/framework folder but still, I am facing an error.
Sometimes It's working but When I archive the IOS app there I get Razorpay bit code missing.

Please can anyone help

[2019-06-07 05:28] pronav commented on #197
Does error occur when running locally in simulator or only while archiving? Need screenshot for archive error..

Also see https://github.com/razorpay/react-native-razorpay/issues/194#issuecomment-497368029 if it helps

[2019-06-07 05:45] getinfyKiranreddy commented on #197
while Archiving I got an error

[2019-06-07 09:04] vogosamvelraja opened #198 "iOS payment.open always returns with error code 1."
We are trying to integrate razor pay with our application.
We were using the android SDK which worked fine, When we tried to use the same config in React native sdk it throws with the error above.

This is blocking our release. Kindly give us your support.

[2019-06-07 09:43] pronav commented on #198
Please post code you're using around open method.. are there any delay in error or it returns as soon as called?

[2019-06-07 09:44] pronav commented on #196
Try setting "always embed swift standard libraries" under build settings to "yes"

[2019-06-07 09:44] pronav commented on #197
Can you try script given in above comment?

[2019-06-07 10:04] knalliyappan commented on #196
I have already enabled "always embed swift standard libraries" to YES.
But its works in iOS 11 & 12 versions, But only crashed in iOS less-than 10.3.
![Screen Shot 2019-06-07 at 3 20 52 PM copy](https://user-images.githubusercontent.com/48433441/59096859-9eb03500-8939-11e9-806d-15de1bcc9b55.png)

Attached the screen shot for your reference.

[2019-06-07 10:15] vogosamvelraja commented on #198
@pronav  Thanks for the quick response. It worked now. It was a configuration problem I guess.

[2019-06-07 10:15] #198 closed

[2019-06-07 11:04] getinfyKiranreddy commented on #197
Sorry It didn't work for me
Please look over below an image

[2019-06-07 11:35] getinfyKiranreddy commented on #190
yes
Thanks It works

[2019-06-07 13:23] getinfyKiranreddy commented on #197
I got this error solution
if in case anyone gets the same error please add the following code in Build Phases click +  add Run script file

APP_PATH="${TARGET_BUILD_DIR}/${WRAPPER_NAME}"

# This script loops through the frameworks embedded in the application and
# removes unused architectures.
find "$APP_PATH" -name '*.framework' -type d | while read -r FRAMEWORK
do
FRAMEWORK_EXECUTABLE_NAME=$(def

[2019-06-07 13:23] #197 closed

[2019-06-14 06:00] rawris commented on #177
I'm still facing this issue, I'm using only 1 xcode (10.2) with swift 5.1 and I have the same error

`error: The following binaries use incompatible versions of Swift: xxxx/Build/Products/iphonesimulator/xxx.app/Frameworks/Razorpay.framework/Razorpay`

[2019-06-14 06:15] pronav commented on #177
We're looking into swift 5.1 support and will update here.

[2019-06-14 06:19] rawris commented on #177
so can you suggest any other way to integrate razorpay in our React Native app? I need to integrate it for a client.

[2019-06-14 08:12] master96 commented on #177
any temporary fix untill team is working on swift 5.1 support

[2019-06-14 08:13] master96 commented on #177
React Native Environment Info:
    System:
      OS: macOS 10.14.5
      CPU: (4) x64 Intel(R) Core(TM) i5-5350U CPU @ 1.80GHz
      Memory: 28.34 MB / 8.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 12.2.0 - /usr/local/bin/node
      npm: 6.9.0 - /usr/local/bin/npm
      Watchman: 4.9.0 - /usr/local/bin/watchman
    SDKs:
      iOS SDK:
        Platforms: iOS 12.2, macOS 10.14,

[2019-06-14 13:26] reomind commented on #184
same error here
any resolution @ChinmayaRazorpay  @vyrazorpay

[2019-06-16 14:27] sathishkrishnan20 opened #199 "Metro Bundler Is not Refreshing after adding "$(PROJECT_DIR)/../node_modules/react-native-razorpay/ios/" to the "framework search paths" in Build Settings"

[2019-06-16 15:42] sathishkrishnan20 commented on #158
Could not help any of the above

[2019-06-16 17:22] sathishkrishnan20 commented on #199
I resolved this by below
https://medium.com/@sachin.r.r/using-razorpay-in-react-native-sample-3dea020de6a5

[2019-06-16 17:22] #199 closed

[2019-06-17 06:54] vikaskhandekar001 opened #200 "app crashes in production in app review process"
xcode version:10.2.1
react-native-razorpay:2.1.23
react-native:0.58.5

App is working fine in development but it crashes (launch screen) in apple's review process.

i have added run script code inside build phase and  always embedded libraries are also set to "yes"   as you have suggested
below is the screenshot of error:

![Screenshot 2019-06-17 at 12 15 16 PM](https://user-images.githubuserconte

[2019-06-17 07:06] rawris commented on #177
Hi,

I just rechecked my swift version and It is `Apple Swift version 5.0.1 (swiftlang-1001.0.82.4 clang-1001.0.46.5)` which is the same swift version mentioned in Razorpay-Swift.h. any suggestions?

This is the complete error

`
error: The following binaries use incompatible versions of Swift:
/Users/<username>/Library/Developer/Xcode/DerivedData/<App Name>/Build/Products/Debug-iphonesimulator/<a

[2019-06-17 07:25] pronav commented on #200
Please see https://github.com/razorpay/react-native-razorpay/issues/194#issuecomment-497368029 if it helps. You need to strip out simulator architectures before shipping app.

[2019-06-17 07:33] vikaskhandekar001 commented on #200
i am not getting error while archieving . when  apple is reviewing our app it is getting crashed on launchscreen .
 i have added run script and added code for it inside build phase.
![Screenshot 2019-06-17 at 12 59 58 PM](https://user-images.githubusercontent.com/32407723/59586171-e4ba8500-90ff-11e9-8f6f-b2d0d0027b66.png)

[2019-06-17 07:37] pronav commented on #200
`Razorpay.framework` is added multiple times in your project - can you remove duplicates?

[2019-06-17 07:45] vikaskhandekar001 commented on #200
i have kept Razorpay.framework which is inside the library and deleted other .will this work?

[2019-06-17 08:08] pronav commented on #200
Yeah - use the one added by react-native plugin only.

[2019-06-17 09:07] vikaskhandekar001 commented on #200
now after uploading  build i am getting
"this build is invalid" error
description:
ITMS-90562: Invalid Bundle - One or more dynamic libraries that are referenced by your app are not present in the dylib search path.

[2019-06-17 09:15] vikaskhandekar001 commented on #200
razorpay.framework is appearing twice in your integration video as well one inside of project and second one is in library section  and it is working fine.
can you send your contact details so we can resolve it earliest?

[2019-06-17 09:44] pronav commented on #200
sure, contact me at pranav.gupta@razorpay.com

[2019-06-17 10:56] rawris commented on #200
Hi @pronav

Can I also contact you on your e-mail regarding an issue with this library?

[2019-06-17 12:54] pronav commented on #200
Sure @rawris

[2019-06-17 18:35] master96 commented on #177
Download latest Razorpay.framework from Razorpay website with swift 5.0  and replace the one from node modules. This fixed error for me @rawris  @codebymani

[2019-06-18 10:24] rawris commented on #177
Hi @master96

Can you share the link with us? just so we use the same framework as you

[2019-06-18 10:42] pronav commented on #177
This is the link for latest framework: https://rzp-mobile.s3.amazonaws.com/ios/checkout/1.2.0/RazorpayBitcodeX10.framework.zip

However just using latest `react-native-razorpay` plugin should've worked in first place.

[2019-06-18 10:43] pronav commented on #177
We'll release swift-5.1 compatible framework once stable version for swift-5.1 is released by apple.

[2019-06-18 10:48] rawris commented on #177
Hi @pronav

I'm using swift 5.0 still I'm getting this error.

[2019-06-18 10:58] master96 commented on #177
I can confirm

 "react-native-razorpay": "^2.0.18"
and
https://rzp-mobile.s3.amazonaws.com/ios/checkout/1.2.0/RazorpayBitcodeX10.framework.zip
works fine with swift 5.0

[2019-06-18 11:01] rawris commented on #177
I'm using ^2.1.23 version. I'm downgrading it to 2.0.18 and will see how it works out

[2019-06-19 10:39] vikaskhandekar001 commented on #200
i have taken new release but still apple rejected my app saying it  crashed on launchscreen .they have given me log of crash .which is here [https://codeshare.io/5zJbBO](https://codeshare.io/5zJbBO)

[2019-06-23 01:48] sohelmk commented on #174
we are facing same error in ionic, everything is latest version

dyld: Library not loaded: @rpath/libswiftCore.dylib
  Referenced from: /Users/sohelkhan/Library/Developer/CoreSimulator/Devices/616C80ED-6BE2-4F19-A46E-6ACEE4FD3258/data/Containers/Bundle/Application/40B58AA2-DB43-45CB-8C34-2E050EC4E4F8/consultengine.app/Frameworks/Razorpay.framework/Razorpay
  Reason: image not found
(lldb)

[2019-06-24 05:51] mathewk2017 commented on #60
@mukulkumar1703  how did you solved the problem? I am getting the same error.

[2019-06-24 07:09] rushi2711 commented on #185
Sorry for the late reply. Had kept this issue on hold. I am working on xcode 10.2.1

[2019-06-24 07:13] rushi2711 commented on #185
The strange thing is the button works once in 5 or 6 times.

[2019-06-24 09:46] Rushi271193 commented on #186
Getting the same issue. Only that instead of remaining stuck the checkout method return error as follows:

Attempt to present <UINavigationController: 0x7f8c6390ae00>  on <UIViewController: 0x7f8c6341fe90> which is already presenting <RCTModalHostViewController: 0x7f8c6349b7a0>
/Users/travis/build/razorpay/razorpay-ios/RazorpayIOS/CheckoutOtpelf/Classes/RazorpayCheckoutVC.swift deinitialized

[2019-06-24 13:25] essuraj commented on #186
I had a page loading modal open...before checkout.. when we removed the loading modal .. this worked

[2019-06-25 08:23] Rushi271193 commented on #186
Can you be more precise? Loading modal as in?

[2019-06-26 03:36] rkbansal commented on #68
Hi Everyone, installing and linking using rnpm instead of react-native solved this issue.
Steps,
1. Install rnpm globally by `npm install -g rnpm`
2. Then install packages by `rnpm install`
3. Then link packages by `rnpm link`

[2019-06-26 03:46] ayushsingh9084 commented on #165
can you explain me how you resolve your issue?

[2019-06-26 11:25] Pardeep03315 commented on #174
@pronav Thanks Buddy ....razorpay version 2.0.20 is working fine with Xcode 10.1

[2019-07-09 06:50] sujalbinno opened #202 "Do not find .podspec file"
I want to use react-native-razorpay from cocoa pod but I do not find any .podspec file in react-native-razorpay folder.

[2019-07-09 06:58] pronav commented on #202
You can install it using npm

[2019-07-09 11:35] sujalbinno commented on #202
I want to move RazorpayCheckout.xcodeproj project from "Library" folder to inside Pod
Usually all library have its own .podspec file (like RazorpayCheckout,podspec) using it I can specify podspecification path in my pod file and when I run "pod  install" it will take reference of react-native-razorpay from the node_module

[2019-07-17 08:30] raikva-curefit opened #204 "Assemble not working with :react-native:0.20.+."
facing this error while assembling for curefit app.

    Required by:
        project :app > project :react-native-razorpay

Please update react-native version to the latest.

from implementation 'com.facebook.react:react-native:0.20.+'
to  implementation 'com.facebook.react:react-native:+'

It has only changes in RazorpayPackage class. Everything should be fine.

[2019-07-19 12:52] shashankmeddo commented on #165
Copy-keepclassmembers class * {
    @android.webkit.JavascriptInterface <methods>;
}

-keepattributes JavascriptInterface
-keepattributes *Annotation*

-dontwarn com.razorpay.**
-keep class com.razorpay.** {*;}

-optimizations !method/inlining/*

-keepclasseswithmembers class * {
  public void onPayment*(...);
}

[2019-07-27 08:52] somangshu opened #207 "React native razorpay version for > RN 60.0 - Auto link support"
I was trying to add the package to RN 60.4 and faced an issue because React native razorpay still does not support autolinking. Kindly look into this as i wish to upgrade my app for performance improvements and razorpay is my official payment gateway (cannot ditch this).

Let me know if i can provide any help.

[2019-07-27 09:24] #207 closed

[2019-07-27 09:25] somangshu commented on #207
My bad, This is working now even in 60.4 and gets auto discovered and liked. Probably a problem with another library

[2019-07-30 13:08] codebymani commented on #22
Everything working fine till Xcode 10.1 and react-native-razorpay: 2.1.23

I have updated my Xcode from 10.1 to 10.3. when I trigger "RazorpayCheckout.open()" it pops  'native module cannot be null' error. Surprisingly If linking fails, It should pop the error on launch. But It's popping when I call RazorpayCheckout.open().

I'm unable to figure out exactly what happening under the hood.

[2019-08-06 09:12] Prateek479 commented on #22
great Job @iThink32 , looks good to me 👍

[2019-08-06 09:32] bestkanthed commented on #200
I am have the same issue!

[2019-08-08 05:57] amrit-sahoo commented on #184
Hi, I am also getting the same error. But in some particular devices. I tested on Android 4.4. I run the example code got the error alert with error code and message as undefined | undefined. I have tested in 4-5 devices. Got this error in 2 devices.

[2019-08-13 05:02] ArvindKer09 opened #210 "Unable to start activity ComponentInfo com.razorpay.CheckoutActivity : Didn't find class "com.razorpay.G_G"
React-Native Version: 0.59.8
Gradle Version: 5.1.1

java.lang.RuntimeException: Unable to start activity ComponentInfo{in.abc.app/com.razorpay.CheckoutActivity}: java.lang.ClassNotFoundException: Didn't find class "com.razorpay.G_G" on path: DexPathList[[zip file "/data/app/in.abc.app-6JaCLtUU8i_xpQjmYbg4bQ==/base.apk", zip file "/data/app/in.abc.app-6JaCLtUU8i_xpQjmYbg4bQ==/split_config.armeabi_v

[2019-08-14 11:51] RishavKumar-3796 commented on #210
Facing the same issue. Please help @ChinmayaRazorpay  @pravinjhaRazorpay  @Nik-noceps-razorpay

[2019-08-16 03:18] prasad456 commented on #176
@pronav @atulmy any update on this? This issue is blocking our app release
Are you build ipa file?

[2019-08-16 03:58] pronav commented on #176
Which xcode and razorpay plugin version are you using? can you share the exact error you faced?

[2019-08-16 07:28] pronav commented on #210
@ArvindKer09 Please add following proguard rules:

[code]

[2019-08-16 07:32] RishavKumar-3796 commented on #210
Yaayyyyyyy. This worked. Thanks @pronav

[2019-08-18 18:26] Yavicarlos opened #211 "AndroidRuntime: FATAL EXCEPTION: java.lang.RuntimeException: Unable to start activity ComponentInfo"
E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.example.advancedcalculator, PID: 19468
    java.lang.RuntimeException: Unable to start activity ComponentInfo{com.example.advancedcalculator/com.example.advancedcalculator.MainActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'void android.widget.Button.setOnClickListener(android.view.View$OnClickListener)' on a nul

[2019-08-21 10:42] ajith8291 opened #212 "Error while Archiving Objective c app(Found an unexpected Mach-O header code: 0x72613c21)"
I have implemented Razorpay SDK in my Objective C project. It works fine with development mode but throws error while arching the build. Added run script as suggested in https://razorpay.com/docs/payment-gateway/ios-integration/standard/integration-videos/

Can someone help me to solve this.

CC:@iThink32

[2019-08-21 11:05] ArvindKer09 commented on #210
It worked for me too.  Thanks @pronav

[2019-08-21 11:05] #210 closed

[2019-08-25 12:48] azharpatel4 commented on #174
@pronav Hello Pranav!
I'm getting the same error while trying to emulate the ios build from xcode.
Xcode version: 10
MacOS: 10.13.6
Ionic: 5

WE have already enabled BitCode and enabled `Embed Swift Standard Libraries`.
Also we created a run script and added the necessary code to strip simulated architecture but still getting same error.

Could you please help resolve the issue? Can we have a shar

[2019-08-27 13:20] Biplovkumar opened #213 "code signing "razorpay.framework" failed. view distribution logs for more information."
![Screenshot 2019-08-28 at 10 05 24 AM](https://user-images.githubusercontent.com/30401136/63826171-6be76d00-c97b-11e9-8a01-206a834bc705.png)

Error in Upload .ipa file.

Environment :-
 "react-native-razorpay": "^2.1.29",]

i am stuck on this issue in X-code 10.3

[2019-08-28 07:28] Biplovkumar commented on #60
in which folder, we need to run command. Plz share !
![Screenshot 2019-08-28 at 12 57 39 PM](https://user-images.githubusercontent.com/30401136/63834658-7150b180-c993-11e9-95cf-c194ba06dcd9.png)

I have these valid architecture , Do need to run that command.

[2019-08-28 08:56] Biplovkumar commented on #194
lipo -remove i386 Razorpay -o Razorpay && lipo -remove x86_64 Razorpay -o Razorpay

hi @pronav i run this command but still in app upload showing this error , i am stuck from 2 days.
![Screenshot 2019-08-28 at 10 05 24 AM](https://user-images.githubusercontent.com/30401136/63841069-bbd82b00-c99f-11e9-8931-1ca8c88dabcf.png)

My valid architecture is this :-
![Screenshot 2019-08-28 at 12 57 39 PM](h

[2019-08-28 10:18] Biplovkumar commented on #213
it is working fine but not able to publish app in App store .
i had followed all the step which is mentioned.
Only this step not able to follow [this](https://razorpay.com/docs/payment-gateway/ios-integration/standard/#step-2---initialize-the-razorpay-ios-standard) step.

[2019-08-28 10:20] Biplovkumar commented on #213
![Screenshot 2019-08-28 at 3 49 34 PM](https://user-images.githubusercontent.com/30401136/63847474-77eb2300-c9ab-11e9-9db2-d5c6b3370a8f.png)

build multiple time but not able to produce, All the time same error.

[2019-08-28 15:52] Biplovkumar commented on #194
No reply came for this issue,which came in upload app on app store.
Silent community library.

[2019-08-28 15:53] Biplovkumar commented on #213
Any update plz

[2019-08-28 16:05] Biplovkumar commented on #191
Plz provide solutions for this code signing error.

[2019-08-29 04:24] Biplovkumar commented on #213
Solution 👍
1.Go in buildPhases
2.Click on Add button.
3. Add this script
     `APP_PATH="${TARGET_BUILD_DIR}/${WRAPPER_NAME}"

# This script loops through the frameworks embedded in the application and
# removes unused architectures.
find "$APP_PATH" -name '*.framework' -type d | while read -r FRAMEWORK
do
    FRAMEWORK_EXECUTABLE_NAME=$(defaults read "$FRAMEWORK/Info.plist" CFBundleExecutable)

[2019-08-29 04:25] #213 closed

[2019-08-29 07:13] sumedht commented on #211
@Yavicarlos Doesn't look like from crash that it is Razorpay issue

[2019-08-29 07:15] #186 closed

[2019-08-29 07:16] sumedht commented on #204
@raikva-curefit It's updated in latest version.

[2019-08-29 07:16] #204 closed

[2019-08-31 14:53] nihilultra commented on #174
I am having a similar problem: I have done everything mentioned above. Please help. Very Critical.

**dyld: Library not loaded: @rpath/Razorpay.framework/Razorpay
  Referenced from: /var/containers/Bundle/Application/** ..........
  **Reason: image not found**

macOS Version: 10.14.6 (18G84)
XCode Version: Version 10.3 (10G8)
"react": "16.8.6",
"react-native": "0.60.4",
"react-native-razorpay": "^

[2019-09-03 16:55] JulianKingman commented on #153
FWIW ejected expo _does_ support linking native libraries, that's what ejecting does.

[2019-09-09 04:55] pateljaykesh opened #214 "Min SDK version issue"
hello

I am getting following error.

Manifest merger failed : uses-sdk:minSdkVersion 16 cannot be smaller than version 19 declared in library [com.razorpay:checkout:1.5.2]

As we go with minsdk version 19 then app not working for older devices.

Kindly help on this.

Thanks

[2019-09-10 08:18] jinxac commented on #174
was facing the same issue, `Embed Swift Standard Libraries` was not checked for me. Works fine after that.

[2019-09-11 06:04] Lokesh235 opened #215 "payment modal coming transparent"
I am able to integrate razor pay customUI library (react-native-customui) in my project for custom checkout but when I am trying to pay with test credentials the payment modal is coming transparent. Is there the right behaviour or can I control it in any way ?

<img width="286" alt="Screen Shot 2019-09-11 at 11 31 18 AM" src="https://user-images.githubusercontent.com/11419486/64671980-ca3a4280-d48

[2019-09-13 16:32] venky2604 commented on #214
I have the same issue in rn 0.60.5

[2019-09-13 16:42] venky2604 commented on #193
is autolinking supported  rn  0.60

[2019-09-16 06:45] sumedht commented on #193
@venky2604 Currently we are using react-native v0.57. Autolinking is supported from v0.60

[2019-09-17 10:28] sombizbuzzz opened #217 "SampleProject Razorpay not working"
`SampleProject.app/Frameworks/Razorpay.framework/Razorpay`
  Reason: no suitable image found.  Did find:
	`/usr/lib/swift/libswiftCore.dylib: mach-o, but not built for iOS simulator`

[2019-09-17 12:42] deepak-nagdoo opened #218 "react-native-razorpay not working in release apk"
react-native-razorpay the RazorpayCheckout.open does not work on release apk, while works fine on debug mode.

[2019-09-22 17:19] #218 closed

[2019-09-22 17:20] deepak-nagdoo commented on #218
Duplicate

[2019-09-24 10:42] lohithananda opened #219 "Razor pay not working in react native >=0.60"
Since react native link(native library)command is not working now in latest versions even if we link this library it's gives error as native module not imported. and we need pods to use it in iOS.

[2019-09-24 12:42] SaravanakumarSubramanian commented on #183
I have the same issue changing the minSDKVersion to 19 did not solve the issue for me

Razorpay gradle
`apply plugin: 'com.android.library'
repositories {
    mavenCentral()
}
def safeExtGet(prop, fallback) {
    rootProject.ext.has(prop) ? rootProject.ext.get(prop) : fallback
}

android {
    compileSdkVersion safeExtGet('compileSdkVersion', 28)

    defaultConfig {
        minSdkVersion 19

[2019-09-24 12:48] SaravanakumarSubramanian commented on #214
I have the same issue changing the minSDKVersion to 19 did not solve the issue for me

Error: Command failed: ./gradlew app:installDebug -PreactNativeDevServerPort=8081
/Users//android/app/src/debug/AndroidManifest.xml Error:
uses-sdk:minSdkVersion 16 cannot be smaller than version 19 declared in library [:react-native-razorpay] /Users//node_modules/react-native-razorpay/android/build/intermediate

[2019-09-24 13:21] venky2604 commented on #214
try changing minSdkVersion to 19  only in the outermost build.gradle. Do not change Razorpay gradle

[2019-09-25 05:54] varunsdcet commented on #219
Use this npm i  react-native-razorpay@2.0.18

[2019-09-25 06:40] HarshitMadhav commented on #219
@varunsdcet Thanks it is working for me now!

[2019-09-25 06:48] varunsdcet commented on #219
@lohithananda what are problem you facing if its urgent please install npm i react-native-razorpay@2.0.18 otherwise you wait untill any update its worked for me.

[2019-09-25 10:59] savioseb opened #220 "Razorpay.framework did not contain a "archived-expanded-entitlements.xcent" resource."
I'm trying to upload the App to itunes after archiving it and it is not allowing me to upload it to itunes store citing the above error. How do I fix this?

[2019-09-25 11:39] savioseb commented on #220
I'm sorry this is the same issue that is mentioned in [https://github.com/razorpay/react-native-razorpay/issues/213#issuecomment-526016057](https://github.com/razorpay/react-native-razorpay/issues/213#issuecomment-526016057)

For more Info: [http://ikennd.ac/blog/2015/02/stripping-unwanted-architectures-from-dynamic-libraries-in-xcode/](http://ikennd.ac/blog/2015/02/stripping-unwanted-architecture

[2019-09-25 11:39] #220 closed

[2019-10-06 13:27] rameshkec85 opened #221 "Always getting dyld: Library not loaded: @rpath/libswiftCore.dylib"
dyld: Library not loaded: @rpath/libswiftCore.dylib
  Referenced from: /Users/ramesh-android-dev/Library/Developer/CoreSimulator/Devices/60D884D8-C0A2-4199-8BE0-BA1DCBA8F6FF/data/Containers/Bundle/Application/50BDFA33-B6B2-4E52-8AED-DCFF328C553A/TestRazorPay.app/Frameworks/Razorpay.framework/Razorpay
  Reason: image not found

Since 2 days i have been trying to run sample project by following manu

[2019-10-07 07:37] Nautiyalsachin commented on #221
Please follow these steps to resolve :-

1. Check if is there any framework available in **Project** > **Target** > **Frameworks, Libraries, and Embedded Content.**. If its not already added then add it from YOUR_PROJECT_DIR/plugins/com.razorpay.cordova/src/ios/Razorpay.framework
to your embedded binaries phase.
2. If Razorpay.Framework is available then Change Embed to **Embed & Sign** from **Do

[2019-10-07 07:47] erkrujjawal786 commented on #129
Non of the solution fixes my error. I have the same error.

[2019-10-07 10:19] Anujmoglix commented on #219
Hi , I am getting issue
Haste module naming collision , duplicate module name : react-animated

[2019-10-07 10:29] ChintanAcharya commented on #219
@Anujmoglix What version of react-native-razorpay are you on?

[2019-10-07 13:47] ashutoshshubam commented on #129
@erkrujjawal786, for now, use this:-"react-native-razorpay": "https://github.com/ashutoshshubam/react-native-razorpay",
its working. In package.json file.
once the library is stable then replace it with the latest version.

[2019-10-09 09:45] Anujmoglix commented on #6
How to use it in production , I am only getting Screen
![Selection_156](https://user-images.githubusercontent.com/26056096/66470602-8c8d0180-eaa7-11e9-8c16-cfb5aa397cf3.png)

[2019-10-09 09:46] Anujmoglix commented on #160
Is it working ?

[2019-10-09 09:49] pronav commented on #6
@Anujmoglix you need to put razorpay live key instead of test key. you can generate live key from dashboard after razorpay account activation

[2019-10-09 10:08] Anujmoglix commented on #6
yes . i have checked that in https://github.com/razorpay/react-native-razorpay/issues/107 as well, Btw thanks for quick response.

[2019-10-09 10:35] Anujmoglix commented on #6
For production live key app is crashing in emulator but for Testing atleast UI is showing properly .

[2019-10-09 11:57] varunsdcet commented on #219
Please go to nodemodule then react-native rajorpay then you see there is nodemodule inside this.please remove this

[2019-10-09 13:28] varunsdcet commented on #219
@Anujmoglix your issue is solved or not

[2019-10-10 05:29] Anujmoglix commented on #219
yes , It is fixed .

[2019-10-10 05:41] Anujmoglix commented on #172
I am getting payment failed in Net banking

[2019-10-10 05:46] Anujmoglix opened #223 "Payment Failed in Some cases"
Hi ,
  I am getting issue in Netbanking . I always got the screen " PAYMENT FAILED "  please contact site admin . Please suggest any workaround for that ,

 I have one more query like other payment gateway i always share hash , order id and surl , furl . Is there no option for that ?

[2019-10-14 10:15] nirunisha123 commented on #221
I am also getting this problem.

[2019-10-14 10:58] nirunisha123 opened #224 "razor pay carshing app in iOS react-native"
dyld: Library not loaded: @rpath/Razorpay.framework/Razorpay
  Referenced from: /var/containers/Bundle/Application/346257FF-098C-48D3-93C4-920465BB8DCC/mindhouse.app/mindhouse
  Reason: image not found

[2019-10-18 10:25] neonsec commented on #224
facing the same issue on React Native 0.61.2

[2019-10-18 18:23] prateekchachra commented on #175
+1. Crash is happening here too.

[2019-10-19 16:47] sivakumar-cf commented on #202
Hi after upgrade to react-native 0.60+, all dependency project moved under cocoapods, so please add the podspec file for auto-linking. Refer here https://github.com/react-native-community/cli/blob/master/docs/autolinking.md

[2019-10-20 07:53] prateekchachra commented on #224
+1

[2019-10-20 15:42] reetika-2 commented on #175
App Crash is happening on real android phone.

[2019-10-20 15:44] reetika-2 commented on #175
How to solve it?
version: "react-native-razorpay": "^2.1.30",
"expokit": "^35.0.1",
 "react": "16.8.3",
    "react-dom": "16.8.3",
    "react-native": "https://github.com/expo/react-native/archive/sdk-35.0.0.tar.gz",

device is : Samsung On5 pro

[2019-10-20 17:21] prateekchachra opened #225 "(Android) App crashing on release- Java ClassNotFoundException"
java.lang.ClassNotFoundException: Didn't find class "com.razorpay.G__G_"

Here's the error that's occuring on trying to run a razorpay payment on a release build.

Any help would be appreciated.

[2019-10-20 18:23] #225 closed

[2019-10-20 18:24] prateekchachra commented on #225
I forgot to put the proguard config in.

To anyone else reading this: Read the Wiki and copy-paste the lines provided in proguard-rules.pro

[2019-10-21 06:57] tejas-freo commented on #221
I am also facing the same issue. I Have tried the steps mentioned above still, the  issue persist

[2019-10-21 12:08] Nautiyalsachin commented on #224
Try updating Razorpay plugin and also ensure that you have the framework added in **Frameworks, Libraries, and Embed Content** under **Target settings** - **General**. Change Embed status from - **'Do not Embed'** to **'Embed & Sign'**.

[2019-10-22 20:45] ashwingattani commented on #184
Anybody got any luck on this?

[2019-10-22 20:50] ashwingattani commented on #104
@arjithn / @09user, did you guys find any resolution to this error? My app is working fine on the iOS front but gives undefined error on the Android platform.
@iThink32, can you help to provide integration docs for Android as well? Thanks.

[2019-10-24 08:28] sandeepsingh91 opened #227 "Invariant Violation: Native module cannot be null."
Unhandled JS Exception: Invariant Violation: Module AppRegistry is not a registered callable module (calling runApplication)

[2019-10-24 08:42] devashishsethia opened #228 "linker command failed with exit code 1 (use -v to see invocation)"
Hi,

I'm getting the following error when trying to build my project.

<img width="698" alt="Screenshot 2019-10-24 at 1 21 30 PM" src="https://user-images.githubusercontent.com/17251082/67464602-4320e280-f661-11e9-8774-85dfe78bfa31.png">

<img width="753" alt="Screenshot 2019-10-24 at 2 11 46 PM" src="https://user-images.githubusercontent.com/17251082/67468513-41a6e880-f668-11e9-88a0-e98fc4d1c084.

[2019-11-01 12:38] morfsys commented on #63
Please re open this, I've added the framework and also that url in framework search path, Still I get this error
<img width="788" alt="Screenshot 2019-11-01 at 6 06 34 PM" src="https://user-images.githubusercontent.com/25836296/68025405-a69ab800-fcd2-11e9-9a37-616e812dc16d.png">

[2019-11-01 12:44] morfsys opened #230 "[iOS]: Could not find or use auto-linked framework 'Razorpay'"
I am getting this error:
<img width="1133" alt="Screenshot 2019-11-01 at 6 09 57 PM" src="https://user-images.githubusercontent.com/25836296/68025477-db0e7400-fcd2-11e9-8325-359e066f2694.png">

I've followed all the steps as mentioned in this link: https://github.com/razorpay/react-native-razorpay/wiki/Manual-Installation

Here are screenshots of each step:
<img width="271" alt="Screenshot 2019-11

[2019-11-02 07:49] dileepkumarbenbanshi commented on #83
I have do this but not solve

[2019-11-02 07:50] dileepkumarbenbanshi commented on #83
I have do all possibility but facing same problem can you help me plz

[2019-11-02 08:05] Nautiyalsachin commented on #83
@dileepkumarbenbanshi, What Xcode version are you using?

[2019-11-04 10:17] tejas-freo opened #231 "dyld: Library not loaded: @rpath/Razorpay.framework/Razorpay image not found"
My Xcode Version 11.2 (11B52) Swift version 5.1.2 react-native-razorpay version 2.1.31. I have followed all the steps of adding framework and enabling the swift libraries yet having the same issue. Kindly suggest the solution

[2019-11-04 10:32] Nautiyalsachin commented on #231
For Xcode 11, ensure that you have the framework added in Frameworks, Libraries, and Embed Content under Target settings - General. Change Embed status from - 'Do not Embed' to 'Embed & Sign'.

[2019-11-04 10:34] tejas-freo commented on #231
Thanks issue is fixed

[2019-11-04 10:34] #231 closed

[2019-11-06 04:21] Coppercodes1 opened #232 "found an unexpected Mach-O header code: 0x72613c21 in Xcode 11"
Archiving the project works well. But when I tried distributing I get the error " found an unexpected Mach-O header code: 0x72613c21 ". After googling, the solutions said I need to remove the framework from embedded frameworks. If I remove it, the disappears but the app does not work.

[2019-11-07 06:23] rahul0090392 commented on #22
Did all the steps give in above video @iThink32 . But build fails with error Library not found for - IDoubleConversion

[2019-11-11 10:47] tejas-freo commented on #232
I am also facing the same issue.

[2019-11-11 12:06] Nautiyalsachin commented on #232
Please try the latest version, i.e. - 2.1.31

[2019-11-11 12:30] tejas-freo commented on #232
I am already using the version mentioned. Any other solution please

[2019-11-12 08:11] SaravananRath opened #233 "Payment Failed with following response"
{
'code': 0,
'details': {'name': '*****', 'email': '********', 'contact': '**********'},
'description': 'Webview error The operation couldn’t be completed. (NSURLErrorDomain error -999.)'
}

Could anyone explain the reason for failure?

[2019-11-12 09:39] Coppercodes1 commented on #232
Fixed it by adding the framework using cocoapods.
Add the following line in the podfile and update pod.
pod 'razorpay-pod', :git => 'https://github.com/razorpay/razorpay-pod.git',  :branch => 'swift5.1'.
Dont forget to link it.

[2019-11-13 05:21] tejas-freo commented on #232
Is there any solution without using podfile because my project I am not using any pods

[2019-11-14 02:23] pawanvivekananda opened #234 "App crashes after payment response android"
react: 16.9.0
react-native: 0.61.2
react-native-razorpay: 2.1.31

Got payment response app crashes before returning to actual app from razorpay UI.

Using below sample code

[code]

[2019-11-16 23:08] sdasari2 opened #235 "Getting a Blank Screen for a while before rendering razorpay content"
After `RazorpayCheckout.open`, the modal opens and displays white screen for a while before showing razorpay checkout. Is it possible to improve the performance or at least is there a way to add a spinner so that user feels something is loading instead of a blank white screen.

Please checkout the below video.
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/14313474/69000345-1c

[2019-11-18 19:28] nsrivastav commented on #174
Hi,

I am getting the following warning "Not running swift-stdlib-tool: ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES is enabled, but the product type 'Static Library' is not a wrapper type."

Even if I ignore this warning and try to upload the app to App Store, it says that the SwiftSupport Folder is empty.

I am using ionic 3.
Xcode: 10.1
MacOS: 10.13.6

Please help as my app is not getting uploaded.

T

[2019-11-19 16:13] yurkagon commented on #227
Any ideas?

[2019-11-20 07:10] ankitkachhwaha commented on #128
Hi @iThink32  I am facing same issue what @kapil019 facing i show all video of razor pay but it didnt work for me is affecting to my release please help for it

/Users/cintana/Library/Developer/Xcode/DerivedData/Boonbox_Consumer-dpyknhwvgojmuzcbwsyasxwkhnep/Build/Intermediates.noindex/ArchiveIntermediates/Boonbox Consumer/InstallationBuildProductsLocation/Applications/Boonbox Consumer.app/Framewor

[2019-11-22 20:48] Laneone commented on #234
react-native: 0.61.2
has to be version 0.58 for razorpay to work

[2019-11-24 00:07] sdasari2 commented on #235
Any updates on this..?

[2019-11-25 08:37] AshishCd opened #236 "[Need clarification] Why is the discrepancy between module names and module import"
I have used razorpay integration around 5-6 months ago and it was react-native-razorpay while currently on npm it is react-native-customui. Can anyone clarify why it is like that ? is there any updates in react-native-customui ?

It's a bit confusing module name.

![image](https://user-images.githubusercontent.com/39944703/69524662-8e921d80-0f8c-11ea-824b-1324a586847e.png)

[2019-12-03 05:44] srinivas-learnyst opened #237 "Pay button is missing in payment gateway"
On proceeding to payment, the pay button is not displayed
<img width="960" alt="payButton_Razorpay" src="https://user-images.githubusercontent.com/53288430/70023638-17790c80-15be-11ea-8e03-418243993243.png">

[2019-12-03 07:31] rizwan92 commented on #64
I have integrated external wallet paytm  in my checkout like example
when I check out in my app. SDK lists the paytm wallet but did not check out it.
when I click on paytm wallet then checkout process sudden stops it did not give any response or error

[2019-12-03 09:03] prateekchachra opened #238 "Failed to verify bitcode: Linker option verification failed for bundle"
There's an error occuring while trying to build an IPA archive in XCode.

error: Linker option verification failed for bundle /var/folders/gp/n_......./Razorpay.arm64.xar (unrecognized arguments: -platform_version iOS 10.0.0 13.0.0)

I'm using XCode 10 with react-native version 0.60.3 and react-native-razorpay 2.1.30. Our release is stuck because of this issue, please help.

[2019-12-03 10:19] Mayur-Wadpalliwar commented on #64
@rizwan92 Razorpay will just give you the control in the handler function where you would need to write your own logic to perform any action. You may refer this: https://razorpay.com/docs/payment-methods/wallets/external-wallets/ for more info

[2019-12-09 09:00] amalantony commented on #224
@Nautiyalsachin I don't find an option called RazorPay framework in the list to add under Frameworks, Libraries, and Embed Content. I've tried adding libRazorpayCheckout.a to the list but I get the image not found error.

![image](https://user-images.githubusercontent.com/1932506/70421678-44cb2c00-1a90-11ea-8a21-cbc47dc3171f.png)

[2019-12-09 09:15] amalantony commented on #224
Okay, got this issue resolved.

 Basically in **Frameworks, Libraries, and Embed Content** under **Target settings - General** click on `+`.  In the popup, click on Add Other -> Add Files. Then navigate to `node_modules/react-native-razorpay /ios` and select the Razorpay.framework folder. Then do the build again with Command - r.

This should fix the issue.

[2019-12-09 10:07] RishavKumar-3796 commented on #176
@pronav Why is this closed ?
I am also facing this same issue and this is the error response.

Assertion failed: Expected 4 archs in otool output:
/var/folders/ql/jt0twk5s2_9gzfzhzzy7gmxw0000gn/T/IDEDistributionOptionThinning.~~~ffvS09/Payload/FrendyAppDesign.app/Frameworks/Razorpay.framework/Razorpay:

Mach header
      magic cputype cpusubtype  caps    filetype ncmds sizeofcmds      flags
MH_MAG

[2019-12-09 13:05] RishavKumar-3796 commented on #230
+1

[2019-12-11 14:14] srinivaassunil commented on #228
Hi,
Facing same issue in Xcode 11.2.1. Getting the same error but with ` for architecture armv7`. Please help

[2019-12-12 05:39] iamshadmirza commented on #230
+1

[2019-12-13 04:37] IntelliJAbhishek opened #239 "RN 0.60+ autolinking support for IOS"
This library working fine with android in projects that created with RN 0.60+ but on IOS we need to link via react-native link react-native-razorpay. I guess it can be done using podspec file which other libs do.

Is there any plan for support autolinking ios?

[2019-12-13 04:49] maskedTitan commented on #239
Hi Abhishek,

Yes, currently for iOS you'd have to manually link our framework using `react-native link react-native-razorpay`
We are working on making this automated as well post which the above step of manual linking can be avoided.

[2019-12-13 14:35] misaalturakhia commented on #227
You need to run react-native link react-native-razorpay

[2019-12-16 07:17] #239 closed

[2019-12-16 13:33] MITDD6338 opened #240 "Payment Amount Is Not Proper Show"
![paymentShow1](https://user-images.githubusercontent.com/31823903/70910090-fa6c2100-2034-11ea-8b9b-932533c7e913.png)

Hello @razorpay
**payment Screen is  failing for some Value** like
I click on pay now and pass on the amount String Format
but when Open Razor pay screen my actual  amount is not show
and the wrong amount show.
I get no payment failed message with no description of the error and I

[2019-12-16 17:01] Pawanjot3015 commented on #149
Go to Targets->Project Name->Build Settings. Simply search in there for FRAMEWORK_SEARCH_PATHS
Add $(SRCROOT)/../node_modules/react-native-razorpay/ios

Should be resolved.

[2019-12-19 11:37] developerashish01 commented on #235
any update?

[2019-12-20 04:59] #240 closed

[2019-12-21 07:01] karan-gujral commented on #235
I added a Loader on top of the screen to show the user some activity. The loader plays for a static 5 secs and disappears. Improves the user expirience (in most cases). Can't find any other better way to handle this.

[2019-12-22 23:04] bijuC1983 commented on #121
@iThink32 We are facing the same issue in iOS and we are not using expo. We are using package version 2.1.31. Please note it was working fine for us and this started appearing all of a sudden without any changes to the checkout code.

[2019-12-23 09:20] maskedTitan commented on #121
@bijuC1983 Can you please push your code to GitHub so that we can check?

[2019-12-23 10:14] IamDhana commented on #219
Is this issue fixed in the latest version or still we need to use the 2.0.18 version of react-native?

[2019-12-23 13:12] IamDhana opened #241 "React Native IOS not working - No podspec file was found"
**Version**
React Native 0.61.2
react-native-razorpay 2.1.31

**Steps Followed**

- npm install react-native-razorpay --save

- react-native link react-native-razorpay

- cd ios && pod install

**Getting the following error**

[!] use_native_modules! skipped the react-native dependency 'react-native-razorpay'. No podspec file was found.
    - Check to see if there is an updated version that contai

[2019-12-23 13:25] IamDhana commented on #230
+1

[2019-12-23 15:55] maskedTitan commented on #230
Could you please push your code to GitHub so that we can get this checked at our end?

[2019-12-27 06:11] karthikmandava7 opened #242 "'Razorpay/Razorpay-Swift.h' file not found"
![Screen Shot 2019-12-27 at 11 39 26 AM](https://user-images.githubusercontent.com/23091328/71504007-9ac80e00-289d-11ea-82de-37c71ce848bc.png)
I'm trying to integrate React Native SDK for Custom UI, but it's not working as expected. Maybe I've done wrong in any place in the integration process, but I'm unable to find out exactly the issue. Can you please help.
Xcode - Version 11.2.1 (11B53)
 "reac

[2019-12-29 18:39] smahajan28 commented on #235
Hi devs!
What`s the status of this issue.. White screen for a Long time looking so odd. Please fix it asap!

[2019-12-31 11:31] mamta-deswal commented on #219
Razor pay not working in react-native version 0.61.5. Android app crash on razorpayCheckout.open.
 var options = {
      description: 'Credits towards consultation',
      currency: 'INR',
      key_id: 'my key id',
      amount: '5000',
      email: 'mamta.d55@test.com',
      contact: '999999999',
      method: 'netbanking',
      bank: 'HDFC'

    }
    RazorpayCheckout.open(options).then((data

[2020-01-03 12:09] Anujmoglix commented on #60
I am also facing this issue . Any solution for this ?

[2020-01-07 10:07] sid-metiz opened #243 "Undefined symbol: _OBJC_CLASS_$__TtC8Razorpay8Razorpay"
I am Using XCode 11 and Having Issue like this

[2020-01-07 10:27] Nautiyalsachin commented on #243
Can you follow these steps which are mentioned here  https://github.com/razorpay/react-native-razorpay/issues/63

[2020-01-07 10:31] sid-metiz commented on #243
Yes i follow
Still same issue

[2020-01-07 10:32] sid-metiz commented on #243
Can you help me using team viewer for resolving this issue?

[2020-01-07 11:21] ppritesh commented on #241
Same issue for me

[2020-01-08 05:35] sid-metiz commented on #243
Hii any Update?

[2020-01-08 06:01] Nautiyalsachin commented on #243
Can you tell me what all steps you followed to integrate Razorpay in your project ?

[2020-01-08 11:53] sid-metiz commented on #243
At the final i solved error.. But In Simulator have error but its working in real devices..

[2020-01-08 11:53] #243 closed

[2020-01-10 04:42] tejas-freo commented on #241
Same issue for me any solutions for this?

[2020-01-10 06:53] ppritesh commented on #241
create new file into  node_modules/react-native-razorpay/**react-native-razorpay.podspec**

then copy and paste following code into react-native-razorpay.podspec
[code]
then try

[2020-01-10 06:58] ppritesh commented on #241
create a new file into node_modules/react-native-razorpay/**react-native-razorpay.podspec**

copy and paste the following code into react-native-razorpay.podspec file.

[code]
then try

[2020-01-12 19:10] knifedge commented on #219
I am facing same issue as @mamta-deswal. Any solution ?

[2020-01-17 11:31] chandrasekarvogo commented on #227
what is the solution

[2020-01-17 12:01] maskedTitan commented on #227
@chandrasekarvogo As mentioned above you'd have to manually link razorpay using `react-native link react-native-razorpay`

[2020-01-17 15:54] #227 closed

[2020-01-18 12:40] michaelspeed commented on #174
facing the same issue
![Screenshot at Jan 18 18-06-28](https://user-images.githubusercontent.com/1447958/72663885-8e0e8400-3a1d-11ea-9c89-beabb8c2e98c.png)
![Screenshot at Jan 18 18-08-15](https://user-images.githubusercontent.com/1447958/72663890-9666bf00-3a1d-11ea-9b8d-ca826439fd57.png)
![Screenshot at Jan 18 18-06-15](https://user-images.githubusercontent.com/1447958/72663893-9961af80-3a1d-11ea

[2020-01-21 12:05] Nautiyalsachin commented on #242
Hi @karthikmandava7. We have released an upgraded version (i.e. 2.1.2). Can you please update and let me know your response.

[2020-01-21 19:59] prataprish007 commented on #242
i am getting same error in current version

[2020-01-22 06:19] Nautiyalsachin commented on #242
Are you following these steps - https://github.com/razorpay/react-native-razorpay/wiki#installation-steps. ?

[2020-01-22 11:14] prataprish007 commented on #235
please provide update on this.

[2020-01-22 12:56] Nautiyalsachin commented on #235
Working on it. We are going to release a new version with the Auto linking enabled.

[2020-01-24 12:15] rfaturahman25 commented on #238
same trouble here

[2020-01-28 09:37] SahilKKothari commented on #174
@michaelspeed still you facing issue related to image not found?

[2020-01-28 11:19] Nautiyalsachin commented on #174
@michaelspeed try to include Razorpay.framework in **Target > General Settings> Framework, Libraries and Embedded Content** section, set the **Embed** status of Razorpay.framework to **Embed & Sign.** If the framework is not there then Drag the Razorpay.framework file from the Libraries folder and drop it under the root folder.

[2020-01-28 11:20] Nautiyalsachin commented on #242
Closing this due to inactivity. You can always open the issue again.

[2020-01-28 11:20] #242 closed

[2020-01-28 11:31] Nautiyalsachin commented on #241
@tejas-freo: We are releasing a new version after few days, which will include the support for 0.60 and above.

https://github.com/razorpay/react-native-razorpay/issues/202

[2020-02-03 05:27] naman101 commented on #241
@Nautiyalsachin Do we have an ETA on this?

[2020-02-03 05:31] tejas-freo commented on #241
Working fine thanks for help

[2020-02-06 10:40] naman101 opened #246 "How would I go about implementing custom checkout?"
I would like to implement custom checkout, i.e, have my own UI and then redirect to the respective payment gateways/websites/apps, is that possible?

[2020-02-07 13:18] Nautiyalsachin commented on #246
Hey Naman,

Can you help me understand your use case for using Custom UI (what does Razorpay's Standard Checkout not provide). In case you would still like to go through with Custom here's how you do it:

You can get the current package for Custom UI from here - https://www.npmjs.com/package/react-native-customui

Follow these steps mentioned here -

https://github.com/razorpay/react-native-razorp

[2020-02-10 07:08] naman101 commented on #246
@Nautiyalsachin Thanks.

We would just like to implement our own UI for checkout instead of showing the razorpay dialog.

Does the npm package not support automatic linking?

[2020-02-10 07:48] Nautiyalsachin commented on #241
@naman101, I have integrated the changes into master. You can install this package from here.
This packages is still needs to be published on npm.
Let me know if you still unable to integrate it or face any issues.

[2020-02-12 05:57] karthikmandava7 opened #247 "UI went wrong on Top-notch iPhones"
* **Specific to iOS Users:-**
Everything working fine only issue with UI in Top-notch phones for iOS Devices. Is there any updated SDK for this?

[2020-02-12 06:51] Nautiyalsachin commented on #241
We have published a new package version to nom

[![NPM](https://nodei.co/npm/react-native-razorpay.png?downloads=true)](https://nodei.co/npm/react-native-razorpay/).

[2020-02-12 06:51] #241 closed

[2020-02-12 06:54] Nautiyalsachin commented on #246
Not for Custom-UI, you can always go for Razorpay's Standard Checkout. We have released the latest version 2.1.32 and it is supported with Auto linking.

[2020-02-12 06:54] #246 closed

[2020-02-12 10:24] Nautiyalsachin commented on #247
@karthikmandava7: Can you tell me more details for replicating this issue ?

1. Which iOS version are you using ?
2. Is it a simulator or a physical device ?
3. Which version are you using for Razorpay package?

Also try to update your package to the latest one and follow [sample code](https://github.com/razorpay/react-native-razorpay/blob/master/example/SampleProject/App.js) for open method.

[2020-02-12 10:34] karthikmandava7 commented on #247
1. iOS 13 and 11.2.
2. in Both.

[2020-02-12 14:31] Nautiyalsachin commented on #238
Hi guys, please update your Xcode to the latest version i.e. - Xcode 11.3. As in react-native-razorpay supports the latest version of Swift and your Xcode is outdated for that, if you want to support the older version of swift, then try to install older packages.

Best way to solve this issue will be updating your Xcode. Let me know if you guys still facing some issue.

[2020-02-12 14:34] Nautiyalsachin commented on #237
Hi @srinivas-learnyst : Can you give me more details here, also add the steps to replicate this issue.

Also can you give us the passed options here.

[2020-02-12 14:42] Nautiyalsachin commented on #236
Well both packages are different, and **react-native-customui** is under maintenance right now, you can follow [this link](https://www.npmjs.com/package/react-native-razorpay) for installing and updating your package and make it more future proof. Also, we have released the latest package 2.1.32 with Auto linking.

We would really like to hear from you about that.

[2020-02-12 14:42] #236 closed

[2020-02-12 14:59] Nautiyalsachin commented on #233
Can you give us more details here as it still looks incomplete, You can add pieces of information like package version, package name, platform name, also passed options in open method for replicating the issue.

[2020-02-12 15:23] Nautiyalsachin commented on #158
If you guys are still facing the issue, then please update your current package to the latest one i.e. 2.1.32.

Closing this issue due to the time elapsed. Please feel free to either re-open the issue or create a
new issue if you have any additional queries.

[2020-02-12 15:23] #158 closed

[2020-02-12 15:24] Nautiyalsachin commented on #193
@venky2604 : Auto Linking is supported now in the latest version i.e. 2.1.32.

Closing this issue due to the time elapsed. Please feel free to either re-open the issue or create a
new issue if you have any additional queries.

[2020-02-12 15:24] #193 closed

[2020-02-12 15:29] Nautiyalsachin commented on #200
Closing this issue due to the time elapsed. Please feel free to either re-open the issue or create a
new issue if you have any additional queries.

[2020-02-12 15:29] #200 closed

[2020-02-12 15:30] Nautiyalsachin commented on #196
Closing this issue due to the time elapsed. Please feel free to either re-open the issue or create a
new issue if you have any additional queries.

[2020-02-12 15:30] #196 closed

[2020-02-12 15:31] Nautiyalsachin commented on #202
Hi @sujalbinno, @sivakumar-cf : We have updated our Razorpay package to 2.1.32, which supports Autolinking please updated it to that and let me know your response.

[2020-02-12 15:31] #202 closed

[2020-02-12 15:34] Nautiyalsachin commented on #212
Hi @ajith8291: please update the current SDK and also I would suggest you use cocoa pods for installing Razorpay SDK as it will eliminate the use of run script and it will be a more easier process for you.

Closing this issue due to the time elapsed. Please feel free to either re-open the issue or create a
new issue if you have any additional queries.

[2020-02-12 15:34] #212 closed

[2020-02-12 15:35] Nautiyalsachin commented on #219
Hi Guys, we have updated our package to 2.1.32 which supports Auto linking and it also supports 0.60+ react-native versions. Please follow the updated readme.

Closing this issue due to the time elapsed. Please feel free to either re-open the issue or create a
new issue if you have any additional queries.

[2020-02-12 15:35] #219 closed

[2020-02-12 15:36] #214 closed

[2020-02-13 12:07] SatyaRedian commented on #174
I am also facing issue in ios: dyld: Library not loaded: @rpath/Razorpay.framework/Razorpay
Reason: image not found, i am using latest react native and latest npm version. Please suggest solution, it is hampering our business.

[2020-02-13 12:27] Nautiyalsachin commented on #174
@SatyaRedian : Which version are you using of react-native-razorpay, also please check the new [Auto Link](https://github.com/razorpay/react-native-razorpay#automatic) for integrating the new SDK.

[2020-02-13 13:01] SatyaRedian commented on #174
Thank you for your reply @Nautiyalsachin, I am using "react-native-razorpay": "^2.1.32", version and "react-native": "0.60.5", but only i am getting same issue.

[2020-02-13 13:13] Nautiyalsachin commented on #174
@SatyaRedian: Have you tried the mentioned step from [here](https://github.com/razorpay/react-native-razorpay#automatic), mentioned in Readme?

[2020-02-13 13:30] SatyaRedian commented on #174
Yes, @Nautiyalsachin , in Android it is working but in iOS getting same error.

[2020-02-14 04:22] SahilKKothari commented on #174
@SatyaRedian which version of Xcode you are using? You can refer provided link for more clarification [https://github.com/agileinfoways/RazorPayDemo/blob/master/README.md](url)

Let me know if you still facing issues after following steps that I provided in demo.

[2020-02-14 06:43] Nautiyalsachin commented on #174
@SatyaRedian : I'll suggest you create a sample app first and try to replicate it in that.

Here are the steps you can follow : -
1. Create a sample app.
2. `npm install react-native-razorpay --save`
3. `cd ios && open podfile` #Change the platform from iOS 9.0 to 10.0
4. `pod install && cd ..`#CocoaPods on iOS needs this extra step
5. `yarn react-native run-ios`#run

[2020-02-14 06:53] SatyaRedian commented on #174
Thank you @SahilKKothari @Nautiyalsachin, I am using Xcode: Version 10.1 (10B61) and follow these steps:

1. npm install react-native-razorpay --save
2. cd ios && open podfile #Change the platform from iOS 9.0 to 10.0
3. pod install && cd ..#CocoaPods on iOS needs this extra step
4. yarn react-native run-ios#run

But i am getting : dyld: Library not loaded: @rpath/Razorpay.framework/Razorpay
Reaso

[2020-02-14 07:50] ankitkumar003 commented on #63
Razorpay Version: 2.1.32
Xcode: 11.2.1

Error: clang: error: no such file or directory: '/Users/ankit/Library/Developer/Xcode/DerivedData/Panasonic_MTP_RN-hfrkrwdcstywuqgdvsifxtbhscqz/Build/Products/Debug-iphonesimulator/libRazorpayCheckout.a'
Command Ld failed with a nonzero exit code

Almost tried everything, framework path, Always Embed Libraries, linking process.
Although, removing "libRazorpa

[2020-02-14 07:55] ankitkumar003 opened #248 "error: no such file or directory /libRazorpayCheckout.a"
Razorpay Version: 2.1.32
Xcode: 11.2.1

Error: clang: error: no such file or directory: '/Users/ankit/Library/Developer/Xcode/DerivedData/Panasonic_MTP_RN-hfrkrwdcstywuqgdvsifxtbhscqz/Build/Products/Debug-iphonesimulator/libRazorpayCheckout.a'
Command Ld failed with a nonzero exit code

Almost tried everything, framework path, Always Embed Libraries, linking process.
Although, removing "libRazorpa

[2020-02-14 08:04] Nautiyalsachin commented on #174
@SatyaRedian : Please update your Xcode to the latest 11.3, the SDK is not supported for Xcode 10.1, you have to update it to the latest version and if you use Cocoapods then these issues won't be there.

[2020-02-14 08:54] SahilKKothari commented on #174
@SatyaRedian : Please update to Xcode 11.1 or newer version.

[2020-02-14 08:56] SatyaRedian commented on #174
Okay, Sure I will upgrade and get back to you.

[2020-02-14 09:26] Nautiyalsachin commented on #248
Hi, @ankitkumar003 Have you tried with Auto linking option? Also, try to download the latest Xcode i.e. 11.3 and try it again.

[2020-02-14 10:25] Nautiyalsachin commented on #230
Hi, Please try the whole process with Auto Link which is introduced in 2.1.32. Also please follow updated Readme.

[2020-02-14 10:25] Nautiyalsachin commented on #230
Closing this due to inactivity. You can always open the issue again.

[2020-02-14 10:25] #230 closed

[2020-02-14 10:38] srinivas-learnyst commented on #237
This used to happen in the older version, in the recent update the same issue occurs when a user makes a payment using "PREFERRED PAYMENT METHODS".
I have attached the screenshot for your reference.
Note: I am currently using the gateway in test mode.

![Screenshot (4)](https://user-images.githubusercontent.com/53288430/74523982-355ed800-4f44-11ea-8c05-3423e3ccc30b.png)

[2020-02-14 10:42] umanghome commented on #237
@srinivas-learnyst, can you drop an email to umang.galaiya@razorpay.com? I need more details to be able to reproduce this.

[2020-02-14 10:44] sejalthesiya commented on #212
can you please  help me to resolve this same issue

[2020-02-14 11:04] ankitkumar003 commented on #248
Not sure but I think Xcode 11.3 won't make any difference but will try that too..

Auto linking - Yes, Tried Automatic process but No luck...

Actually this project is not using pod file, so I have followed these steps, given on official site
https://razorpay.com/docs/payment-gateway/react-native-integration/standard/#step-2---link-the-sdk-with-react

[2020-02-14 13:19] vamshi9666 commented on #112
how did it resolve ?

[2020-02-14 14:23] Nautiyalsachin commented on #112
Update it to the latest version of react-native-razorpay. Also use cocoapods for the Auto Linking.

[2020-02-18 09:09] SatyaRedian commented on #174
Xcode 11.1 or newer version working perfectly. Thank you @RazorTeam.

[2020-02-18 14:28] karthikmandava7 commented on #247
@Nautiyalsachin any update on this?

[2020-02-19 05:56] Nautiyalsachin commented on #247
Custom UI is still in maintenance, we will update you as soon as it's fixed.

[2020-02-19 06:00] Nautiyalsachin commented on #248
@ankitkumar003 : We are updating our documentation soon, try to update your Xcode to the latest as the Swift version is not matching with the framework Swift version.

[2020-02-19 06:32] #174 closed

[2020-02-19 06:37] Nautiyalsachin commented on #224
Also, try to install the latest version of react-native-razorpay, it enables Auto-linking.

[2020-02-19 06:37] #224 closed

[2020-02-19 06:41] Nautiyalsachin commented on #221
We have released the latest version react-native-razorpay 2.1.32 which supports Auto Linking.

Closing this issue due to the time elapsed. Please feel free to either re-open the issue or create a
new issue if you have any additional queries.

[2020-02-19 06:41] #221 closed

[2020-02-19 08:25] Nautiyalsachin commented on #212
@sejalthesiya : Have you tried this with the latest react-native-razorpay 2.1.32 plugin ?

[2020-02-20 10:10] PriyaKailash commented on #184
I am facing same error undefined (**"TypeError: null is not an object(evaluating '_reactNative.NativeModules.RazorpayCheckout.open')"**) in react-native( expo detach ) on windows. is their any solution

[2020-02-20 11:29] Nautiyalsachin commented on #184
Hi @PriyaKailash, we don't support Expo as mentioned in [Readme](https://github.com/razorpay/react-native-razorpay#things-to-be-taken-care).

[2020-02-20 11:38] Nautiyalsachin commented on #184
Hi everybody, please update your package to the latest one, i.e. react-native-razropay 2.1.32.

Closing this issue due to time elapsed, feel free to reopen it or create a new issue for any other query.

[2020-02-20 11:38] #184 closed

[2020-02-24 09:26] ayusch-apps-curefit opened #249 "Getting success callback event for failed payment"
* **Common to Both platforms :-**

  - [x] I have gone through the README (https://github.com/razorpay/react-native-razorpay)
  - [x] I have searched for a similar issue (https://github.com/razorpay/react-native-razorpay/issues)
  - [x] I am using the latest version of our framework (https://github.com/razorpay/react-native-razorpay/releases)
  - [x] I have cleaned my project.
  - [ x I have gone

[2020-02-24 10:20] Nautiyalsachin commented on #249
Hi @ayusch-apps-curefit, can you provide more details here? Like the response of success callbacks and how to reproduce it.

[2020-02-24 10:28] ayusch-apps-curefit commented on #249
I've already mentioned the steps to reproduce it (Retro Steps).
Also, there isn't any specific response from the callbacks. I guess that the old callback subscription isn't getting removed somehow leading to multiple success callbacks from SDK.

[2020-02-24 10:44] Nautiyalsachin commented on #249
@ayusch-apps-curefit, have you tried updating current SDK to v2.1.32. As we have updated our package and provided support for AutoLink.

[2020-02-24 10:46] ayusch-apps-curefit commented on #249
Will it also address the problem above?

[2020-02-24 10:58] Nautiyalsachin commented on #249
I think so, as we have modified the current package.

[2020-02-24 14:19] sohel-khan opened #250 "dyld: Library not loaded: @rpath/libswiftCore.dylib"
`dyld: Library not loaded: @rpath/libswiftCore.dylib
  Referenced from: /Users/rohanray/Library/Developer/CoreSimulator/Devices/4DA0DFCB-510E-445E-9F06-5C4BBF8DDCD0/data/Containers/Bundle/Application/6B2004D6-5E51-4E4D-8547-306A20DEEB49/HotelBooking.app/Frameworks/Razorpay.framework/Razorpay
  Reason: image not found`

Versions:
xcode: Version 10.1
IOS: Version 10.13.6
"react-native-razorpay": "^2

[2020-02-25 06:52] Nautiyalsachin commented on #250
Hi @sohel-khan, Can you try to update your Xcode to the latest version and follow the same process again.

[2020-02-26 04:08] karthikmandava7 commented on #247
@Nautiyalsachin But this will not able to cancel the transaction on Top-notch iPhones. Can you suggest any temporary solution for this as we are releasing our new React Native App within 3 days.

[2020-02-26 13:03] sarikonda1 opened #251 "ld:framework not found razorpay_flutter"
![Screenshot 2020-02-26 at 6 25 50 PM](https://user-images.githubusercontent.com/20814709/75347099-10645080-58c6-11ea-956c-310e5f91a4b9.png)

Unable to find packages for razorpay_flutter in ios folder.
i tried every solution from this link(https://github.com/razorpay/react-native-razorpay/issues/149) but not found any solution please help me out from this problem.

[2020-02-26 14:35] sarikonda1 opened #252 "Undefined symbol: _OBJC_CLASS_$_GeneratedPluginRegistrant while building flutter app in ios"
![Screenshot 2020-02-26 at 8 01 24 PM](https://user-images.githubusercontent.com/20814709/75354443-fb41ee80-58d2-11ea-99cc-164b29bdc60c.png)

Undefined symbols for architecture arm64:
"_OBJC_CLASS_$_GeneratedPluginRegistrant", referenced from:
objc-class-ref in AppDelegate.o
ld: symbol(s) not found for architecture arm64
clang: error: linker command failed with exit code 1 (use -v to see invocatio

[2020-02-27 06:27] Nautiyalsachin commented on #252
@sarikonda1 : Please raise these issues on [razorpay-flutter](https://github.com/razorpay/razorpay-flutter).

Also as asked in the issue template can you share all the details so that we can have an overall idea about your system configuration and it can be an already raised issue?

[2020-02-27 06:34] Nautiyalsachin commented on #251
@sarikonda1 : This repo is for react-native-razorpay. Not for [razorpay-flutter](https://github.com/razorpay/razorpay-flutter). Please take a reference from there issue, it can mess up your code more.

Also, try to update your Xcode and try to integrate it again. I'll suggest you, try creating a sample app or try the example code from [here](https://github.com/razorpay/razorpay-flutter/tree/master

[2020-02-27 06:34] #251 closed

[2020-02-27 06:44] sarikonda1 commented on #252
what kind of details you need?

[2020-02-27 11:05] Nautiyalsachin commented on #252
@sarikonda1  : Here are the asked details -

* **Common to Both platforms :-**

  - [ ] I have gone through the README (https://github.com/razorpay/react-native-razorpay)
  - [ ] I have searched for a similar issue (https://github.com/razorpay/react-native-razorpay/issues)
  - [ ] I am using the latest version of our framework (https://github.com/razorpay/react-native-razorpay/releases)
  - [ ] I

[2020-03-05 11:34] raju7878 opened #253 "Facing an issue pasted Below after doing Archive and failed to Distribute App."
* **Common to Both platforms :-**

  - [ ] I have gone through the README (https://github.com/razorpay/react-native-razorpay)
  - [ ] I have searched for a similar issue (https://github.com/razorpay/react-native-razorpay/issues)
  - [ ] I am using the latest version of our framework (https://github.com/razorpay/react-native-razorpay/releases)
  - [ ] I have cleaned my project.
  - [ ] I have gone

[2020-03-05 11:36] raju7878 commented on #253
<img width="733" alt="Screenshot 2020-03-05 at 5 01 32 PM" src="https://user-images.githubusercontent.com/59197667/75977959-7888e700-5f03-11ea-9f0c-0d530ba65144.png">
Facing this error after doing Archive successfully and  when Distributing app.

[2020-03-05 12:38] Nautiyalsachin commented on #253
Can you try this solution mentioned [here](https://stackoverflow.com/questions/48921424/why-verify-your-bundle-identifier-org-cocoapods-alamofire-is-correct)?

[2020-03-08 10:31] Imfaizan opened #254 "Library not loaded"
Versions:
xcode: Version 11.3.1
IOS: Version 13.3.1
"react-native-razorpay": "^2.1.32"
"react-native": "0.61.5"

Getting below error when i try to run from x-code to real device integration through usb. ****Works fine on simulator**. ****Issue comes only when we run on real device through usb.**

d****yld: Library not loaded: @rpath/Razorpay.framework/Razorpay

  Referenced from: /private/var/cont

[2020-03-09 07:11] Nautiyalsachin commented on #254
Hi @Imfaizan : Can you try the solutions from this link as mentioned [here](https://github.com/Alamofire/Alamofire/issues/3051). Let me know if it works for you.

[2020-03-09 07:15] Nautiyalsachin commented on #248
@ankitkumar003: We have updated our documentation with the new integration steps, feel free to use it.

[2020-03-09 07:15] #248 closed

[2020-03-09 07:15] Nautiyalsachin commented on #249
Closing this issue due to the time elapsed. Please feel free to either re-open the issue or create a
new issue if you have any additional queries.

[2020-03-09 07:15] #249 closed

[2020-03-09 07:17] Nautiyalsachin commented on #228
Hi @srinivaassunil, @devashishsethia: Please try our updated package for solving this issue.  react-native-razorpay -2.1.32.

Closing this issue due to the time elapsed. Please feel free to either re-open the issue or create a
new issue if you have any additional queries.

[2020-03-09 07:17] #228 closed

[2020-03-09 07:19] Nautiyalsachin commented on #232
Hi @tejas-freo : You can try manual linking as mentioned in the docs, also we recommend to use AUTO LINKING. Also, try our new and updated react-native-razorpay ~> 2.1.32.

Closing this issue due to the time elapsed. Please feel free to either re-open the issue or create a
new issue if you have any additional queries.

[2020-03-09 07:19] #232 closed

[2020-03-09 07:35] Nautiyalsachin commented on #233
Closing this issue due to the time elapsed. Please feel free to either re-open the issue or create a
new issue if you have any additional queries.

[2020-03-09 07:35] #233 closed

[2020-03-09 07:36] Nautiyalsachin commented on #238
Closing this issue due to the time elapsed. Please feel free to either re-open the issue or create a
new issue if you have any additional queries.

[2020-03-09 07:36] #238 closed

[2020-03-09 07:38] Nautiyalsachin commented on #250
Closing this issue due to the time elapsed. Please feel free to either re-open the issue or create a
new issue if you have any additional queries.

[2020-03-09 07:38] #250 closed

[2020-03-09 07:38] Nautiyalsachin commented on #253
Closing this issue due to the time elapsed. Please feel free to either re-open the issue or create a
new issue if you have any additional queries.

[2020-03-09 07:38] #253 closed

[2020-03-09 07:38] Nautiyalsachin commented on #252
Closing this issue due to the time elapsed. Please feel free to either re-open the issue or create a
new issue if you have any additional queries.

[2020-03-09 07:38] #252 closed

[2020-03-09 07:39] Nautiyalsachin commented on #180
Closing this issue due to the time elapsed. Please feel free to either re-open the issue or create a
new issue if you have any additional queries.

[2020-03-09 07:39] #180 closed

[2020-03-09 19:04] Imfaizan commented on #254
Thanks @Nautiyalsachin for the link and your quick response. It appears the issue is with free apple's developer account. It works fine on paid developer account. I didn't try useFramework solution  from below link though. But its working fine on Paid Apple Developer's Account.  https://github.com/Alamofire/Alamofire/issues/3051#issuecomment-580139830https://github.com/Alamofire/Alamofire/issues/3

[2020-03-09 19:04] #254 closed

[2020-03-11 12:23] harshalijain opened #255 "Country code issue on Razorpay checkout page"
## IDE Specs
Platform - Android
"react-native-razorpay": "^2.1.25",

We are facing an issue in Razorpay checkout recently related to contact number

When we do a razorpay checkout and pass following prefill details apart from other details:

[code]
On checkout page, phone number is modified to be displayed as
+09876598765 instead of +919876598765. And after making payment, an error is displaying t

[2020-03-18 11:37] imtiyazzzz commented on #255
I am also facing the same issue

[2020-03-18 19:33] iamromec commented on #60
@AbhinavArora95 I am not a Swift developer and I don't understand, "Locate the directory in which Razorpay.framework is present in the archive that you are trying to upload."

Could you please share specific steps? Also this FAQ step couldn't help: https://razorpay.com/docs/payment-gateway/ios-integration/faq/

I couldn't find the directory where Razorpay.framework is localited.

[2020-03-19 04:45] iamromec commented on #53
Facing the same problem with Ionic and couldn't fix with steps. :( Is there anyone could help through it?

[2020-03-19 07:47] Nautiyalsachin commented on #60
Hi @iamromec : Can you give me more details about this, Also it will help if you can add some logs or screenshots.

[2020-03-19 07:50] iamromec commented on #60
Sure. I've followed the FAQ and some other unlisted video to fix this but yet couldn't.

I have attached a couple of screenshots.
![Screenshot 2020-03-19 at 10 58 58 AM](https://user-images.githubusercontent.com/50284628/77043856-61a6c200-69e4-11ea-940c-0d1db1dc775c.png)
![Uploading Screenshot 2020-03-19 at 10.51.09 AM.png…]()

![Screenshot 2020-03-19 at 11 14 57 AM](https://user-images.githubuser

[2020-03-19 07:51] iamromec commented on #60
@Nautiyalsachin here's the video link I was asked to follow: https://www.youtube.com/watch?v=HVGUBRot7VA&feature=youtu.be but didn't work.

[2020-03-19 07:56] iamromec commented on #60
I'm using

IONIC Version: 5.0.0
XCode Version: 11.3
Razorpay Cordova Plugin Version: 1.4.8

[2020-03-19 08:02] Nautiyalsachin commented on #60
Can you tell me the steps, how you try to install the Razorpay plugin?

[2020-03-19 08:05] iamromec commented on #60
To install the plugin, I used:

ionic cordova plugin add com.razorpay.cordova

And then

ionic cordova build ios --prod

Then went to platforms/ios and clicked on .xcworkspace.

[2020-03-19 08:38] Nautiyalsachin commented on #60
I guess you are using Angular, as you have mentioned Cordova in the question, and for future references please raise the issue in [Razorpay Cordova](https://github.com/razorpay/razorpay-cordova) repository.

1. Try removing the current package and

2. Use `cordova plugin add https://github.com/razorpay/razorpay-cordova.git`

We are updating our cordova package soon. For now, you can install it dir

[2020-03-19 08:50] iamromec commented on #60
2. Use cordova plugin add https://github.com/razorpay/razorpay-cordova.git

This seems to be broken. I'm unable to install with this. It just stuck here only.

![Screenshot 2020-03-19 at 2 19 53 PM](https://user-images.githubusercontent.com/50284628/77048625-c108d000-69ec-11ea-94fd-4a7177a05a07.png)

[2020-03-19 08:54] iamromec commented on #60
Do I still need to add that script?

[2020-03-19 08:55] Nautiyalsachin commented on #60
Can you create a new project and try again. It's working for me here,

<img width="501" alt="Screenshot 2020-03-19 at 2 24 58 PM" src="https://user-images.githubusercontent.com/14342956/77049059-6b80f300-69ed-11ea-9e99-d422975533f2.png">

Also no need for the script and any extra step.

[2020-03-19 09:13] iamromec commented on #60
Ah! Man. With this, it conflicts with other plugins within the project. Like GooglePlus.

When I removed it and re-added the platform, it works fine. But not with the `cordova plugin add https://github.com/razorpay/razorpay-cordova.git`

![Screenshot 2020-03-19 at 2 33 09 PM](https://user-images.githubusercontent.com/50284628/77050529-e9de9480-69ef-11ea-8c0c-7e77d5d33860.png)

[2020-03-19 09:34] iamromec commented on #60
@Nautiyalsachin are you looking into?

[2020-03-19 09:41] Nautiyalsachin commented on #60
This is an iOS related issue. Follow the steps mentioned in this [link](https://github.com/razorpay/react-native-razorpay/issues/60#issuecomment-601079281), also please try to google the issues you face. Sometime you might get lucky there.

[2020-03-19 09:48] iamromec commented on #60
It isn't. It's occurring when I install the plugin with the URL you've mentioned. If I remove it, it works fine so it should be something with it I guess.

You are testing with sample project but in reality, there won't be a project just with only Razorpay plugin.

[2020-03-19 09:51] iamromec commented on #60
Why would I post here if I could just find it on Google? I did and sent you all the resources I find related to this. Even I've followed what your official docs say.

[2020-03-19 10:04] Nautiyalsachin commented on #60
@iamromec : As I can't see anything related to Razorpay, I won't be able to resolve this issue here, you can try it by searching in Google plus repositories for more details.

[2020-03-19 10:07] iamromec commented on #60
@Nautiyalsachin

What? Everything is working smoothly without the plugin with URL you've specified and when I do this, it creates conflicts and you're talking that it's not related to Razorpay? How so?

It works fine even with the existing plugin command cordova plugin add com.razorpay.cordova and just the problem is with the archive file.

Why are you not getting the point that it's obviously rel

[2020-03-19 10:21] Nautiyalsachin commented on #60
Okay, try adding the script again as I can see the simulator architecture in that. It will help you to archive the Google Plus framework.

[2020-03-19 10:23] iamromec commented on #60
Yeah but I'm unable to succeed with `ionic cordova build ios` command. Once it's done, then I could proceed with opening the .xsworkspace file and add the script.

[2020-03-19 10:36] Nautiyalsachin commented on #60
Have you already added the script?

[2020-03-19 10:43] iamromec commented on #60
No.

[2020-03-19 10:44] iamromec commented on #60
Is it possible for you to take this on TeamViewer?

[2020-03-19 11:24] Nautiyalsachin commented on #60
So, you are able to archive ?

[2020-03-19 11:26] iamromec commented on #60
Noooo, that's the problem. I'm seeing this error I've sent you via screenshots in the email when the validation part completes or distributing to the appstore.

![Screenshot 2020-03-19 at 11 14 57 AM](https://user-images.githubusercontent.com/50284628/77062776-8f026880-6a02-11ea-8399-f8ad8033c3fa.png)

[2020-03-19 11:28] iamromec commented on #60
The build is working on the simulator...it's just when distributing to the app store, it gives this error. I think you missed some parts of the problem which I've sent in the starting.

[2020-03-20 06:46] rajkumarc2000 commented on #255
I am also facing the same issue when trying to send money through razorpay

[2020-03-20 09:13] umanghome commented on #255
This has been fixed.

[2020-03-20 09:13] #255 closed

[2020-03-23 10:33] Nautiyalsachin commented on #60
Closing this issue as this is resolved.

[2020-03-23 10:33] #60 closed

[2020-03-26 09:57] uday5162 commented on #164
the issue still exists in react-native-razorpay: ^2.1.32,
works with this fix though

[2020-03-27 13:01] realabbas commented on #183
You don't have to change the razorpay module build.gradle file.

Change your project level **build.gradle file**

[2020-03-27 13:03] realabbas commented on #183
Change your project level **build.gradle** file.

[code]

Change the minimum sdk version to 19

[2020-04-03 11:03] roshansingh21 opened #256 "Use of undeclared identifier 'Razorpay' in RazorpayCheckout.m"
* **Common to Both platforms :-**

  - [x] I have gone through the README (https://github.com/razorpay/react-native-razorpay)
  - [x] I have searched for a similar issue (https://github.com/razorpay/react-native-razorpay/issues)
  - [x] I am using the latest version of our framework (https://github.com/razorpay/react-native-razorpay/releases)
  - [x] I have cleaned my project.
  - [x] I have gone

[2020-04-03 11:49] Nautiyalsachin commented on #256
Hi @roshansingh21: We are releasing a new version v2.1.33 for resolving this issue, it will be live soon.

[2020-04-03 12:04] roshansingh21 commented on #256
@Nautiyalsachin Thanks!

[2020-04-03 12:04] #256 closed

[2020-04-07 07:28] Nautiyalsachin commented on #235
This issue is been solved with v 2.1.33 release. After updating your package you will be able to see the loader.

[2020-04-07 07:28] #235 closed

[2020-04-10 22:06] jitendralakhmani-proptiger opened #258 "Unable to build iOS project, Xcode stucks while compiling react-native-razorpay module"
* **Common to Both platforms :-**

  - [x] I have gone through the README (https://github.com/razorpay/react-native-razorpay)
  - [x] I have searched for a similar issue (https://github.com/razorpay/react-native-razorpay/issues)
  - [x] I am using the latest version of our framework (https://github.com/razorpay/react-native-razorpay/releases)
  - [x] I have cleaned my project.
  - [x] I have gone

[2020-04-11 03:27] Nautiyalsachin commented on #258
Hi @jitendralakhmani-proptiger, Can you give me some more details or share some logs. Also, I will suggest you share the asked details whenever you create any issue. Feel free to try the sample app first before integrating it into your project.

[2020-04-11 19:26] jitendralakhmani-proptiger commented on #258
@Nautiyalsachin Thanks for responding. But I am unable to build my project (not even a new RN project with RN version 0.62 or 0.61) in iOS. It stucks while compiling library "react-native-razorpay" while building.. And then it gets stucks forever. I tried to build the sample project of lib, but I cant find a razorpay dependency in its package.json, so its gives error. unable to resolve react-nativ

[2020-04-13 05:21] Nautiyalsachin commented on #258
Hi @jitendralakhmani-proptiger, can you update your Xcode to 11+? It will be best if you try updating that too.

[2020-04-13 13:29] irishabhyadav90 commented on #258
Hi, im facing the same issue,  xcode build stucks while building react-native-razorpay

[2020-04-13 13:30] jitendralakhmani-proptiger commented on #258
@irishabhyadav90 what Xcode version are you using?

[2020-04-13 13:34] irishabhyadav90 commented on #258
im using Xcode version 10.3
and my React-native version in 0.61.5

[2020-04-15 07:25] jitendralakhmani-proptiger commented on #258
@irishabhyadav90 Yes, It worked by updating Xcode to 11.4. But I believe this lib should work for Xcode 10.4 as well.

[2020-04-15 08:32] Nautiyalsachin commented on #258
@jitendralakhmani-proptiger, This won't work on Xcode 10.3, From now onwards we are supporting Xcode 11+. Please always prefer the latest XCode for development.

Closing this issue, feel free to reopen if the Xcode update does not solve it.

[2020-04-15 08:32] #258 closed

[2020-04-15 08:35] jitendralakhmani-proptiger commented on #258
I believe this must be mentioned somewhere in Readme or Docs.

[2020-04-17 08:14] mohammedavez commented on #234
I am also have the same problem after successful transaction the app doesn't run the .then function it just reloads the app. It only happen sometimes

[2020-04-17 21:50] sayedIsaq commented on #153
I also got this issue did you find any solution

[2020-04-21 07:46] cursivedgreat commented on #243
Can you list the step to solve this issue ?

[2020-04-21 14:12] mehdihussain9 opened #259 "Refund is not working in react native"
hi, I am trying to add refund process in-app. it was not working and throwing the error" Please provide the API key for authentication purpose"  but I add my API key, please send an example regarding this problem.
thank you.

[2020-04-23 11:13] uday5162 opened #260 "RazorpayCheckout.open has ui issues in small screen, marshmellow devices"
* **Common to Both platforms :-**

  - [Yes ] I have gone through the README (https://github.com/razorpay/react-native-razorpay)
  - [Yes ] I have searched for a similar issue (https://github.com/razorpay/react-native-razorpay/issues)
  - [ Yes] I am using the latest version of our framework (https://github.com/razorpay/react-native-razorpay/releases)
  - [Yes ] I have cleaned my project.
  - [ Ye

[2020-05-01 14:43] knevagi opened #261 "React native app is crashing after confirming payment with razorpay test key?"
I am trying to implement UPI payment in my react native app but my app is crashing on successful payment even though I am getting a successful payment alert. I am using the customui SDK for implementing Razorpay payments. I am not getting any kind of exception or error, the app is just shutting down. I am using react native version 0.61.5 Any help would be appreciated. Thank you.

Checkout code

[

[2020-05-02 14:22] Balasnest commented on #177
Facing this in xcode 11.3.1 and swfit version used in framework is 4.2

Any workaround for this?

[2020-05-03 05:04] Nautiyalsachin commented on #177
Which react-native-razorpay are you using? Can you share the package version here? Thanks.

[2020-05-10 14:13] Karan-Chandwani commented on #261
Facing the same issue while using Standard SDK and RazoprpatCheckout.open method.

React Versions:
    "react": "16.11.0",
    "react-native": "0.62.2",

[2020-05-11 06:53] Nautiyalsachin commented on #261
Hi @Karan-Chandwani, @knevagi: Please provide the following asked details that were mentioned on issue template,
1. Please mention the environment where this error is coming. eg. iOS, Android.
2. Also,  includes steps that you followed to integrate the payment gateway.
3. If possible please add a sample app so that we can see the whole implementation and debug it for fast outputs.

[2020-05-11 13:11] knevagi commented on #261
@Nautiyalsachin
I am working on android platform. I simply followed the steps on razorpay docs for react-native-customui and imported Razorpay into my component

Version
[code]

Sample Component

[code]
Basically I am running the Razorpay. open function when the user clicks on the Pay Button. I am getting success alert but once I get the success pop up the app is crashing. Thank you.

[2020-05-20 07:30] samartu-labs opened #263 "UI sizing issue in Samsung Tablet"
Integrated Razor pay sample code to React native with changes key, Razor PG UI works as expected to most mobile resolutions except in samsung tablet, not sure about Razor UI behavior to similar resolutions.

**Ref:** Attached screenshot

**React Native version**: 0.62
**Android version:** 7.0
**Device:** Samsung Tab S2
_All settings set to Default including zoom_
**Defect Reproducible**: Always

*

[2020-05-22 04:51] samartu-labs opened #264 "[CRITICAL] Payment amt value mapping varies in RazorPay UI"
The Payment value defined to call Razor component and the value appears in Razor UI varies.
Eg.
if the amount sent as **Rs.1187** in the Razor UI it appear as **11.87** and it deductes same wrong value from bank or any payment method.
Refer attached screenshot with code integrated, note the highlighted area in the screenshot
![razorPay_bug](https://user-images.githubusercontent.com/55951359/826324

[2020-05-22 05:13] #264 closed

[2020-05-22 05:15] samartu-labs commented on #264
Closing the issue, since the payment to be sent in Paisa as per Doc
integer The transaction amount, expressed in the currency subunit, such as paise (in case of INR). For example, for an actual amount of ₹299.35, the value of this field should be 29935.

[2020-05-22 20:27] knevagi commented on #261
@Nautiyalsachin  Any Update?

[2020-05-24 08:02] Nautiyalsachin commented on #261
@knevagi, Have you tried the [Sample app](https://github.com/razorpay/react-native-razorpay/tree/master/example/SampleProject) yet? Try to run it locally and see the implementation, maybe there is something which you have missed.

[2020-05-24 17:49] sanjeevkse commented on #234
I am facing the same issue.

[2020-05-24 17:50] sanjeevkse commented on #234
Did this work for anyone?

[2020-05-24 18:28] sanjeevkse opened #265 "App is getting crashed in android when i call open function."
I am using "react": "16.11.0", "react-native": "0.62.1",

Anyone here to help me?

[2020-05-25 02:50] sanjeevkse commented on #265
Answering my own question.

This comment helped me a lot. Days of struggle.

https://github.com/razorpay/razorpay-flutter/issues/48#issuecomment-602994839

[2020-05-25 02:50] #265 closed

[2020-05-25 12:01] knevagi commented on #261
@Nautiyalsachin is the implementation same for react-native-customui as in the sample app?

[2020-05-26 03:16] tjvins commented on #263
Any updates team?

[2020-05-26 03:58] samartu-labs commented on #261
Observing same issue in production key, app crashing while executing Razor pay, refer attached screenshot about the details, no luck even after multiple retry, similar issue report from samsung tablet!
Dear Razor pay Developers,
Please do something
React Native version: 0.62
there is no additional code included, tried with code mentioned in the documentation except key change.
![Uploading Android_

[2020-05-28 07:44] Nautiyalsachin commented on #261
@knevagi : Yes it is.

@samartu-labs : Please try the step mentioned here -

https://github.com/razorpay/react-native-razorpay/issues/265

[2020-05-28 12:12] knevagi commented on #261
@Nautiyalsachin I tried the sample app. It works but for some reason, my app is crashing and everything looks fine to me. The payment is successful and it is getting recorded on the Razorpay dashboard but the app is crashing. When I logged the crash this is what came up
[code]
Are there any fields I am missing? Or something else that I can try?

[2020-05-28 19:10] devanshsadhotra25 commented on #164
Facing this issue,
patch by @philly25 fixes the issue but every time opening node modules is like digging the well.
Team Razor pay can we have a permanent fix for this?

[2020-05-31 14:06] knevagi commented on #261
@Nautiyalsachin do expo ejected  react native applications give problems with razorpay?

[2020-06-01 04:38] karthikmandava7 commented on #247
@Nautiyalsachin Any updates on this?

[2020-06-01 06:14] Nautiyalsachin commented on #247
@karthikmandava7 : I am still not able to replicate this issue. Can you please try to replicate it on the [Sample App](https://github.com/razorpay/react-native-razorpay/tree/master/example/SampleProject). Also please use the latest version of the package i.e. 2.1.3.

[2020-06-01 06:16] Nautiyalsachin commented on #261
@knevagi : We do not support Expo in our react-native plugin. As it won't allow us to use some of the native features which we are using in our SDKs.

[2020-06-01 06:40] knevagi commented on #261
@Nautiyalsachin But once the application is ejected from expo it should work, right? Can you please go over my code snippet and error log again and see if I am missing something?

[2020-06-01 07:01] Nautiyalsachin commented on #261
@knevagi : There might be some code in your codebase which is still auto-generated or might effected by the Expo. I'll suggest you create a new app and try to integrate our plugin if that goes well, you can than try to add the other functionalities.

[2020-06-08 22:48] Duveratech opened #266 "Hi can anyone please help me with how can i show paytm , AmzonPay and Ola Money(Postpaid+wallet) as payment option in my wallet section as for now i am only getting few wallet options ??"
Hi can anyone please help me with how can i show paytm , AmzonPay and Ola Money(Postpaid+wallet) as payment option in my wallet section as for now i am only getting few wallet options ??

I am getting this
![WhatsApp Image 2020-06-09 at 4 21 26 AM (1)](https://user-images.githubusercontent.com/57887973/84087908-cf252600-aa08-11ea-8ab8-3f4d255b4609.jpeg)

and i want like this
![WhatsApp Image 2020-

[2020-06-09 07:32] sanjeevkse commented on #261
I was having the similar issue. I disable the progard rules (minification) of script files in app/build.gradle
`def enableProguardInReleaseBuilds = false`

[2020-06-17 07:15] Nautiyalsachin commented on #261
@knevagi, you can follow steps given by @sanjeevkse. I am closing this issue for now, feel free to reopen it.

[2020-06-17 07:15] #261 closed

[2020-06-18 08:13] Reactongraph opened #267 "App is crashing on android phone when getting success response, getting failure response or canceling the payment page."
## Description

Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest React Native Razorpay plugin release to make sure your issue has not already been fixed.

## Razorpay Package Version :
Open `Package.json`. > Copy `react-native-razorpay` version here.

## Xcode Version (iOS) :
Open Xcode > Go to `About Xcode` > copy the X

[2020-06-18 08:17] Reactongraph opened #268 "App is crashing on android phone when getting success response, getting failure response or canceling the payment page."
Here is my configuration ===>

"react": "16.11.0",
"react-native": "0.62.0",
"react-native-razorpay": "^2.1.33"

Android Version: 5.1
Device: Oppo F1 S

How to replicate:

Created Order Id

then here is my front-end code

const RazorPayOptions = {
      description: "Your total amount to pay:",
      // currency: "INR",
      key: "----my key=---",
      order_id: "--myorder id here----"
    };

[2020-06-18 09:47] Reactongraph commented on #234
I am also having the same problem after a successful transaction the app doesn't close and after the canceling transaction it closed .then function it just reloads the app. It only happens sometimes.

[2020-06-26 06:27] SathishRonal opened #269 "Razorpay - Facing the issue image not loaded"
Referenced from: /Users/team/Library/Developer/CoreSimulator/Devices/FA7B164F-890A-48EC-AABC-7CCD6424199B/data/Containers/Bundle/Application/F0AEA122-EE6F-42A5-92C4-0B0949BD1F84/new.app/Frameworks/Razorpay.framework/Razorpay
  Reason: image not found
xcode version :- 11.3 (11C29)
Razorpay pod version :- razorpay-pod (1.0.22)

[2020-06-27 13:46] #269 closed

[2020-06-29 06:25] GorangV commented on #269
@SathishRonal Image not found is a generic error that Xcode throws when specific settings are not set while installing 3rd party SDKs.

Please ensure that Razorpay.framework is present in both the Embedded Binaries and Linked Frameworks in your project settings. Also ensure that Always Embed Swift Libraries is set to "yes" in the project settings. Please note, this issue might also arise because o

[2020-06-29 14:17] thhmoc67 opened #270 "image not found in react-native-customui"
## Package Version
"react": "16.11.0",
"react-native": "0.61.0",
"react-native-customui": "./../react-native-customui",

## Xcode Version (iOS) : 11.5

downloaded from Razorpay website and followed README.md
https://razorpay.com/docs/payment-gateway/react-native-integration/custom/

[code]

In android working but in ios getting this Error

[2020-06-29 19:19] SathishRonal commented on #269
@GorangV  issue fixed, thanks for your response ☺️

[2020-06-30 05:05] Nautiyalsachin commented on #270
Hi @thhmoc67, Can you follow the steps mentioned [here](https://www.npmjs.com/package/react-native-customui).

Let me know if this works for you.

[2020-06-30 13:35] thhmoc67 commented on #270
@Nautiyalsachin
followed given steps
-  npm install --save react-native-customui
-  cd ios && pod install
- copied  pod 'react-native-customui', :path => '../node_modules/react-native-customui' in podfile

But getting this error
[code]

[2020-06-30 16:05] Nautiyalsachin commented on #270
@thhmoc67, which version of razorpay plugin you are using? I am unable to see that details anywhere. You can try updating that too.

[2020-06-30 16:32] thhmoc67 commented on #270
earlier I was using  "react-native-razorpay": "^2.1.32",

after a few modifications, I am able to run as follows -
[code]
added pod 'react-native-customui', :path => '../node_modules/react-native-customui' in podfile

- manually created react-native-customui.podspec file in node-modules/react-native-customui
![Screen Shot 2020-06-30 at 9 54 52 PM](https://user-images.githubusercontent.com/15047392

[2020-06-30 16:35] thhmoc67 commented on #270
Now I have removed react-native-razorpay, only using react-native-customui
can I use both of them?

[2020-06-30 16:40] thhmoc67 commented on #270
I need one more help, I have added notes in Razorpay options
[code]

<img width="228" alt="Screen Shot 2020-06-30 at 10 05 58 PM" src="https://user-images.githubusercontent.com/15047392/86152524-ed6cd600-bb1d-11ea-9aaa-0b50a56dbce2.png">

**Why this error is coming, It was working in standard checkout**

[2020-07-02 09:08] sumedht commented on #263
@tjvins We have fixed this in native android standard SDK. Will update this in react native.

[2020-07-02 10:23] thhmoc67 commented on #270
@Nautiyalsachin any update?

[2020-07-02 15:48] Nautiyalsachin commented on #270
@thhmoc67 : Can you try these steps - iOS (without CocoaPods) from [here](https://www.npmjs.com/package/react-native-customui). I would suggest you create a new app following the mentioned steps.

[2020-07-02 19:42] thhmoc67 commented on #270
@Nautiyalsachin why am I getting this error, notes are important. for me

[2020-07-04 17:16] thhmoc67 commented on #270
**found the error , it should be like that**
[code]

[2020-07-07 11:22] tjvins commented on #263
Thanks for the update! Any tentative date of release, issue was reported on May 2020, hope Razorpay follows some SLA days for each ticket?

[2020-07-07 12:34] sanjeevkse commented on #268
[267](https://github.com/razorpay/react-native-razorpay/issues/267) duplicate issue.

[2020-07-07 12:35] sanjeevkse commented on #267
Did you find any solution?

[2020-07-07 12:39] sanjeevkse commented on #265
But the same thing is happening for ios. Its getting crashed when razorpay opens.

[2020-07-08 15:34] akhilsanker opened #271 "Getting both error and success response after payment"
## Description

Made payment using UPI and getting both error and success response in `RazorpayCheckout.open` api. And error code and description are both undefined in Android

## Razorpay Package Version :
"react-native-razorpay": "2.1.33"
react-native: 0.59.8

## Java and Gradle Version (android) :
Gradle- 4.10.2

### What you did:

Integrated the module and done a test payment

### What happene

[2020-07-08 18:47] akhilsanker commented on #121
hi @bijuC1983 ,

Same issue here. Have you solved the issue?

[2020-07-08 18:55] akhilsanker commented on #121
@iThink32 ,

Still facing the issue with 2.1.33, Need to reopen the issue

[2020-07-08 22:10] sudonitesh opened #272 "Size of SDK"
After adding this package, the apk size increased more than 9mb. Is there any way to reduce the size? As the package size is 10.8mb.

[2020-07-09 03:35] akhilsanker commented on #184
Hi @Nautiyalsachin,
Facing the same issue in 2.1.33. Any solution?

[2020-07-09 03:39] akhilsanker commented on #260
hi @uday5162,
Have you solved the issue?

[2020-07-09 06:24] AYAN249 commented on #271
@akhilsanker You can refer to our Razorpay react-native sample app and integrate accordingly: https://github.com/razorpay/react-native-razorpay/tree/master/example/SampleProject

[2020-07-09 06:29] akhilsanker commented on #271
Hi @AYAN249 ,
Thanks for response.

The same sample code I used. It was working 2-3 days ago, and suddenly from yesterday onwards its not working.
Getting error.code and error. description as undefined and same time getting payment success id also.

Using react-native 0.59.8
razorpay: 2.1.33

Working with test mode and also tried with new api key. But the result the same.

[2020-07-09 12:05] akhilsanker commented on #263
Hi @sumedht ,

Same issue here.

[2020-07-14 07:54] shatyajeet-stanza opened #274 "Android: Crash on calling .open() method, java.lang.NoClassDefFoundError: Failed resolution of: Lcom/google/android/gms/auth/api/phone/SmsRetriever;"
## Description

On calling ReactNativeRazorpay.open(razorpayOptions), the app crashes giving the following error:
`java.lang.NoClassDefFoundError: Failed resolution of: Lcom/google/android/gms/auth/api/phone/SmsRetriever;`

## Razorpay Package Version :
2.1.35

## Xcode Version (iOS) :
11.5

## Java and Gradle Version (android) :
Java: openjdk version "13.0.2" 2020-01-14
Gradle: 6.1.1

### What yo

[2020-07-14 08:06] GeekRishabh opened #275 "redefinition of 'Razorpay' as different kind of symbol"
"react": "16.9.0",
    "react-native": "0.61.5",
   "react-native-razorpay": "2.1.35",

[2020-07-14 08:17] #274 closed

[2020-07-14 08:18] shatyajeet-stanza commented on #274
This happens because the SMS Retriever API needs to be integrated like here: https://developers.google.com/identity/sms-retriever/request

[2020-07-14 15:22] sonivaibhav27 commented on #185
Did anyone found the solution ? I also having the same issue, whenever i call Razorpay.open method, the app crashes

[2020-07-15 05:35] sachin321123 opened #276 "React Native App crashing on RazorpayCheckout.open"
## Description

Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest React Native Razorpay plugin release to make sure your issue has not already been fixed.

## Razorpay Package Version :
Open `Package.json`. > ^2.1.35.

## Xcode Version (iOS) :
Open Xcode > Go to `About Xcode` > We are testing only for Android now.

## Jav

[2020-07-15 10:01] sonivaibhav27 commented on #276
I am also facing the same issue , i am able to fetch order id ,but whenever i run `open` method, it crashes without any error.
If anyone found the solution, please let us know

[2020-07-15 13:18] vishnu-evolvier commented on #275
I am also facing this issue.

"react": "16.13.1",
"react-native": "0.63.1",
"react-native-razorpay": "^2.1.35"

temporary fix
![oie_cSprQsl4N0ih](https://user-images.githubusercontent.com/32571612/87549579-a0ffc980-c6cb-11ea-877a-459279b29d04.png)

[2020-07-16 07:36] ankitjaiswal1994 commented on #275
@vishnu-evolvier Thanks temporary solutions worked. But I hope it does not break any feature.

[2020-07-16 12:21] sandeep3690Butte opened #277 "razorpay checkout not working in reactnative project."
Hello,

I had an reactnative project created with expo.I eject this project so that we can integrate our app with razorpay payment gateway.Done all the changes mentioned on the razorypay official doc for reactnative integration.

while loading the razorpay checkout on our app the chekout is not loading completely and is navigating directly back to our homescreen. I even won't see any errors on the

[2020-07-16 12:51] iamgulfam commented on #275
Same issue here,

`"react": "16.9.0",
 "react-native": "^0.61.5",
 "react-native-razorpay": "^2.1.31"`

need permanent fix.

[2020-07-16 16:00] rams12 commented on #275
Is android working?

[2020-07-16 16:01] rams12 commented on #276
+1 Unable to find the reason

[2020-07-16 17:12] anasmp4 commented on #277
i have same issue here

[2020-07-16 17:13] anasmp4 commented on #276
I have the same issue here

[2020-07-16 22:40] joypatel04 commented on #276
I have the same issue. I try upgrading the module from 2.1.33 to 2.1.35 and the result is still the same.

I have attached the screenshot of the error. (Hide our package name in the screenshot 😬)

<img width="1537" alt="Screenshot 2020-07-17 at 4 06 28 AM" src="https://user-images.githubusercontent.com/18585502/87729551-4a85ae80-c7e3-11ea-83a1-79f9183eb0b1.png">

[2020-07-17 10:31] aayushanand99 commented on #275
For android I had to change implementation 'com.razorpay:checkout:1.5.18' to implementation 'com.razorpay:checkout:1.5.12'
in app/build.gradle

[2020-07-17 12:45] tomkaos commented on #277
I have the same issue! Anybody has a solution?

"react": "16.9.0",
"react-native": "0.61.4",
"react-native-razorpay": "^2.1.35",

[2020-07-17 19:51] rams12 commented on #276
Temporary Fix. Change the Razorpay checkout version in Your_Project_Path/node_modules/react-native-razorpay/android/build.gradle
implementation 'com.razorpay:checkout:1.5.18' to implementation 'com.razorpay:checkout:1.5.12'

[2020-07-17 20:21] Ravihood commented on #276
this perfectly worked @rams12 but we need permanent soln without keeping library outside of nodmodules.

[2020-07-17 20:26] sonivaibhav27 commented on #276
@rams12  I am getting error of merchant Id not set
please help

[2020-07-18 07:32] rams12 commented on #276
I guess razor-pay has to ship a new code with these changes in their new release

[2020-07-18 14:26] akhilsanker commented on #276
Hi @rams12 ,

Using :
react-native : 0.59.8,
"react-native-razorpay": "2.1.35",

Tried your solution. But still app crashes on `RazorpayCheckout.open` in android.

Any other workaround?

Thanks

[2020-07-19 07:22] globefire opened #278 "Fix index.js Readme link"
The hyperlink for `index.js` in Readme takes to a 404 github page.

[2020-07-19 10:50] globefire commented on #277
@Nautiyalsachin or any other contributor can you please suggest a solution for this?

PS: I get an error from MainApplicationJava saying that the package is getting overridden by native_module.

[2020-07-19 19:27] HrushikeshAgrawal commented on #276
A downgrade to `react-native-razorpay@2.1.33` helped me solve the issue.
Can confirm that the problem exists in `com.razorpay:checkout:1.5.18` updated from `1.5.12` about 10 days ago.
Would suggest everyone to uninstall latest version (`npm uninstall react-native-razorpay`) and install 2.1.33 (`npm i react-native-razorpay@2.1.33`) until the fix is offical.

[2020-07-19 19:31] globefire commented on #277
@sandeep3690Butte @anasmp4

Check out this, this is working superbly fine for me.
https://github.com/PallaviDutta/RazorPayIntegration-ReactNative

[2020-07-19 19:35] HrushikeshAgrawal commented on #277
A downgrade to react-native-razorpay@2.1.33 helped me solve the issue.
Can confirm that the problem exists in com.razorpay:checkout:1.5.18 updated from 1.5.12 about 10 days ago.
Would suggest everyone to uninstall latest version (npm uninstall react-native-razorpay) and install 2.1.33 (npm i react-native-razorpay@2.1.33) until the fix is offical.

[2020-07-19 19:38] tomkaos commented on #277
Thanks!! I will have a look

[2020-07-20 21:22] rohit0x62 commented on #276
@HrushikeshAgrawal I was stuck here for the past two days, worked for me 👍  thanks

[2020-07-21 06:21] vivekshindhe commented on #276
@sachin321123 @rohit0x62 @HrushikeshAgrawal @akhilsanker @rams12 @Ravihood @joypatel04 @sonivaibhav27
Thanks for being active on the thread.
We have figured out the issue and it will be fixed in the next release. In the meantime, we would suggest that you don't the previous versions and use the newer one instead as it has new features.
Add these two lines to app-level build.gradle
[code]

and it s

[2020-07-21 07:13] sumedht commented on #277
@sandeep3690Butte @anasmp4 @globefire @HrushikeshAgrawal

We have figured out the issue and it will be fixed in the next release. In the meantime, we would suggest that you don't use the previous versions and use the newer one instead as it has new features.
Add these two lines to app-level build.gradle

and it should start working without a hitch. We'll also be adding this to the documentation. P

[2020-07-21 07:15] sumedht commented on #275
@aayushanand99 @rams12 @iamgulfam
We have figured out the issue and it will be fixed in the next release. In the meantime, we would suggest that you don't use the previous versions and use the newer one instead as it has new features.
Add these two lines to app-level build.gradle

and it should start working without a hitch. We'll also be adding this to the documentation. Please post here if you f

[2020-07-21 07:50] sandeep3690Butte commented on #277
Thanks a lot.I'll give it a try.

[2020-07-21 11:18] sumedht commented on #185
@sonivaibhav27 Update to v2.1.36

[2020-07-21 13:27] pavlof01 commented on #162
up!

[2020-07-21 15:10] sonivaibhav27 commented on #276
After adding this, it's getting crashed again.

[2020-07-21 18:19] bhavanareddy30 commented on #276
Yes, even after adding the above two lines in build.gradle, the app is getting crashed.

[2020-07-22 05:41] sumedht commented on #276
@sonivaibhav27 @bhavanareddy30 We have updated to newer stable version 2.1.36

[2020-07-22 06:18] bhavanareddy30 commented on #276
Hi @sumedht Tried with the newer version as well. But the app is crashing again. Below are the configurations in build.gradle
        buildToolsVersion = "28.0.3"
        minSdkVersion = 19
        compileSdkVersion = 28
        targetSdkVersion = 28
        supportLibVersion = "28.0.0"
        playServicesVersion = "16.0.0"
        androidMapsUtilsVersion = "0.5+" Not sure what might be the probl

[2020-07-22 06:49] vivekshindhe commented on #276
@bhavanareddy30 thanks for reporting this. Could you please send us the logs from the crash?

[2020-07-22 07:11] vivekshindhe commented on #276
@bhavanareddy30 @sonivaibhav27 This could be possible because of the cached old react-native-razorpay. Could you please run

and try with it? We just checked it on our side with a new app and weren't seeing this issue. This should help you out.

[2020-07-22 07:32] bhavanareddy30 commented on #276
Yes Yes @vivekshindhe Thank you very much. This is now working correctly.

[2020-07-22 09:55] sathishu37 commented on #275
@sumedht Same issue persists in the latest version also.

[code]

[2020-07-23 05:03] Biplovkumar commented on #275
same here.
working in Android but not in IOS.
I am stuck from 5 days.
pls help.

[2020-07-23 05:07] Nautiyalsachin commented on #275
Which pod version are you guys using?

[2020-07-23 05:08] Biplovkumar commented on #275
thanks @vishnu-evolvier  you saved my day.

its a big bug of react-native-razorpay because with it not able to run project.

[2020-07-23 05:09] Biplovkumar commented on #275
platform :ios, **'10.0'**

[2020-07-23 05:30] Nautiyalsachin commented on #275
Please update the razorpay-pod -> 1.1.5 so that you don't have to do the above fix.

Or use **pod update** for fixing this issue, this will automatically update your Razorpay pod to the latest version.

Here are the detailed steps via this [link](https://freakycoder.com/ios-notes-12-how-to-update-pods-249ecf88fe57) which you can follow.

[2020-07-23 14:13] 3ilogics opened #282 "Unable to find a specification for `razorpay-pod` depended upon by `react-native-razorpay`"
Error on Pod Install.

## Description
A fresh project pod install having issue Unable to find a specification for `razorpay-pod` depended upon by `react-native-razorpay`.
## Razorpay Package Version :
    "react-native-razorpay": "^2.1.36",

## Xcode Version (iOS) :
Version 11.3.1 (11C504)

### What you did:
just run npm i -s react-native-razorpay
then cd ios && pod install && cd ..

### What happ

[2020-07-23 16:10] Nautiyalsachin commented on #282
@3ilogics, Please try running `pod setup`.
This error usually comes because of unstable Cocoapods.
- You can also try the mentioned solution -
update with `pod repo update` or with `pod install --repo-update`.

[2020-07-23 17:04] Biplovkumar opened #283 "Not able to get razorpay_signature."
Added demo code working fine but not able to get razorpay_signature.

Code:-
<TouchableHighlight onPress={() => {
  var options = {
    description: 'Credits towards consultation',
    image: 'https://i.imgur.com/3g7nmJC.png',
    currency: 'INR',
    key: '', // Your api key
    amount: '5000',
    name: 'foo',
    prefill: {
      email: 'void@razorpay.com',
      contact: '9191919191',
      na

[2020-07-23 23:24] abthkr commented on #276
It is working in debug but it is not working in production apk.
I am using
android.enableR8=true
in
gradle.properties for compression.

[2020-07-24 19:55] aayushanand99 commented on #275
@sumedht build is failing.
![image](https://user-images.githubusercontent.com/10920961/88430225-b2587c80-ce15-11ea-89c9-7df4c7992ae8.png)

[2020-07-25 12:32] abhilekhsingh041992 commented on #275
I am facing the same issue in version 2.1.36.

For now, I'm using the **older version: 2.1.25**, which doesn't have this issue. But please do fix it.

[2020-07-25 13:51] vivekshindhe commented on #275
@aayushanand99 the image doesn't help in debugging the cause for this. Could you please send the logs for the same? We'll be able to get back to you on this pretty quick with them.

[2020-07-25 14:01] vivekshindhe commented on #283
@Biplovkumar not sure if you have referenced the documentation, but I'd suggest that you should go through this once.
[Document for accepted options](https://razorpay.com/docs/payment-gateway/web-integration/standard/#checkout-fields)
Coming to the problem, you can access the signature with {data.razorpay_signature}. Also, please keep in mind, you have to submit a key "order_id" with a valid order

[2020-07-25 14:13] vivekshindhe commented on #278
@globefire Thanks for bringing this to our notice. Will fix this. Closing this thread.

Thanks,
Vivek Shindhe

[2020-07-25 14:13] #278 closed

[2020-07-25 14:15] vivekshindhe commented on #267
@sanjeevkse could you please fill out the template? That helps us a lot when it comes to debugging issues like this.

[2020-07-25 14:34] thhmoc67 commented on #270
Hi @Nautiyalsachin

My app has. been rejected due to this permission, which has added by Razorpay SDK.

[code]

How can I remove this permission?

[2020-07-27 16:02] Nautiyalsachin commented on #270
@sumedht @vivekshindhe

[2020-08-05 07:27] abthkr opened #286 "Unable to build project with react-native-razorpay in iOS, 'RazorpayCheckout' has different definitions in different modules; first difference is defined here found 1 referenced protocol"
## Description
Project does not build in iOS with ```react-native-razorpay```

* **Specific to iOS Users :-**
- [x] I have tried updating Razorpay pod to the latest version by using 'pod update'.

## Razorpay Package Version :
2.1.36

## Xcode Version (iOS) :
Version 12.0 beta 3 (12A8169g)

## Razorpay-pod version (iOS) :
- razorpay-pod (1.1.6)

### What you did:

I created a fresh new project, wh

[2020-08-05 08:03] Nautiyalsachin commented on #286
Hi @abthkr, Can you try with a stable Xcode version, react-native is having some issue with XCode 12 (beta).

[2020-08-05 14:02] abthkr commented on #286
Thanks, that worked

[2020-08-05 14:02] #286 closed

[2020-08-06 12:30] benjaminlogan420 opened #287 "App crashes when doing react-native run-android"
## Description
Hi ! After installing the package and doing "react-native run-android", app is getting crashed. It is throwing an error "**java.lang.RuntimeException: Unable to load script. Make sure you're either running a Metro server (run 'react-native start') or that your bundle 'index.android.bundle' is packaged correctly for release.**" Please note that I am not running the app for release, I

[2020-08-07 08:35] JayeshPatil-Dev commented on #287
Same issue.

[2020-08-14 05:13] ambujap94 commented on #287
We have tried and can not reproduce the issue at our end. Also, it does not seem to be an issue with the Razorpay SDK.
Please declare the minSdkVersion accordingly, if not declared.

[2020-08-16 13:00] iNishant opened #288 "Is expo support something in the roadmap?"
Expo + react-native is a popular choice for upcoming startups. Is it something you are considering? Right now we are loading the Razorpay page in a web view and using the callback URL logic. It would be great if we could use the Razorpay library without ejecting the expo app.

[2020-08-18 04:04] Prajwal625 commented on #288
Hi Nishant, the Expo + React native is present in our roadmap for the upcoming next quarter, an official update will be released post the deployment along with the necessary documentation too.

[2020-08-18 10:25] DilipCoder commented on #211
![WhatsApp Image 2020-08-18 at 3 48 56 PM](https://user-images.githubusercontent.com/25370616/90501885-a937a280-e16a-11ea-91a0-f2a81eecb111.jpeg)
it's working fine in debug mode but in build in crashed. the crash report is in the screenshot.

info
1 rn version: 0.62.2
2. react-native-razor-pay versin: 2.2.0

although the error is the same for another version like 2.13.5 too.

[2020-08-18 14:22] sumedht commented on #211
@DilipCoder Have u added proguard rules?

[2020-08-19 02:23] anujec722 opened #289 "Task :app:processDebugManifest FAILED i got this error my react native v6.3"
See http://g.co/androidstudio/manifest-merger for more information about the manifest merger.

Deprecated Gradle features were used in this build, making it incompatible with Gradle 7.0.
Use '--warning-mode all' to show the individual deprecation warnings.
See https://docs.gradle.org/6.2/userguide/command_line_interface.html#sec:command_line_warnings
364 actionable tasks: 4 executed, 360 up-to-dat

[2020-08-19 06:16] vivekshindhe commented on #289
Hey @anujec722 Thanks for reaching out to us. So, the deal here is that the SDK uses minVersion of 19. Because 16 is just a bit too outdated right now. Here's how you can change the minSdkVersion on your project,

Let me know if this resolves the issue for you.

Thanks

[2020-08-19 06:18] vivekshindhe commented on #287
@benjaminlogan420 @JayeshPatil-Dev did it solve the issue for you guys?

[2020-08-19 06:19] vivekshindhe commented on #283
@Biplovkumar I hope the issue was resolved for you. Closing the issue. You can raise a ticket if you have any other issues.

Thanks

[2020-08-19 06:19] #283 closed

[2020-08-28 12:54] Karthiksheety commented on #277
@sumedht

even adding 2 line in build.gradel i am facing same issue.
checkout.open crashing my app

npm version -- "react-native-razorpay": "^2.2.0"

android config --
       buildToolsVersion = "28.0.3"
       minSdkVersion = 19
        compileSdkVersion = 28
        targetSdkVersion = 28

added these 2 lines in app-level build.gradel file
implementation 'com.google.android.gms:play-services-auth

[2020-08-29 06:55] veermetri05 commented on #289
I also faced this issue and changing the minSdkVersion in android/build.gradle solved the problem it is working fine now.
Thanks for your response @vivekshindhe

[2020-08-29 15:02] ShubhamModi004 commented on #276
Hey I tried everything its still crashing. Tried using lower version 2.1.33 as well.
here are the versions I am using
"react": "16.13.1",
"react-native": "0.63.1",
"react-native-razorpay": "2.2.0",

[2020-08-29 17:39] vivekshindhe commented on #276
@ShubhamModi004 can you post the crash logs?

[2020-08-30 04:02] ShubhamModi004 commented on #276
2020-08-30 09:26:58.710 10943-10943/com.==== E/com.razorpay.checkout: Error reading options!
    org.json.JSONException: No value for send_sms_hash
        at org.json.JSONObject.get(JSONObject.java:392)
        at org.json.JSONObject.getBoolean(JSONObject.java:413)
        at com.razorpay.Y$_o$.Q_$2$(:36)
        at com.razorpay.l_$w$.setOptions(:181)
        at com.razorpay.B$$W$.onCreate(:102)

[2020-09-16 07:52] Anujmoglix opened #291 "App Reject on Playstore"
Hi , I was using Razorpay previously and it was working fine but for new build I am getting issue

code is
[code]
Any Solution for this ?

[2020-09-16 08:14] vivekshindhe commented on #291
@Anujmoglix Hey, thanks for reaching out to us.

We've solved this issue and will be live in the next version. I Will update here once that happens.

Thanks

[2020-09-16 08:29] Anujmoglix commented on #291
Should I downgrade "react-native-razorpay" package version ?
Please provide **specific version number** in which it is working .

[2020-09-16 08:34] abhi92 commented on #291
@vivekshindhe facing the same problem on version 2.0.18

[2020-09-16 12:56] vivekshindhe commented on #291
@Anujmoglix @abhi92 Yes. You don't have to downgrade the version. You will need to upgrade it. Will post it here once it's live. It's already in the process.

Thanks.

[2020-09-16 16:00] Anujmoglix commented on #291
Ok , Waiting for the  latest version to released .

Thanks .

[2020-09-17 08:08] Arun-paramasivam commented on #286
Hi,
I am using Xcode 12.0 stable version(updated today). I face the same issue. Tried clearing cache and building and quitting Xcode but none worked. It was working on the 11.7 version of the Xcode. How to resolve it?

[2020-09-17 10:01] niyasmhdth opened #292 "'RazorpayCheckout' has different definitions in different modules; first difference is defined here found 1 referenced protocol"
## Description
'RazorpayCheckout' has different definitions in different modules; first difference is defined here found 1 referenced protocol, shows an error after updating to xcode 12,

* **Specific to iOS Users:-**
 I have tried updating Razorpay pod to the latest version by using 'pod update'.

## Razorpay Package Version :
2.2.0

## Xcode Version (iOS) :
xCode 12

## Razorpay-pod version (iOS

[2020-09-17 12:42] Nautiyalsachin commented on #292
Hey @niyasmhdth , can you try running the project in xcode first and share the error logs here

[2020-09-17 12:50] niyasmhdth commented on #292
I think the issue is with xcode 12 , the update came out today, and my mac
has auto update, so it updated my xcode from 11 to 12, now I downloaded
xcode 11 and it works fine

On Thu, 17 Sep 2020 at 6:12 PM, Sachin Nautiyal <notifications@github.com>
wrote:

[2020-09-17 14:04] niyasmhdth commented on #292
*@interface* RazorpayCheckout : NSObject <RCTBridgeModule>

'RazorpayCheckout' has different definitions in different modules; first
difference is defined here found 1 referenced protocol

On Thu, Sep 17, 2020 at 6:20 PM Niyas Mhd <niyasmhdth@gmail.com> wrote:

[2020-09-17 14:14] niyasmhdth commented on #292
<img width="1402" alt="Screenshot 2020-09-17 at 7 41 37 PM" src="https://user-images.githubusercontent.com/44252714/93482943-e33cc580-f91d-11ea-8d36-eb3de063a75d.png">
Screenshot of Xcode 12
When I change the command-line tool from Xcode 12.0 to Xcode 11.7 in Preference > Location.
Switching command line works

[2020-09-18 06:10] philly25 commented on #292
Error is the same as here #286

[2020-09-18 06:23] niyasmhdth commented on #286
Facing same issue Arun-paramasivam, Xcode in stable version, but still facing same issue, switching to 11.7 works

[2020-09-18 10:36] RomaJZ commented on #292
Could you help me to understand how to make Xcode use multiple versions of Command Line Tools, please? I installed older version of CLT, but it doesn't show up anywhere.

[2020-09-18 11:14] niyasmhdth commented on #292
@RomaJZ I didn't download just the CLT of 11.7, I went to the apple developer website and downloaded the Xcode 11.7 full file and added as separate xcode app in applications folder

[2020-09-18 18:02] chaloexam commented on #291
Me too got the same error when i published the app to playstore and the application still not live. Let me know that the app will reject by the playstore or will be live??.
They says to fix the issue and upload apk again.please help me

[2020-09-18 18:03] chaloexam commented on #291
Is your app is live or rejected

[2020-09-18 18:10] chaloexam opened #293 "Vulnerability issue in razorpay react native"
I got a mail from google play when I upload an apk to google play that vulnerability in razorpay
I developed app using react native

[2020-09-19 10:05] Anujmoglix commented on #291
Hi @chaloexam  , I have removed this plugin and did some code . Now app is live on store.

[2020-09-19 10:47] vivekexc commented on #292
Same issue. Any solution so far apart from downgrading to 11.7?
How to make it work with Xcode 12?

[2020-09-20 05:56] niyasmhdth commented on #292
@vivekexc Even I’m looking for solution, for time being I’m using CLT 11.7 , waiting for razorpay to fix the issue. 😊

[2020-09-20 05:58] niyasmhdth commented on #293
The same issue reported #291

[2020-09-21 11:50] Kunalpaul12 opened #294 "Not working for upi"
Not working for upi or e-mandate :---

  var options = {
      order_id: response.data,
      method:  'upi',
      currency: 'INR',
      key_id: Config.key,
      amount: amount * 100,
      email: this.props.email,
      contact: this.props.user_phone,
      bank: bankCode,
    };

[2020-09-21 12:51] Nautiyalsachin commented on #292
Hi @niyasmhdth, I am working on this issue, will post you an update as soon as I'll find the solution.

[2020-09-22 05:06] ambujap94 commented on #294
@Kunalpaul12 could you please provide some more details on the issue you are facing. Also, let us know the integration you are using and error details, if any.

Please refer our doc on the [react native integration](https://razorpay.com/docs/payment-gateway/react-native-integration/standard/)

[2020-09-22 08:05] niyasmhdth commented on #292
@Nautiyalsachin Thank you 😊

[2020-09-22 13:28] dap221104 commented on #292
@Nautiyalsachin Keep us updated. We are also facing same issue.

[2020-09-22 18:47] power-cut commented on #291
same here

[2020-09-22 22:30] mgsbabu commented on #291
We are facing the same issue.

Because of this, all of our updates into app stores are on hold.  Please speedup the fix

Thanks

[2020-09-23 09:29] rajeshmarotu opened #295 "UPI (PhonePe, Google Pay) integration not working"
## Description
Redirection to UPI apps like Google Pay and PhonePe are not working.

When PhonePe is selected for redirection, it is showing "something went wrong" alert box.

## Razorpay Package Version :
2.2.0

## Java and Gradle Version (android) :
java version "1.8.0_181"
gradle version 3.4.0

### What you did:
Followed react native integration docs.

### What happened:
![Screenshot_20200923-1

[2020-09-23 12:07] gourabghosh1 commented on #295
@rajeshmarotu please share your merchant id ?

[2020-09-23 12:26] ajitupapp commented on #292
@niyasmhdth Yes, I am facing the same issue as you after xcode 12 update.

[2020-09-24 06:12] Nautiyalsachin commented on #292
Hi Everyone, As I can see there is something wrong with React-Native platform as there are so many issues coming up related to XCode 12.

Here are some open issues on react Native like [30000](https://github.com/facebook/react-native/issues/30000), [29846](https://github.com/facebook/react-native/issues/29846), [29984](https://github.com/facebook/react-native/issues/29984), and many more.

I'll as

[2020-09-24 06:31] J-Ghodasara commented on #291
Facing the same issue.

Please provide the new version ASAP.

Thanks.

[2020-09-24 08:25] gkcom123 commented on #291
I too have same issue
![image](https://user-images.githubusercontent.com/3108069/94120310-dea96d00-fe47-11ea-901a-a7cf907f57f0.png)

[2020-09-25 05:15] Unitybees commented on #291
We are also facing the same issue.
Please provide the new version as soon as possible.

[2020-09-25 07:51] gourabghosh1 commented on #295
@rajeshmarotu Its possible that, due to some configuration mismatch on your account level , this error is throwing . We have to check that , so kindly share us the Merchant id or the payment for the same , so that we can check internally.

[2020-09-25 10:02] malyalavenu commented on #291
This is the message we received from Google support team

Thanks for contacting Google Play Developer Support. I understand you have some questions about the security vulnerability of your app.

I see that version <#> of your app has this file in it, which contains a vulnerable version of intent_redirection:

com.razorpay.AutoReadOtpHelper.onReceive
For this issue, you may need to follow the instr

[2020-09-25 10:09] Nautiyalsachin commented on #291
Hey @malyalavenu, We are working on this issue, we need some time to release the fix as it can break more things, please give us some time till 30 September, we will be releasing a fix for this soon. Thank you.

[2020-09-27 09:15] pchvramesh commented on #291
Facing the same issue. Please release new build as soon as possible. Or provide workaround to so that our apps will get deployed in to playstore with out issues.

[2020-09-27 21:47] rajawatyagya commented on #291
Facing the same issue, removed it for now. Waiting for the new release.

[2020-09-29 19:31] Coppercodes1 commented on #276
i had the react native razorpay working a few days back and i tried it today in the same project the app crashes without logging an error please help @https://github.com/vivekshindhe

[2020-09-30 07:57] ShrutiThakur01 commented on #154
Hi ,

I am facing same issue and unable to release the app in Appstore. App is already in App Store and i want to release new version now. This issue is in my latest build . I am able to build the product and its also running properly on iOS devices.
When i select product==> archive then its showing as build failed.

ld: bitcode bundle could not be generated because '/Users/XXX/XXX/XXX/ios/Flutter

[2020-09-30 09:45] ShrutiThakur01 opened #296 "iOS Archiving "bitcode bundle" could not be generated - Flutter"
Hi ,

I am facing this issue and unable to release the app in Appstore. App is already in App Store and i want to release a new version now. This issue is in my latest build . I am able to build the product and its also running properly on iOS devices.
When i select product==> archive then its showing as build failed.

error ==>

ld: bitcode bundle could not be generated because '/Users/XXX/XXX/XX

[2020-09-30 09:58] kishor3854 commented on #149
hey guys,

I follow all these steps for linking in ios, i also follow @michaelspeed steps, after that code give me following error-->
RCTEventemitter.h not found
![Screenshot 2020-09-30 at 3 33 59 PM](https://user-images.githubusercontent.com/38866061/94671157-212fe580-0331-11eb-8d80-0358ce1f0fe6.png)

RN 0.59.5
RN-razorpay 2.1.33.

[2020-09-30 12:46] kevivmatrix commented on #291
Any update/timeline on this issue?

[2020-10-01 05:31] techyrajeev commented on #291
@NarasimhaSwamy @Nautiyalsachin @vivekshindhe can downgrading the react-native-razor-pay sdk will help?
If yes please let me know to what version we should downgrade?
Also please suggest some alternative solutions which can be opted in just as immediate fix.

[2020-10-01 06:09] vivekshindhe commented on #291
Hello all, a new version of react-native-razorpay is available 2.2.1. Please ensure to reinstall the package completely, also removing cache.

[2020-10-03 12:29] sujatha2016 commented on #164
this issue still exists thanks to @philly25 the solutions works.

[2020-10-05 11:08] Prajwal625 commented on #296
Hi Shruti,
The cause for the above issue and its solution is mentioned in the below link, please have this checked:
https://www.programmersought.com/article/34424154032/

[2020-10-06 05:41] raaz438 commented on #291
Hi Vivek,

Still facing same problem, Can you pls suggest me .where i can do changes in the package . or any link to solve this issue. pls post here

[2020-10-07 07:38] Saravanakumar22 commented on #276
Hi @vivekshindhe, RazorpayCheckout.open it's working in iOS but In android, it's crashing.
**react-native-razorpay version: 2.2.1**. Please help with this issue

`D/com.razorpay.checkout: CheckoutActivity onCreate called
E/com.razorpay.checkout: Error reading options!
    org.json.JSONException: No value for key
        at org.json.JSONObject.get(JSONObject.java:399)
        at org.json.JSONObject

[2020-10-07 08:41] vivekshindhe commented on #276
@Saravanakumar22 can you send the payload you are using?

[2020-10-07 11:20] khushal87 commented on #240
Any solution ? @MITDD6338

[2020-10-08 06:07] vivekshindhe commented on #240
this is the prefill page where we ask the user to enter their e-mail IDs and mobile number. On clicking proceed it should show you the right amount. Also, please ensure that the amount in the payload is in paisa. Ex: Entering 200 in the payload will create a transaction of 2rs. 20000 will result in 200. @khushal87

[2020-10-08 11:52] GovindSinghTak commented on #292
I am also facing the same issue with xcode 12

[2020-10-09 07:30] Nautiyalsachin commented on #296
Hi @ShrutiThakur01, Please try to enable the bitcode in your code as suggested in the above link, let me know if this issue still persists, closing this issue now, feel free to reopen.

[2020-10-09 07:30] #296 closed

[2020-10-09 11:16] LAKSHITgoel commented on #292
@Nautiyalsachin is there some way we can fix this by changing the native code?

[2020-10-09 12:20] pchvramesh commented on #291
Did this work for any...
Please provide your feedback. This will help others to go ahead with this release.

[2020-10-09 12:32] vivekshindhe commented on #291
Hey Ramesh, could you tell us what didn't work for you?

On Fri, 9 Oct, 2020, 5:50 pm Ramesh Kumar, <notifications@github.com> wrote:

--
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
**IMPORTANT**: The contents of this email and any attachments are
confidential and protected b

[2020-10-09 20:02] philly25 commented on #292
@Nautiyalsachin Seems like this [thread](https://developer.apple.com/forums/thread/658012) is our case.

[2020-10-09 22:25] philly25 commented on #292
The only workaround for now to resolve conflict with Swift class name is to rename RN module name.

[2020-10-10 07:06] weingenious72 commented on #292
@philly25 gets an undefined error code after changing the native code.

![Simulator Screen Shot - iPhone 11 - 2020-10-10 at 12 35 52](https://user-images.githubusercontent.com/61498552/95648489-42dd5980-0af5-11eb-9f4e-debb68211bf1.png)

[2020-10-10 15:59] philly25 commented on #292
@weingenious72 It works for me. At least I can build app and payments works as usual.
I think you should create another issue for your problem and provide some logs in it.

[2020-10-11 11:24] kathirsuresh commented on #292
@philly25 its possible to explain more about ur changes

[2020-10-12 05:54] raaz438 commented on #291
Hi Vivek,
Still same issue facing..
Your app contains an Intent Redirection vulnerability. Please see this Google Help Center article for details.
Vulnerable classes:
com.razorpay.AutoReadOtpHelper.onReceive

pls help us

[2020-10-12 07:19] philly25 commented on #292
@kathirsuresh The issue raised because of the equal interface name `RazorpayCheckout`:

1. Razorpay SDK: interface in `<Razorpay/Razorpay-Swift.h>` (we import it in `RazorpayCheckout.m`)
2. React Native module: interface in `RazorpayCheckout.h`

Because we can't modify Razorpay SDK (swift code), all we can do is to rename React Native module interface to avoid conflict. That's what I've done.

[2020-10-12 09:20] Nautiyalsachin commented on #292
Yes, @philly25. This is happening internally as the framework is getting compiled again and maybe the shared library resources are getting certain conflicts.

Agree with you here, if you change the class name from `RazorpayCheckout` to 'Razorpay' then it may start working. But still there is some major issue with React Native right now. As I am not even able to create a sample app using Xcode 12.

[2020-10-13 04:43] malyalavenu commented on #291
We did a release with the 2.2.1 npm package of razorpay and the error disappeared. Google play store hasn't complained of any vulnerabilities, yet. We may do another release in the next week or so and will let you guys know if google flags it

[2020-10-15 17:08] lalkrishna commented on #154
how we can solve this issue on building framework? Im experiencing the same with another framework.

[2020-10-17 03:14] raaz438 commented on #291
When it will be release?..All are stuck with this problem .from last 4 weeks

[2020-10-17 11:58] mitalpatel5944 opened #298 "com.razorpay.AnalyticsConstants error after install these package"
* **Common to Both platforms :-**

  - [ ] I have gone through the README (https://github.com/razorpay/react-native-razorpay)
  - [ ] I have searched for a similar issue (https://github.com/razorpay/react-native-razorpay/issues)
  - [ ] I am using the latest version of our framework (https://github.com/razorpay/react-native-razorpay/releases)
  - [ ] I have cleaned my project.
  - [ ] I have gone

[2020-10-17 13:43] mitalpatel5944 opened #299 "After sucees or fail payment application force close. react-native 0.63.2"
## Description
Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest React Native Razorpay plugin release to make sure your issue has not already been fixed.

* **Specific to iOS Users :-**
- [ ] I have tried updating Razorpay pod to the latest version by using 'pod update'.

## Razorpay Package Version :
Open `Package.json`.

[2020-10-18 13:21] vivekshindhe commented on #291
@raaz438 if you check the comments you'll notice that we have already released it. v2.2.1

[2020-10-19 05:56] Akshay-adiga commented on #276
still facing this issue
tried all the above solutions, none works for me.
app crashes on android with no logs.

Help is much appreciated. :)

    "react-native-razorpay": "^2.2.1",
     "react": "16.13.1",
    "react-native": "0.63.2",

build.gradle
        buildToolsVersion = "29.0.2"
        minSdkVersion = 19
        compileSdkVersion = 29
        targetSdkVersion = 29

[2020-10-19 06:11] sumedht commented on #291
@raaz438 plz update to latest version 2.2.1 which we have released with this fix

[2020-10-21 07:09] vivekshindhe commented on #237
Closing this issue due to no response from your side. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 07:09] #237 closed

[2020-10-21 07:09] vivekshindhe commented on #247
Closing this issue due to no response from your side. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 07:09] #247 closed

[2020-10-21 07:11] vivekshindhe commented on #259
Closing this issue due to no activity on the thread. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 07:11] #259 closed

[2020-10-21 07:13] vivekshindhe commented on #260
Closing this issue due to no activity. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 07:13] #260 closed

[2020-10-21 10:34] vivekshindhe commented on #263
losing this issue due to no activity. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 10:34] #263 closed

[2020-10-21 10:35] vivekshindhe commented on #211
losing this issue due to no response from your side. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 10:35] #211 closed

[2020-10-21 10:35] vivekshindhe commented on #188
Closing this issue due to no response from your side. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 10:35] #188 closed

[2020-10-21 10:36] vivekshindhe commented on #215
Closing this issue due to no activity on the thread. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 10:36] #215 closed

[2020-10-21 10:36] vivekshindhe commented on #217
Closing this issue due to no activity. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 10:36] #217 closed

[2020-10-21 10:36] vivekshindhe commented on #223
Closing this issue due to no activity. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 10:36] #223 closed

[2020-10-21 10:37] vivekshindhe commented on #164
Closing this issue due to no activity. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 10:37] #164 closed

[2020-10-21 10:38] vivekshindhe commented on #162
Closing this issue due to no activity. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 10:38] #162 closed

[2020-10-21 10:39] vivekshindhe commented on #161
Closing this issue due to no activity. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 10:39] #161 closed

[2020-10-21 10:39] vivekshindhe commented on #159
Closing this issue due to no activity. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 10:39] #159 closed

[2020-10-21 10:40] vivekshindhe commented on #157
Closing this issue due to no response from your side. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 10:40] #157 closed

[2020-10-21 10:40] vivekshindhe commented on #172
Closing this issue due to no activity. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 10:40] #172 closed

[2020-10-21 10:41] vivekshindhe commented on #181
Closing this issue due to no response from your side. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 10:41] #181 closed

[2020-10-21 10:42] vivekshindhe commented on #185
Closing this issue due to no activity. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 10:42] #185 closed

[2020-10-21 10:42] vivekshindhe commented on #234
Closing this issue due to no activity. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 10:42] #234 closed

[2020-10-21 10:43] vivekshindhe commented on #266
Closing this issue due to no activity. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 10:43] #266 closed

[2020-10-21 10:43] vivekshindhe commented on #267
Closing this issue due to no response from your side. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 10:43] #267 closed

[2020-10-21 10:43] #268 closed

[2020-10-21 10:46] vivekshindhe commented on #270
Closing this issue due to no activity. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 10:46] #270 closed

[2020-10-21 10:46] #291 closed

[2020-10-21 10:47] vivekshindhe commented on #287
Closing this issue due to no response from your side. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 10:47] #287 closed

[2020-10-21 10:48] vivekshindhe commented on #271
Closing this issue due to no activity. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 10:48] #271 closed

[2020-10-21 10:49] vivekshindhe commented on #275
Closing this issue due to no response from your side. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 10:49] #275 closed

[2020-10-21 10:50] vivekshindhe commented on #277
Closing this issue due to no activity. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 10:50] #277 closed

[2020-10-22 18:34] adsalihac commented on #299
Anybody get solution .

[2020-10-23 04:35] Nautiyalsachin commented on #299
Hi @mitalpatel5944, @adsalihac Can you share some logs, this error is not helping in debugging this issue.

[2020-10-23 04:53] adsalihac commented on #299
@Nautiyalsachin
Close payment screen
{"description":"{\"error\":{\"code\":\"BAD_REQUEST_ERROR\",\"description\":\"Payment processing cancelled by user\",\"source\":\"customer\",\"step\":\"payment_authentication\",\"reason\":\"payment_cancelled\"}}","code":0,"error":{"reason":"payment_cancelled","step":"payment_authentication","source":"customer","description":"Payment processing cancelled by user"

[2020-10-24 15:40] adsalihac commented on #299
@Nautiyalsachin  solved my issue , i used another upi payment package , [https://www.npmjs.com/package/react-native-upi-payment)] , removed this package , razorpay working fine , but i  couldn't understand what the issue . thank you .

[2020-10-27 06:15] #299 closed

[2020-10-29 03:55] ambujap94 commented on #294
@Kunalpaul12  Is your issue resolved, if not please elaborate on the error details.

[2020-10-29 12:08] imrahulpatel commented on #292
please change according to this link , the issue is fixed for me in xcode 12.1
https://github.com/razorpay/react-native-razorpay/pull/297/files/ea490ff7669c629010a74f41de6c4d61a74c1c05

[2020-10-30 07:34] emanu7478 opened #300 "App Rejection Warning from Play Store"
Hi, Iam using Razorpay plugin in my React native project. But when I tried to upload my app in play store, I had received a rejection warning mail as like shown below

**Intent Redirection**
Your app(s) are vulnerable to Intent Redirection.
To address this issue, follow the steps in this Google Help Center article.

I'am using `"react-native-razorpay": "^2.2.1"`  version

I had tried #291  but it

[2020-10-31 16:06] ashokkumar88 commented on #295
@gourabghosh1 We are having same issue with Paytm also. When selecting Paytm from UPI Apps it is showing "You have entered an incorrect UPI ID". The UPI ID showing as upi@razorpay.  For these to work in UPI Apps Paytm, Phonepe need to enabled in our account?

[2020-11-01 20:34] vivekshindhe commented on #300
@emanu7478 Can you please confirm you cleared the cached version of the npm package?? We've seen that this is one of the reasons we see this problem still exists. If not, could you please clear the cached version and integrate fresh and let us know??

[2020-11-02 04:44] vivekshindhe commented on #295
@ashokkumar88 the UPI ID is set on the merchant dashboard on the website. If that's not set up it'll take the default value. Also, upi@razorpay is not a valid UPI ID and hence the error. Could you please check in your account and add the UPI ID where you'd want to collect the payment? It should start working then.

[2020-11-03 08:27] dpatel commented on #223
Hello, I am also having the same issue using net banking UPI works fine though. The only issue with net banking only. Any solution?

[2020-11-03 08:27] dpatel commented on #172
Hello, I am having same issue with net banking, Any solution?

[2020-11-03 12:17] vivekshindhe commented on #172
@dpatel Which bank are you trying with? If possible could you please share some logs with us?

[2020-11-05 10:27] pm-sharma commented on #286
Facing the same issue. Does anyone find the solution for Xcode 12?

[2020-11-06 07:12] sumedht commented on #286
@Nautiyalsachin

[2020-11-06 07:13] sumedht commented on #300
@emanu7478 any update on this?

[2020-11-06 07:16] sumedht commented on #298
@mitalpatel5944
Can u share more log/error of this? Try to clear cache & re-integrate the latest version of SDK

[2020-11-06 07:20] sumedht commented on #295
@ashokkumar88 have u tried by passing valid UPI ID?Are u still facing this issue?

[2020-11-06 07:21] sumedht commented on #293
@chaloexam @niyasmhdth plz update to latest version 2.2.1 which we have released with this fix

[2020-11-06 07:21] #293 closed

[2020-11-08 10:52] #300 closed

[2020-11-08 10:52] emanu7478 commented on #300
Issue Resolved

[2020-11-10 06:01] #292 closed

[2020-11-10 06:02] Nautiyalsachin commented on #282
Closing the issue due to no activity here, please feel free to add comments or re-opening the issue.

[2020-11-10 06:02] #282 closed

[2020-11-10 06:03] #289 closed

[2020-11-10 06:04] Nautiyalsachin commented on #294
Closing this issue due to inactivity.

[2020-11-10 06:04] #294 closed

[2020-11-10 06:07] Nautiyalsachin commented on #272
Please provide more specific details like build environment, also sometimes it increases because of the internal react-native dependencies. Also try to update to our latest react-native plugin version, that might solve this issue.

Closing this issue now, feel free to re-open or add more comments.

[2020-11-10 06:07] #272 closed

[2020-11-10 08:10] kartavyaparekh96 opened #302 "Fix Conflict on npm install react-native-razorpay"
npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: byFarmerz@0.0.1
npm ERR! Found: react-native@0.62.2
npm ERR! node_modules/react-native
npm ERR!   react-native@"0.62.2" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer react-native@"^0.57.1" from react-native-razorpay@2.2.1
npm ERR! node_modules/react-na

[2020-11-12 09:40] ashokkumar88 commented on #295
@vivekshindhe @sumedht I checked in the release build and it is working fine as expected.

[2020-11-12 09:41] sumedht commented on #295
thanks, @ashokkumar88 for updating. Closing this ticket

[2020-11-12 09:41] #295 closed

[2020-11-16 11:47] raghava commented on #184
I followed Step-2 to 4 from https://razorpay.com/docs/payment-gateway/react-native-integration/standard/android/
That helped me resolve the issue.

[2020-11-18 13:01] Abhishek12345679 opened #303 "amount not updating on RazorPayCheckout.open(options)"
## Description
Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest React Native Razorpay plugin release to make sure your issue has not already been fixed.

* **Specific to iOS Users :-**
- [x] I have tried updating Razorpay pod to the latest version by using 'pod update'.

## Razorpay Package Version :
^2.2.1

## Xcode Ver

[2020-11-18 14:39] #303 closed

[2020-11-19 06:18] Nautiyalsachin commented on #302
Hey @kartavyaparekh96, the above logs are not helping for resolving the issue, please create a new issue with asked details and don't remove them or the issue will also be closed.

[2020-11-19 06:18] #302 closed

[2020-11-19 06:19] Nautiyalsachin commented on #298
Closing this issue due to no response, feel free to reopen or add comments.

[2020-11-19 06:19] #298 closed

[2020-11-19 07:42] yedu890 opened #304 "Security auditing issue"
During our security auditing, we found some issues with following,

1. Broadcast Receiver (com.learnium.RNDeviceInfo.RNDeviceReceiver) is not Protected.
2. Broadcast Receiver (com.razorpay.RzpTokenReceiver) is not Protected.

anyone faced this issue. Can you please help with this?

[2020-11-21 22:21] rohithramachandran commented on #292
Can we get this published in npm ? Seems like npm is still holding old version

[2020-11-24 13:27] yashwant-dangi commented on #137
I am using Latest Version available at this time i.e. - 2.1.3 but still, I am getting a warning from the google play team about **SMS and Call log permissions** and my app is rejected in Internal Testing Track. I checked the SDK and this permission is still present there. **android.permission.RECEIVE_SMS**

[2020-11-24 14:40] hackrx opened #305 "Image is not rendering from firebase"
## Description
Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest React Native Razorpay plugin release to make sure your issue has not already been fixed.

## Razorpay Package Version :
Open `Package.json`. > Copy `react-native-razorpay` "^2.2.1"

## Java and Gradle Version (android) :
Specify your Java and Gradle version.

[2020-11-24 18:21] Moonubanna opened #306 "Multiple Subscription like 1Month, 2Month and 3Month amount is not being updated."
Due to multiple subscriptions, the value of the amount is not being updated.

Please help!!
Thanks in advanced

[2020-11-24 18:23] Moonubanna commented on #303
Abhishek, I have a similar issue, what is your solution for this? Brother, can you help me?
Due to multiple subscriptions(1Month, 2Month and 3Month), the value of the amount is not being updated.

[2020-11-25 07:07] sumedht commented on #306
@Moonubanna can u please elaborate issue u facing. Is it something like if u changed subscription duration, value is not getting changed?

[2020-11-30 09:42] chakrihacker commented on #292
Please release a new version

[2020-12-03 06:31] ratheeshramachandran opened #307 "Unable to take iOS Signed Build"
React-Native : 0.63.0
Razorpay: 2.2.1
Podfile iOS version 10.0

App work fine with emulator. But when I tried to take a signed build got following issue.

tries with this script too . (http://ikennd.ac/blog/2015/02/stripping-unwanted-architectures-from-dynamic-libraries-in-xcode/)

<img width="748" alt="Screenshot 2020-12-03 at 11 42 37 AM" src="https://user-images.githubusercontent.com/762990/100

[2020-12-03 06:35] Nautiyalsachin commented on #307
Hi @ratheeshramachandran, you don't have to use the script when using pods, can you share the XCode and swift version here.

[2020-12-03 06:38] ratheeshramachandran commented on #307
Xcode 11.6
Swift version 5

[2020-12-03 07:39] Nautiyalsachin commented on #307
@ratheeshramachandran, it looks like you have changed some settings in your project which is not allowing it to create a release build.

I would suggest to try our [sample app](https://github.com/razorpay/react-native-razorpay/tree/master/example/SampleProject) and compare the build settings options.

Also, please try removing the above script.

[2020-12-03 15:42] gauthampait commented on #292
Yes, please release the new version on npm ☹️ we've been waiting for so long now.

[2020-12-03 16:36] Nautiyalsachin commented on #292
Hey @gauthampait, i am working on it, releasing it soon.

[2020-12-03 18:22] kharsuanoop opened #308 "'RazorpayCheckout' has different definitions in different modules"
Razorpay Package Version - 2.2.1

Xcode Version - 12.2

React Native - 0.61.5

error comes when building iOS app
**(** /Users/userName/Desktop/app/node_modules/react-native-razorpay/ios/RazorpayCheckout.h:11:12: 'RazorpayCheckout' has different definitions in different modules; first difference is defined here found 1 referenced protocol **)**

![Untitled](https://user-images.githubusercontent.com

[2020-12-04 11:00] Nautiyalsachin commented on #308
Hi @kharsuanoop, this is a repeated issue of https://github.com/razorpay/react-native-razorpay/issues/292, Please find the workaround mentioned there, we are also releasing a new version soon. Thanks.

[2020-12-04 11:00] #308 closed

[2020-12-04 11:20] hackrx commented on #305
@Nautiyalsachin @captn3m0 @hariramsvnit @sumedht guys can anyone of you help me with this issue?
you can take `https://firebasestorage.googleapis.com/v0/b/hostel-life-70814.appspot.com/o/example%2Fpexels-kevin-bidwell-3863793.jpg?alt=media&token=d910dfd3-cf15-47b9-8b36-e3dffdad652a` as an example `image` URL.
Any help would be appreciated.

[2020-12-07 05:24] hackrx opened #310 "RazorpayCheckout.m normal x86_64 objective-c com.apple.compilers.llvm.clang.1_0.compiler (1 failure)"
## Description
Ios build failed with an error:
[code]
* **Specific to iOS Users :-**
- [x] I have tried updating Razorpay pod to the latest version by using 'pod update'.

## Razorpay Package Version :
Open `Package.json`. > Copy `react-native-razorpay` 2.2.1.

## Xcode Version (iOS) :
Open Xcode > Go to `About Xcode` > copy the Xcode: Version 12.1 (12A7403)

## Razorpay-pod version (iOS) :
Go to

[2020-12-07 14:43] asagta opened #311 "Unable to Build IOS app using react-native-razorpay"
## Description
I am facing below issue while building a react native iOS app having razorpay as a dependency :+1:
The following build commands failed:
	CompileC /Users/anurag/Library/Developer/Xcode/DerivedData/crc-fxakiqkgzdgasjfaudknzthgqkku/Build/Intermediates.noindex/Pods.build/Debug-iphonesimulator/react-native-razorpay.build/Objects-normal/x86_64/RazorpayCheckout.o /Users/anurag/Documents/Ar

[2020-12-08 19:59] akhilumapathe commented on #292
Any update/

[2020-12-09 06:25] eramudeep commented on #276
facing the same problem !!!! :(

[2020-12-09 17:00] Moonubanna commented on #306
Helo sumedh,
Thank you for your response. Please see the attached screenshot. Whenever i
call RazorpayCheckout.open(options) function by selecting the value of
1month. Then without paying close this razorpay popup. Then select the
value of 2nd month and then call again  RazorpayCheckout.open(options) this
function its showing the price of 1 month. Whereas now the price show of
2nd month should be

[2020-12-10 08:28] Nautiyalsachin commented on #311
Hi @asagta, Can you try updating to the latest react native plugin and let me know if it works for you. The latest version is 2.2.2.

Regards,
Sachin

[2020-12-11 08:28] Nautiyalsachin commented on #292
Hi @akhilumapathe, we have released the new plugin v2.2.2 with the changes.

[2020-12-12 04:49] rutul089 commented on #307
@ratheeshramachandran  I am also getting the same type of error any solution?  I am not using the above script too.
![razrorpay](https://user-images.githubusercontent.com/13690583/101975536-52972c80-3c63-11eb-9c9d-476243ec151b.PNG)

[2020-12-12 20:16] gauthampait commented on #276
Still a problem with 2.2.2 ☹️
Works fine on iOS but crashes on Android.

Please fix this guys, we've been waiting for a very long time now ☹️

[2020-12-13 02:22] vivekshindhe commented on #276
Hello all,

Thank you for your patience. For the problem of Sravankumar the JSON
payload doesn't contain key which is needed for razorpay tp work. Its also
there in the logs. Coming to others, can you guys please post the payload
you use?

Thanks
Vivek Shindhe

On Sun, 13 Dec 2020, 01:46 Gautham Pai T, <notifications@github.com> wrote:

--
----------------------------------------------------------

[2020-12-14 04:21] ShubhamModi004 commented on #276
Hi,

Fix on my app was pretty basic, might be a different case on your apps.
I managed to fix it for my app, the colour param passed needs to be a six character string and not a three character string , for example if you guys are implementing background colour as black and using a hex colour value then #000 failed without throwing any logs and #000000 works perfectly.

[2020-12-14 04:31] vivekshindhe commented on #276
@ShumamModi004 Glad your were able to resolve your issue.

For all other people here who have this problem, I request you to please send the payload you are using so that we can fig out the cause of this.

Thanks

[2020-12-14 12:57] Nautiyalsachin commented on #304
Hi @yedu890, we have [Proguard rules](https://github.com/razorpay/react-native-razorpay#proguard-rules) specific to this issue. Please include these in your build.

Also if it's not confidential then you can share them with us here, so that we can look into more depth.

Let us know how the audit goes for you after including the above changes.

[2020-12-14 13:01] Nautiyalsachin commented on #306
Hey @Moonubanna, what happened when you try with 2 months options when you open it first time?

[2020-12-14 13:03] Nautiyalsachin commented on #307
Hey @rutul089, @ratheeshramachandran Please try with the latest updated SDK v2.2.2. Let us know how that went for you. Closing the issue for now. Feel free to comment or open a new issue if it's still persists.

[2020-12-14 13:03] #307 closed

[2020-12-14 13:03] #311 closed

[2020-12-15 06:55] Nautiyalsachin commented on #305
Hi @hackrx, we are looking into this, we will let you know once this is fixed.

[2020-12-15 07:00] Nautiyalsachin commented on #310
Hey @hackrx, we have released a new package version v2.2.2. Please update to the latest version, it should fix the issue.

[2020-12-15 07:00] #310 closed

[2020-12-15 07:38] Nautiyalsachin commented on #305
@hackrx, the above link is not working, can you provide a new URL which we can use for validation, or else this issue will be closed.

[2020-12-15 07:39] hackrx commented on #305
Yeah sure, please wait

[2020-12-15 07:50] Nautiyalsachin commented on #305
It's rendering correctly, just validated.
![Simulator Screen Shot - iPhone 11 - 2020-12-15 at 13 18 50](https://user-images.githubusercontent.com/14342956/102186065-14567300-3ed8-11eb-8919-f06ed8e3f16c.png)

Here in above links -

This link is not valid - 'image' : 'https://firebasestorage.googleapis.com/v0/b/mytestApp.appspot.com/o/images%2FpZm8daajsIS4LvqBYTiWiuLIgmE2?alt=media&token=3kuli4cd-dc

[2020-12-15 07:55] hackrx commented on #305
Okay, let me check and verify then I will close this issue.
Thanks.

[2020-12-15 13:13] rutul089 commented on #307
Hey @Nautiyalsachin ,
Tried with the latest SDK but still facing the same issue. In the simulator, it's working fine

[2020-12-15 14:57] Nautiyalsachin commented on #307
@rutul089, as mentioned above, please try downloading our [sample app](https://github.com/razorpay/react-native-razorpay/tree/master/example/SampleProject) and try to compile it locally. Also, suggest you to go through our [FAQ section](https://github.com/razorpay/react-native-razorpay/wiki/FAQ's).

[2020-12-16 05:56] hackrx commented on #310
Hey @Nautiyalsachin , after upgrading to `2.2.2` version I am getting this error
[code]

[2020-12-16 06:46] Nautiyalsachin commented on #310
@hackrx Which react-native version are you using?

[2020-12-16 06:46] hackrx commented on #305
Hey @Nautiyalsachin, it is working fine on iOS:
![image](https://user-images.githubusercontent.com/54453778/102314440-74ace980-3f98-11eb-9542-0cd7f95ac1e4.png)
Please solve this issue for android.
Thanks.

[2020-12-16 06:55] hackrx commented on #310
[code]

[2020-12-16 08:04] Nautiyalsachin commented on #310
Try removing the plugin and adding it again. @hackrx

[2020-12-16 08:05] Nautiyalsachin commented on #305
@hackrx Can you share the URL you are using for Android?

[2020-12-16 08:08] hackrx commented on #305
[link](https://firebasestorage.googleapis.com/v0/b/hostel-life-70814.appspot.com/o/example%2Fpexels-kevin-bidwell-3863793.jpg?alt=media&token=d910dfd3-cf15-47b9-8b36-e3dffdad652a)
you can use this image url, it is also not working for me.

[2020-12-16 08:11] Nautiyalsachin commented on #305
Can you try reducing the image size first?

[2020-12-16 08:16] hackrx commented on #310
[link](https://firebasestorage.googleapis.com/v0/b/hostel-life-70814.appspot.com/o/example%2Fcat.jpg?alt=media&token=743f799d-19e8-4464-b67d-a29e3ca93e08)
this is the image link

[2020-12-16 08:17] hackrx commented on #305
[link](https://firebasestorage.googleapis.com/v0/b/hostel-life-70814.appspot.com/o/example%2Fcat.jpg?alt=media&token=743f799d-19e8-4464-b67d-a29e3ca93e08)
this is the image link

[2020-12-17 12:52] eramudeep commented on #292
Still getting the same problem
xcode : Version 12.2 (12B45b)
"react-native-razorpay": "^2.2.1",
react-native-cli: 2.0.1
node : v12.18.3

[2020-12-17 17:39] crimsontrigger commented on #276
my app crashes on returning to the app after either a successful or failed payment. any idea why this could be happening. please find the snippet of code below :

var options = {
        description: 'Credits towards consultation',
        image: 'https://i.imgur.com/3g7nmJC.png',
        currency: 'INR',
        key: 'rzp_test', // Your api key
        amount: 5000,
        name: 'foo',
        p

[2020-12-17 17:47] Moonubanna commented on #306
When I select the price of the first time 1 month and the payment dialog opens and I cancel it without completing the payment. And then I open the payment dialog again by selecting the price of 2 months or 3 months, then I get the price of 1 month in the payment dialog whereas the price of 2 months or 3 months is required. the price is being updated in the option.

1 Month = 100
2 Month = 200
3 Mo

[2020-12-18 09:41] Nautiyalsachin commented on #292
@eramudeep : Your react-native-razorpay package is still 2.2.1, It should be v2.2.2.

Try removing and adding it again.

[2020-12-21 04:20] faisalmushtaq007 commented on #300
@emanu7478  please tell me how???

[2020-12-22 09:25] hackrx commented on #305
@Nautiyalsachin can you please review this issue, this is causing a delay in the app release.
Thanks.

[2020-12-26 13:28] Daniyalzakir321 commented on #289
buildscript {
    ext {
        buildToolsVersion = "29.0.2"
        **minSdkVersion = 21**                  // <--now use this
        compileSdkVersion = 29
        targetSdkVersion = 29
    }
    repositories {
        google()
        jcenter()
    }
    dependencies {
        classpath("com.android.tools.build:gradle:3.5.3")
        // NOTE: Do not place your application dependencies here; th

[2021-01-04 06:42] pratham-stack commented on #183
Downgrade your version 'audioplayers: ^0.17.1' to 'audioplayers: ^0.16.1' in pubspec.yaml and pub get the dependencies of 'audioplayers: ^0.16.1'.

[2021-01-07 07:26] mprem1204 opened #312 "Feature Request: Intent Flow for UPI payments in custom checkout implementation(react-native-customui)"
Currently Intent flow for UPI Payments is not available for React_native(react-native-customui),the intent upi flow is very important feature for the customers who dont remember the upi number while doing a payment.
Your team right now is providing a custom checkout ui for react native with react-native-customui SDK but it does not contain intent UPI flow.
Intent UPI flow is available in all the c

[2021-01-08 06:50] ProiOSDeveloper opened #313 "Could not resolve dependency react-native@"^0.57.1" from react-native-razorpay@2.2.2"
## Description
Unable to resolve dependency while installing the latest version @2.2.2 in a react-native 0.63.0 project.

* **Specific to iOS Users :-**
- [x] I have tried updating Razorpay pod to the latest version by using 'pod update'.

## Razorpay Package Version :
2.2.2

## Xcode Version (iOS) :
12.3

## Razorpay-pod version (iOS) :
Not able to resolve dependency so pod installation never hap

[2021-01-08 08:35] Nautiyalsachin commented on #313
Hi @ProiOSDeveloper, If you are trying to use react@0.57 then follow this [readme section.](https://github.com/razorpay/react-native-razorpay#for-react-native-059-and-lower). Also, it would really help if you can share the logs after running the project in Xcode. This will help us to debug this issue.

[2021-01-08 08:40] Nautiyalsachin commented on #312
Hey @mprem1204, Definitely we will consider your thoughts on this in future releases. This will definitely take some time to roll out as we want to give you a bug-free integration experience 😊. we will update you on the same issue soon.

[2021-01-08 10:19] ProiOSDeveloper commented on #313
I am not trying to use react@0.57, I am using react@0.63, but I think you have used react@0.57 in *peer dependency* (which was *dev dependency* in previous versions of razorpay). Not sure why this change was made on your end, but I guess this is breaking the dependency resolution.
It won't let me install the node module, forget about running in Xcode and deriving logs.

[2021-01-08 12:10] gauthampait commented on #276
Fixed it.

**Buggy Payload :**
`theme: { color: 'rgb(97,178,68)' }`

**Proper Payload :**
`theme: { color: '#61b244' }`

Thank you.

[2021-01-11 05:37] #276 closed

[2021-01-11 06:04] Nautiyalsachin commented on #313
@ProiOSDeveloper As per this [article](https://nodejs.org/es/blog/npm/peer-dependencies/), peer dependency won't affect the current implementation. You can ignore the warning, as said in the above article. We will modify this for the future releases.  So that this won't affect in future. Let me know if you still faces any issues.

[2021-01-11 06:05] Nautiyalsachin commented on #304
Closing this issue due to inactivity. Feel free to add comments or re-open the issue if this issue still persists.

[2021-01-11 06:05] #304 closed

[2021-01-11 06:11] Nautiyalsachin commented on #306
Hi @Moonubanna, can you parallelly show the data in the above video. Just to confirm if the data is passed correctly. What about Android devices is the results are the same in both?

[2021-01-11 06:36] ProiOSDeveloper commented on #313
@Nautiyalsachin This is not a warning, its an error. Please try creating a fresh react native project and run:
`npm install react-native-razorpay`
you would be able to reproduce it.

[2021-01-19 13:09] mprem1204 opened #314 "Bug Report : IOS Manual (via CocoaPods) linking is not working for react-native-customui"
Hi team.
We are trying to add react-native-customui sdk to our ios app for razorpay custom check out.
We are using CocoaPods.
We are following the documentation to link the sdk as given here.
https://razorpay.com/docs/payment-gateway/react-native-integration/custom/#manual-via-cocoapods.
1) We first installed the package.
    npm install react-native-customui.
2) Added this Podfile.
    pod 'react

[2021-01-20 06:22] Nautiyalsachin commented on #314
Hey @mprem1204, Can you try without cocoa pods? As we don't have any cocoa pods available for custom UI.

[2021-01-21 07:34] bishalinkoop commented on #307
Ios signed build is not working, tried sample app it's also raising same error
Xcode version -> 12.2
react-native-razorpay -> 2.2.2
`
![Screenshot 2021-01-21 at 1 01 30 PM](https://user-images.githubusercontent.com/73817418/105318175-509d8300-5baa-11eb-8918-a93456656e77.png)
`

[2021-01-21 07:41] bishalinkoop opened #315 "Ios signed build is raising error"
## Description
Ios signed build is not working, tried sample app it's also raising same error

## Razorpay Package Version :
 "react-native-razorpay": "^2.2.2",

## Xcode Version (iOS) :
12.2

## Razorpay-pod version (iOS) :
 - razorpay-pod (1.1.10)

I have tried sample app also, It's also raising same error

![Screenshot 2021-01-21 at 1 01 30 PM](https://user-images.githubusercontent.com/73817418

[2021-01-21 10:28] Nautiyalsachin commented on #315
@bishalinkoop Can you try updating razorpay-pod to latest version, current version is 1.1.11.

[2021-01-21 19:45] bishalinkoop commented on #315
@Nautiyalsachin I have updated the razorpay-pod to 1.1.11, but it is still raising the same error.

[2021-01-22 06:41] Nautiyalsachin commented on #315
try removing the plugin and adding it again. Also, can you tell us the react-native version you are using?

[2021-01-22 12:06] mprem1204 commented on #270
Hii vi

Hii i followed all the above steps but iam getting an error and the build stopped.
The error is

ld: framework not found Razorpay
clang: error: linker command failed with exit code 1 (use -v to see invocation)

please help me with this one, our ios release is struck

[2021-01-22 13:24] ajoykarmakar459 opened #316 "Pod not installing"
Packaged installed and everything works as expected in android but when I tried `pod install` for the iOS build through some error. [Note - I have tried also the manual link method but the same error got]. If I remove react-native-razorpay package from my project then the `pod install` works again.

###  Package.json -
[code]

### Pod Log -

   WARNING: CocoaPods requires your terminal to be using

[2021-01-23 08:32] bishalinkoop commented on #315
@Nautiyalsachin I tried removing and adding the plugin, It's not working. React native version is 0.61.5.

[2021-01-23 10:52] kartavyaparekh96 commented on #313
+1

[2021-01-25 06:03] Nautiyalsachin commented on #316
Hey @ajoykarmakar459, try updating your Cocoapod in your system to the latest version and then try to add the plugin again. You can also try removing your ios platform and adding it again, this will also reset your older settings to the latest one.

[2021-01-25 06:31] Nautiyalsachin commented on #315
@bishalinkoop Have you tried our [Sample App](https://github.com/razorpay/react-native-razorpay/tree/master/example/SampleProject) shared with this repo? Please try it and see the implementation there. It might help you to find the issue.

[2021-01-25 06:54] Gowebbi-Dev commented on #316
I have reinstall ruby, cocoapods so all of these are completely newer versions and the project is set up newly so the settings are all in the latest version. It's only good for the android version?

[2021-01-25 06:55] ajoykarmakar459 commented on #316
I have reinstall ruby, cocoapods so all of these are completely newer versions and the project is set up newly so the settings are all in the latest version. It's only good for the android version?

[2021-01-25 07:08] Nautiyalsachin commented on #306
Closing this issue, due to inactivity. Feel free to add comments here or re-opening this issue.

[2021-01-25 07:08] #306 closed

[2021-01-25 07:11] Nautiyalsachin commented on #305
@hackrx We are not able to reproduce this issue on our side. Please give more details. We suggest you to use some simple URLs for rendering the images. Most likely that will solve this issue.

For now closing this issue, feel free to add more comments here or re-opening this.
Thanks.

[2021-01-25 07:11] #305 closed

[2021-01-25 07:13] Nautiyalsachin commented on #314
Due to inactivity closing this issue, feel free to add more details here or re-open the same.

[2021-01-25 07:13] #314 closed

[2021-01-25 07:19] Nautiyalsachin commented on #316
@ajoykarmakar459 As said in the above issue logs, there is an issue from Cocoapods. Please try to debug it further. This issue is not related to Razorpay.

Please go through these issues,

Missing install instructions for linux (install deps)
CocoaPods/CocoaPods#9956 [open] [1 comment]
5 weeks ago

ArgumentError - invalid byte sequence in US-ASCII
CocoaPods/CocoaPods#2385 [closed] [5 comments]
08

[2021-01-25 07:41] Gowebbi-Dev commented on #316
Yes, you are right but when I remove the package and re-run pod install everything goes well as expected and that's made me think about this package.

[2021-01-25 07:41] ajoykarmakar459 commented on #316
Yes, you are right but when I remove the package and re-run pod install everything goes well as expected and that's made me think about this package.

[2021-01-25 07:50] Nautiyalsachin commented on #316
@ajoykarmakar459 have you gone through the above mentioned issues?

[2021-01-25 13:15] ajoykarmakar459 commented on #316
Okay, this specific command and the version fix the problem -
[code]
Is the SDK available to check in iOS simulator? because nothing happened when try in the simulator. no warning, no error.

[2021-01-27 17:01] mprem1204 commented on #314
Hii Sachin Nautiyal.
i tried installing the the react-native-customui without cocoapods
1) I installed react-native-customui with npm
  npm install react-native-customui
2) Right click on Libraries and added the Razorpay.xcodeproj from node_modules/react-native-customui/ios
![img1](https://user-images.githubusercontent.com/49605544/106016141-29ccd880-60e5-11eb-935a-752184c618e8.PNG)

3)Added the l

[2021-01-28 05:51] Nautiyalsachin commented on #316
Hey @ajoykarmakar459, please see our [Sample App](https://github.com/razorpay/react-native-razorpay/tree/master/example/SampleProject) implementation. It looks like you have missed something there.

[2021-01-28 18:14] mprem1204 opened #317 "react-native-customui is not working in ios"
Hii Sachin Nautiyal.
i tried installing the the react-native-customui without cocoapods
1) I installed react-native-customui with npm
  npm install react-native-customui
2) Right click on Libraries and added the Razorpay.xcodeproj from node_modules/react-native-customui/ios
![img1](https://user-images.githubusercontent.com/49605544/106016141-29ccd880-60e5-11eb-935a-752184c618e8.PNG)

3)Added the l

[2021-02-06 06:21] musadiq123 commented on #308
I wasted 2 days for this issue in Xcode 12.4. finally resolved by this link. check out
https://github.com/razorpay/react-native-razorpay/pull/297/files/ea490ff7669c629010a74f41de6c4d61a74c1c05

[2021-02-09 05:42] Nautiyalsachin commented on #317
Hey @mprem1204 Asking you for a sample app as the implementation looks correct. Please create a zip of your sample app and attach it here. I'll let you know what you are missing there. Thanks.

[2021-02-09 05:43] Nautiyalsachin commented on #316
Closing this issue due to inactivity, assuming you are able to solve this issue from yourself. Feel free to add comments here. Thanks.

[2021-02-09 05:43] #316 closed

[2021-02-09 05:45] Nautiyalsachin commented on #315
Closing this issue due to inactivity, assuming the sample app worked for you. Feel free to add more comments here. Thanks.

[2021-02-09 05:45] #315 closed

[2021-02-09 05:46] Nautiyalsachin commented on #313
@ProiOSDeveloper, @kartavyaparekh96: I am not able to reproduce this issue here. Can you please share a sample app where you can demonstrate the same this?

[2021-02-09 08:32] wazzah-marham commented on #292
I am also facing this issue on Xcode 12.3? Is there any fix it yet ?

[2021-02-09 12:01] kartavyaparekh96 commented on #313
this is the issue when `npm install react-native-razorpay` command run in console

[2021-02-10 08:15] Nautiyalsachin commented on #292
Have you tried updating our plugin to latest version v2.2.2? And also please update your pods by using `pod update` from your ios folder.

[2021-02-10 10:46] rishabh72 commented on #313
I also had same issue and I installed sdk using `

`npm install react-native-razorpay --force command`

`

[2021-02-15 16:54] sanjeet007 commented on #276
E/com.razorpay.checkout: Error reading options!
    org.json.JSONException: No value for send_sms_hash
        at org.json.JSONObject.get(JSONObject.java:400)
        at org.json.JSONObject.getBoolean(JSONObject.java:421)
        at com.razorpay.CheckoutOptions.shouldSendHashForSms(CheckoutOptions.java:36)
        at com.razorpay.CheckoutPresenterImpl.setOptions(CheckoutPresenterImpl.java:182)

[2021-02-16 06:00] sumedht commented on #276
@sanjeet007 using latest version of SDK?

[2021-02-16 06:07] sanjeet007 commented on #276
Yes using latest one which is on official website this i am getting but i am not getting crashed

[2021-02-16 06:37] sumedht commented on #276
@sanjeet007 Just updated to new version. It's fixed in this

[2021-02-23 18:39] sudheepkr commented on #313
use this comment it will work
npm install --save --legacy-peer-deps

[2021-02-24 18:23] karanwadhwa commented on #242
I too am getting this issue in the latest version - 2.2.4 after upgrading from 2.1.23
[code]
I manually linked it (without cocoapods) as instructed [here](https://github.com/razorpay/react-native-razorpay#manual)

the only thing I did differently was that I also added the following to Header Search Paths
`${SRCROOT}/../../../ios/Pods/Headers/Public`
because without it, my build kept failing with t

[2021-02-25 07:03] Nautiyalsachin commented on #242
Hi @karanwadhwa, the Razorpay SDK inside our react native plugin is getting downloaded from cocoa pods and it has a pod dependency.

I would suggest you to use pod as it is recommended by us and by react-native latest versions. Currently our cocoapod plugin version is  1.1.12.

You can check the current pod versions inside podfile.lock. If it's not the latest then please update it.

If you still w

[2021-02-28 17:34] sathishkrishnan20 commented on #317
Any Update On this? I am also getting the same error.

[2021-02-28 17:41] sathishkrishnan20 opened #319 "React Native Custom UI - framework not found Razorpay"
Getting "framework not found Razorpay"  error. while integrating React-native-customui

Steps followed
 1. Added the Razropay.xcodeproj into Project Libraries
 2. Added libRazorPay.a into **Frameworks, Libraries and Embeded Content**
 3. Added RazorPay.framework into **Frameworks, Libraries and Embeded Content**
 4. Added `$(SRCROOT)/../react-native/React and $(SRCROOT)/../../React` into **Header

[2021-03-01 05:19] Nautiyalsachin commented on #317
Hi @sathishkrishnan20, can you share the steps you used to integrate the custom plugin. As I have tried and I am not able to reproduce the same. I would also recommend to share a sample app here so that I can try and see your implementation.

[2021-03-01 06:12] Nautiyalsachin commented on #319
Hey @sathishkrishnan20, can you share the details here like Xcode Version, SDK version, Swift version, etc.

[2021-03-01 06:24] sathishkrishnan20 commented on #319
Hi @Nautiyalsachin , thanks for the response, and sharing the details here
Xcode Version: 11.4
Swift Version: 5
SDK:  iphoneos13.7

[2021-03-01 06:32] Nautiyalsachin commented on #319
@sathishkrishnan20 Can you try downloading [this SDK](https://rzp-mobile.s3.amazonaws.com/ios/customui/1.3.9/Razorpay.xcframework.zip) and replace existing one. Please follow above steps again.

[2021-03-01 06:35] sathishkrishnan20 commented on #319
Can you give me the steps Replace this SDK?  i see two or three foldrs when i exctract the Zip

[2021-03-01 07:36] Nautiyalsachin commented on #319
You have to replace the whole .xcframework with .framework in your code. Just search for Razorpay.framework and replace it with Razorpay.xcframework file. All the process and steps will be the same.

[2021-03-01 09:57] sathishkrishnan20 commented on #319
Getting Below Error after replacing the Razorpay.xcframework file.
Undefined symbol: _OBJC_CLASS_$__TtC8Razorpay8Razorpay

[2021-03-01 11:58] sathishkrishnan20 commented on #319
It is failing for Android as well

Getting Below Error on Android
[code]

[2021-03-01 12:33] anmolpandeyy commented on #292
@Nautiyalsachin I'm getting the same error with v2.2.2 and even with the current latest v2.2.4. This is only happening in release scheme and not debug in iOS.
Xcode: 12.2
React-Native: 0.63.2
react-native-razorpay: 2.2.4
razorpay-pod (1.1.12)

[2021-03-01 14:14] shasank27 commented on #289
Where should I change?
There's no option to do it
`buildscript {
    repositories {
        google()
        jcenter()
    }

    dependencies {
        classpath 'com.android.tools.build:gradle:3.5.3'
    }
}

allprojects {
    repositories {
        google()
        jcenter()
    }
}

rootProject.buildDir = '../build'
subprojects {
    project.buildDir = "${rootProject.buildDir}/${project.name}"

[2021-03-01 14:38] vivekshindhe commented on #289
@shasank27 You are checking the wrong build.gradle file. There are two, build.gradle(:project_name) & build.gradle(:app). build.gradle(:app) is where you'll find the option to change. It'll be inside **defaultConfig** tag in **android**

[2021-03-02 05:37] Nautiyalsachin commented on #319
@sathishkrishnan20 Please wait for some days, I'll be updating the existing plugin so that you don't face these issues.

[2021-03-02 05:43] Nautiyalsachin commented on #292
Hey @anmolpandeyy, change **Build Active Architecture Only** to yes for both release and debug.

[2021-03-02 05:44] shasank27 commented on #289
Thank you. @vivekshindhe
It's fixed now

[2021-03-02 05:51] #313 closed

[2021-03-02 12:25] sathishkrishnan20 commented on #319
thanks, please try adding the auto Linking podspec file if possible. so that we can avoid the Manual linking process. and it helps for long run

[2021-03-03 07:06] logicalsofts commented on #276
i am facing this problem in updated version @vivekshindhe

[2021-03-03 07:12] vivekshindhe commented on #276
@logicalsofts could you please provide the payload you are sending, the version, and the version of react-native you are using? Also, could you explain in a bit more detail what issue your facing?

[2021-03-03 07:18] logicalsofts commented on #276
"react-native-razorpay": "^2.2.4",
  "react": "16.13.1",
    "react-native": "0.63.4",
 @vivekshindhe

[2021-03-03 07:27] vivekshindhe commented on #276
Could you please also send the payload you are using? @logicalsofts

[2021-03-03 07:45] logicalsofts commented on #276
description: 'Credits towards consultation',
              image: image ,
              currency: 'INR',
              key: rkey,
              amount: '500',
              name: 'test',
              order_id: id,
              prefill: {
                email:  "test@test.com",
                contact: number,
                name:'name,
              },
              theme: {color: '#000'},

@v

[2021-03-03 07:50] logicalsofts commented on #276
it's working when i changed  theme: {color: '#000'}, to theme: {color: '#000000'},
Thanks @vivekshindhe

[2021-03-03 08:32] logicalsofts commented on #276
its not working in release apk @vivekshindhe

[2021-03-03 08:48] vivekshindhe commented on #276
@logicalsofts what is the issue?

[2021-03-03 11:18] rsunbabu opened #320 "No visible @interface for 'Razorpay' (aka 'RNRazorpayCheckout') declares the selector 'setExternalWalletSelectionDelegate:'"
## Description
Build using XCODE isnt working. The same is working without any flaw when run on a simulator.

* **Specific to iOS Users :-**
- [X] I have tried updating Razorpay pod to the latest version by using 'pod update'. Yes

## Razorpay Package Version :
Open `Package.json`. > `react-native-razorpay` "^2.2.4"

## Xcode Version (iOS) :
Open Xcode > Go to `About Xcode` > Xcode 12.4(12D4e).

#

[2021-03-04 05:17] Nautiyalsachin commented on #320
@rsunbabu You have replaced `RNRazorpayCheckout` with `RazorpayCheckout` on line number 21. If the issue still persists then I will suggest you to remove the Razorpay plugin and add it again.

[2021-03-05 07:08] ketan1062 opened #321 "App crash due to NullPointerException at com.razorpay.AutoReadOtpHelper.onReceive"
`03-03 18:37:11.967 E/AndroidRuntime( 9181): FATAL EXCEPTION: main`
`03-03 18:37:11.967 E/AndroidRuntime( 9181): Process: com.myapp, PID: 9181`
`03-03 18:37:11.967 E/AndroidRuntime( 9181): java.lang.RuntimeException: Error receiving broadcast Intent { act=com.google.android.gms.auth.api.phone.SMS_RETRIEVED flg=0x200010 pkg=com.myapp (has extras) } in com.razorpay.AutoReadOtpHelper@15d83da`
`03-03

[2021-03-05 09:28] rsunbabu commented on #320
Thankyou, its working. Please close this.

As per your suggestion, I had re-run the "npm i react-native-razorpay" but without uninstalling it

[2021-03-05 11:12] #320 closed

[2021-03-05 11:48] sumedht commented on #321
@ketan1062 we have fixed this. Looking to release in early next week

[2021-03-08 06:50] nkpatnis commented on #292
changeing Build **Active Architecture Only** to yes for debug/staging or release also not working.

[2021-03-08 09:32] nkpatnis commented on #292
changing **Build Active Architecture Only** to yes will work only when we change it in build configuration of the lib.

[2021-03-09 06:53] Nautiyalsachin commented on #292
@nkpatnis I would suggest you to check your `.xcworkspace` > `build settings` by comparing it with our [sample app](https://github.com/razorpay/react-native-razorpay/tree/master/example/SampleProject). You might have modified something which is causing this issue. Let me know if that works for you.

[2021-03-09 12:13] genioapps opened #322 "RazorpayCheckout.open not calling success and failure callbacks"
## Description
For Android Integration :
The App is getting crashed on successful payment or failure payment.
The App is also not able to handle back and the close button on the Razorpay popup.
I have tested with the test environment, What I found the SDK is not calling its success or failure callback which we provide.

## Razorpay Package Version :
`react-native-razorpay` 2.2.4.

## Java and Grad

[2021-03-10 12:34] bala-kredx commented on #320
Facing the same issue @Nautiyalsachin .

My configuration details goes here:-

MacOS 11.2.2
XCode 12.4

"react-native": "0.60.4"
"react-native-razorpay": "2.1.3"

Tried removing node_modules and Pods folder, installed back again.
Tried upgrading "react-native-razorpay" to "2.2.4" as well. No luck so far.

Any help would be greatly appreciated!!!

[2021-03-11 08:00] Nautiyalsachin commented on #320
@bala-kredx It would help if you can add more details here. Screenshots, code snippets will help.

[2021-03-11 09:47] bala-kredx commented on #320
@Nautiyalsachin

<img width="938" alt="Screenshot 2021-03-11 at 3 13 15 PM" src="https://user-images.githubusercontent.com/76196876/110767480-4fb8d180-827c-11eb-98cd-40785f4bbb8d.png">

Couldnt generate the iOS build in Xcode.

Using the below in package.json

"react-native-razorpay": "2.1.3",
"react-native": "0.60.4",

No pods present in podfile for razorpay.

RazorpayCheckout.m
`//
//  RazorpayC

[2021-03-11 10:49] Nautiyalsachin commented on #320
Hi @baalarazor, As I can see now you are using 2.1.4 plugin version, please upgrade that to the latest 2.2.4. Also, run a command `pod update` from your ios folder, that will download the latest iOS SDK, which will fix this issue. Let me know if this still persists. Thanks.

[2021-03-11 11:11] bala-kredx commented on #320
@Nautiyalsachin

<img width="906" alt="Screenshot 2021-03-11 at 4 37 58 PM" src="https://user-images.githubusercontent.com/76196876/110778268-256d1100-8288-11eb-8046-c3124237300b.png">

The aforementioned errors arise when I do the following:-
1. Updated react-native-razorpay npm package to `2.2.4`
2. Removed node_modules and installed again, run `pod update` from my ios folder.
3. Tried generatin

[2021-03-11 11:44] Nautiyalsachin commented on #320
@bala-kredx Can you share the razorpay-pod version from your project? You can find it inside ios>podfile.lock file.

[2021-03-11 11:52] bala-kredx commented on #320
@Nautiyalsachin

`- razorpay-pod (1.1.12)`

[2021-03-11 12:06] Nautiyalsachin commented on #320
Please create a sample app and share with us here, we will check it.

[2021-03-11 12:36] bala-kredx commented on #320
@Nautiyalsachin

Here's the git repo for simple app with react native 0.60.4 and latest react-native-razorpay
Getting the errors as mentioned above in the thread
[https://github.com/bala-kredx/Sample](url)

Thanks.

[2021-03-11 21:05] kaushik-prasanna commented on #315
@Nautiyalsachin , facing the same exact issue. Running everything on the latest version and have reinstalled and tried. I see the same issue closed multiple times, and every time it is unresolved and closed due to inactivity or such other. Hope it can be resolved here for future references.

Running :

react-native-razorpay (2.2.4)
razorpay-pod (1.1.12)

Setup everything has been followed.

- Buil

[2021-03-13 09:47] themanojk opened #323 "Unknown type name 'RazorpayCheckout'"
## Razorpay Package Version : 2.2.4

## Xcode Version (iOS) : 12.4

## Razorpay-pod version (iOS) : 2.2.4

### What happened:
When building the app through Xcode it is throwing error :
`Unknown type name 'RazorpayCheckout'; did you mean 'RNRazorpayCheckout'`

## Steps To Reproduce

1. Intsall the package
2. change the ios version in podfile to 10.0
3. pod install
4. Build the app

Screenshot Link

[2021-03-15 04:04] sumedht commented on #322
@genioapps Will look into this.

[2021-03-15 04:43] bala-kredx commented on #320
@Nautiyalsachin
Any update on this front?

[2021-03-15 07:48] Nautiyalsachin commented on #320
@bala-kredx - It worked for me. I did
1. `npm install`
2. `pod repo update` inside ios folder.
3. `pod install`.

I am not seeing any error. Let me know if I have missed anything here.

[2021-03-15 07:53] Nautiyalsachin commented on #323
Hi @themanojk, can you share a screenshot showing this issue. Thanks.

[2021-03-15 08:17] themanojk commented on #323
@Nautiyalsachin i have added the screenshot link in the description..

[2021-03-15 08:30] Nautiyalsachin commented on #323
Have you tried` pod update` from your ios folder?

[2021-03-15 08:31] themanojk commented on #323
Yes i have... Pod version is already 2.2.4..

[2021-03-15 08:36] Nautiyalsachin commented on #323
Can you try with XCode 12.3 or with any earlier XCode's?

[2021-03-15 08:37] Nautiyalsachin commented on #315
@kaushik-prasanna Can you try with XCode 12.3 or earlier versions?

[2021-03-15 09:52] bala-kredx commented on #320
Did the same here.
Running into the issues as I shared above. @Nautiyalsachin

[2021-03-16 06:23] Nautiyalsachin commented on #323
I would also suggest you remove the plugin and also referencing this warning from official docs, you can also try the same.

`If you previously installed a global react-native-cli package, please remove it as it may cause unexpected issues.
`

[2021-03-16 06:25] Nautiyalsachin commented on #317
Closing this issue due to inactivity. Feel free to add more comments here or try reopening the same, thanks.

[2021-03-16 06:25] #317 closed

[2021-03-16 06:27] Nautiyalsachin commented on #319
We are thinking about it, we will be releasing a pod for Razorpay Custom UI. Will update you on the same here. For now, closing this issue.

[2021-03-16 06:27] #319 closed

[2021-03-16 06:31] Nautiyalsachin commented on #320
Hey @bala-kredx, please try removing the plugin and adding it again, as there can be some connectivity issue in between react native and XCode.

You can also try this suggestion from React Native Documentation.

`If you previously installed a global react-native-cli package, please remove it as it may cause unexpected issues.
`

[2021-03-16 07:17] bala-kredx commented on #320
@Nautiyalsachin
Tried the above. Couldn't succeed build generation.
Here are my tries in steps:-

**Try 1:-**
[code]

(Running into same set of issues as mentioned below :- )
<img width="749" alt="Screenshot 2021-03-16 at 12 44 20 PM" src="https://user-images.githubusercontent.com/76196876/111270019-561cc400-8655-11eb-9d4d-47f37075595c.png">
--------------------------------------------------------

[2021-03-17 06:14] Nautiyalsachin commented on #320
@bala-kredx Can you try manual linking also? You can refer our readme [manual](https://github.com/razorpay/react-native-razorpay#manual) section for more details.

[2021-03-17 06:16] bala-kredx commented on #320
Okay, would try it now!

[2021-03-17 09:46] #322 closed

[2021-03-17 11:36] bala-kredx commented on #320
@Nautiyalsachin  tried out manual linking. Still gives the same errors on iOS build generation.

[2021-03-18 16:15] themanojk commented on #323
Its working with 11.4 XCode version..

[2021-03-19 07:52] cuirhong commented on #154
Before 'Archive'
[code]
continue 'Archive'

[2021-03-21 08:03] pareekkVipin opened #324 "Open method not working in iOS react native"
[TypeError: null is not an object (evaluating '_reactNative.NativeModules.RazorpayCheckout.open')]

already read all issue an pull request and also follow your #164 solutions but still error is coming please help me

[2021-03-21 08:10] pareekkVipin commented on #164
I'm using Xcode 12.1 and react-native-cli: 2.0.1, react-native: 0.63.3

[2021-03-21 13:08] pareekkVipin commented on #324
ok sorry but issue resolved thank you

[2021-03-21 13:08] #324 closed

[2021-03-22 09:06] Nautiyalsachin commented on #320
@bala-kredx I have tried the sample app, you shared and the linking is working fine for me, I would suggest you downgrade the XCode and try again.

[2021-03-22 09:07] Nautiyalsachin commented on #323
Closing the issue in that case, feel free to add more comments here.

[2021-03-22 09:07] #323 closed

[2021-03-23 13:19] bala-kredx commented on #320
@Nautiyalsachin Could not downgrade Xcode, as the lower versions such as 11.x isn't getting installed in my machine.

[2021-03-27 10:11] themanojk opened #325 "Razor Pay Not invoking Success Handler in React Native Webview"
I am using Expo for my react native app, I have integrated razor pay in webview, which is working on the web properly. The problem is occurring in webview after payment happens.. I can see on the webpage it is written the browser doesn't have javascript enabled, and after that, the success handler is not being invoked. I am able to do other javascript operations from the webpage like API call usin

[2021-03-30 17:16] mosamlife commented on #320
@bala-kredx do you use the Apple Silicon MacBook? if Yes then try running with Rosetta 2.

[2021-04-02 05:51] mprem1204 commented on #312
Hii @Nautiyalsachin. Any update regarding the Intent Flow in react-native-customui feature.

[2021-04-02 06:18] Nautiyalsachin commented on #312
Hi @mprem1204, We are working on this feature right now, we will be releasing it soon, I'll give you an update here. Thanks.

[2021-04-05 04:45] sumedht commented on #325
@razorpay/techpgintegrations Can u check with webview integration here.

[2021-04-06 08:29] AnoopRz commented on #325
@themanojk Please refer to this doc and make sure you are following the steps as mentioned here https://razorpay.com/docs/payment-gateway/web-integration/standard/webview/

[2021-04-07 04:47] #325 closed

[2021-04-07 17:31] akshaykatale99 opened #326 "Error: Exception in HostFunction: Malformed calls from JS: field sizes are different."
## Description
Getting Error: Exception in HostFunction: Malformed calls from JS: field sizes are different. error when i try to open gateway by calling RazorpayCheckout.open.

## Razorpay Package Version :
^2.2.4

### What happened:

Getting Error: Exception in HostFunction: Malformed calls from JS: field sizes are different. error when i try to open gateway by calling RazorpayCheckout.open.

		E

[2021-04-07 17:44] #326 closed

[2021-04-12 16:50] williemccool opened #327 "Code signing "Razorpay.framework" failed"
Hi,

This error is again persistent even if we have used the solution mentioned in #213.
This in xcode 11.6 and react native 0.63

Please help us with this.

[2021-04-17 14:43] 0x61x commented on #322
@genioapps how did you solve this? I'm facing the same issue.

[2021-04-17 15:01] genioapps commented on #322
Some other third party plugin was conflicting with the react-native-razorpay package on the native side.
The steps I have taken in order to resolve that are as mentioned below:

- Disabling all other react-native packages and test only Razorpay extension on the very first screen.
- After getting that it's working fine, I started enabling other extensions one by one, that's how I reached the extens

[2021-04-17 15:35] 0x61x commented on #322
@genioapps thanks for the quick reply. I'm thinking in the same direction.
Could you please share the conflicting package in your case, maybe it will help me to identify it quickly?

Thanks

[2021-04-20 11:43] jotkohlisegwitz commented on #327
have you find any solution @williemccool?

[2021-04-20 13:09] Nautiyalsachin commented on #327
Hey @williemccool @jotkohlisegwitz, Please try using the latest XCode as every XCode has there owned internal dependencies. I would also recommend you remove the existing package and try adding it again. Let me know if it works for you.

[2021-04-20 13:11] Nautiyalsachin commented on #312
Hi @mprem1204, this feature is released. You can see our updated docs on the react-native plugin. Closing this issue now, if you still have any query then feel free to add more comments here or create a new issue. Thanks.

[2021-04-20 13:11] #312 closed

[2021-04-21 06:09] jotkohlisegwitz commented on #327
after re adding package issue fixed.

[2021-04-25 14:16] HemanthSurimani opened #328 "Unable to generate ipa (iOS Signed Build) file"
ipatool failed with an exception: #<CmdSpec::NonZeroExitException: $ /Applications/Xcode-11.5.app/Contents/Developer/usr/bin/python3 /Applications/Xcode-11.5.app/Contents/Developer/usr/bin/bitcode-build-tool -v -t /Applications/Xcode-11.5.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin -L /var/folders/fq/lrgvk89s27nfw_x5rndb5j1r0000gs/T/ipatool20210425-7738-zcb34f/thinned-out/ar

[2021-04-26 07:08] HemanthSurimani commented on #307
hi @Nautiyalsachin Iam also facing same issue

using versions:
"react": "16.13.1",
"react-native": "0.63.3",
"react-native-razorpay": "^2.2.4",

Version 11.5 (11E608c)
Shift5

[2021-04-27 04:39] Nautiyalsachin commented on #328
Hi @HemanthSurimani, Please update your XCode to the latest, let me know if it persists.