[2021-04-27 04:40] Nautiyalsachin commented on #327
Closing this issue now. Feel free to add more comments here if this persists or create a new issue. Thanks.

[2021-04-27 04:40] #327 closed

[2021-04-27 04:42] Nautiyalsachin commented on #307
@HemanthSurimani Please upgrade your XCode to the latest version as replied on https://github.com/razorpay/react-native-razorpay/issues/328

[2021-04-28 06:59] rameshsambu-dev commented on #321
I am also facing the same issue in the production app

[2021-04-29 04:01] HemanthSurimani commented on #307
Hi @Nautiyalsachin
After updating my Xcode Version 11.5 to 12.4 issue got resolved

Thanks @Nautiyalsachin

[2021-04-29 04:02] HemanthSurimani commented on #328
Hi @Nautiyalsachin
After updating my Xcode Version 11.5 to 12.4 issue got resolved

Thanks @Nautiyalsachin

[2021-04-29 04:29] Nautiyalsachin commented on #328
Glad to hear that, closing this issue now.

[2021-04-29 04:29] #328 closed

[2021-05-02 14:57] jitunayak commented on #261
yes, i am having the same issue in my fresh install

[2021-05-05 17:04] CHANDRAMOHANnegi commented on #247
![razorpay_hdfc_ios](https://user-images.githubusercontent.com/32297380/117180671-0c995b80-adf2-11eb-9d21-7ba365fbaf31.png)

[2021-05-05 17:43] jitunayak opened #330 "Android : App crashing after payment success callback is called"
Hi Team,

I am running on MacOS 11.2.3. For me ios builds are running fine. But **android build is crashing** just after returning from the payment page. I get the payment token on successful callback. Then it crashes the whole app. Below is android adb log.

## React-native side configuration
[code]

## Android side configuration
[code]

## ADB Log Error
[code]

[2021-05-06 08:26] vivekshindhe commented on #330
@jitunayak Thanks for reaching out to us. Just tested this, wasn't able to reproduce the issue on my end. Will need more information for this, the payload that you are sending, and if possible a sample app where you are able to reproduce this issue. This would help us resolving this issue in a quick turnaround time. Thank you.

[2021-05-06 10:27] Nautiyalsachin commented on #247
Hi @CHANDRAMOHANnegi, can you try using the latest version of react-native-customui v2.1.8. We recently have released a fix for this, let me know how that works for you. Thanks.

[2021-05-06 10:46] jitunayak commented on #330
@vivekshindhe
I have created a git repo to test the app:
[code]
I have tried with UPI method. (e.g success@razorpay)

[2021-05-06 11:04] vivekshindhe commented on #330
@jitunayak Thanks for the sample app. It helped put a lot of things in perspective. I saw you also use a library called 'react-native-upi-payment'. It looks like when the success response is called, it also gets called there due to unknown reasons. It works fine without that particular library. Also, Razorpay provides support for UPI payments. You could probably go this way.

[2021-05-06 12:44] vivekshindhe commented on #330
Closing this ticket. Please feel free to create another ticket for support. Thank you.

[2021-05-06 12:44] #330 closed

[2021-05-11 17:55] sivaLeo opened #331 "Unknown type name 'RazorpayCheckout'; did you mean 'RNRazorpayCheckout'?"
Look at the screenshot.

"react-native": "0.61.5",
"react-native-razorpay": "2.2.4",

## Screenshots
<img width="1183" alt="Screenshot 2021-05-11 at 11 08 15 PM" src="https://user-images.githubusercontent.com/61038578/117861808-7bbdf680-b2af-11eb-91de-b4eb665f7564.png">

[2021-05-11 17:56] sivaLeo commented on #331
what is missed

[2021-05-12 05:43] Nautiyalsachin commented on #331
Hi @sivaLeo, try removing the plugin and adding it again, also recommend you to run `pod update` from the iOS folder.

[2021-05-12 06:46] vineeth-vk11 commented on #331
@Nautiyalsachin  I am also facing the same issue from yesterday

[2021-05-12 06:46] sivaLeo commented on #331
i tried already
npm uninstall --save react-native-razorpay
cd ios && pod install && cd ..
npm install --save react-native-razorpay
cd ios && pod install && cd ..

------Not working-----

[2021-05-12 06:51] vineeth-vk11 commented on #331
@sivaLeo are you using the latest M1 mac with latest xcode?

[2021-05-12 06:56] sivaLeo commented on #331
@vineeth-vk11
i'm using MacBook Pro MacOS 10.15.6
Xcode Version 12.4 (12D4e)

[2021-05-12 06:57] shivanitp commented on #233
Hello
in RazorpayCheckout test mode if we select failed payment in last it's not closing the razor pay screen nand not given any response
here is my code
 var options = {
            description: pageProps.orderDetail.id ? `Order ID - ${pageProps.orderDetail.id.toUpperCase()}` : pageProps.orderDetail.refServiceOrderId,
            image: `${apiBaseUri}images/common/logo-small.png`,
            cur

[2021-05-12 07:02] vineeth-vk11 commented on #331
@sivaLeo I am able to build the code successfully in debug build configuration but the build fails in production build configuration. Are you able to build in debug config?

[2021-05-12 07:05] sivaLeo commented on #331
I got stuck in debug mode

[2021-05-12 07:27] Nautiyalsachin commented on #331
@vineeth-vk11 Try changing **Build Active Architecture Only** to **Yes** for both **release** and **debug**. Also see our [FAQs](https://github.com/razorpay/react-native-razorpay/wiki/FAQ's) for more details.

[2021-05-12 07:31] Nautiyalsachin commented on #331
@sivaLeo Please try above FAQs to validate your integration, also please try running our [Sample App](https://github.com/razorpay/react-native-razorpay/tree/master/example/SampleProject), let us know if you still face any issues.

[2021-05-12 07:32] sivaLeo commented on #331
Debug Mode already set as  **yes**

[2021-05-12 07:43] vineeth-vk11 commented on #331
@Nautiyalsachin I have tried setting Build Active Architecture Only to Yes in both Debug and Release but the issue it still there.

[2021-05-12 07:47] sivaLeo commented on #331
@Nautiyalsachin
Still i'm getting that error bro

[2021-05-12 10:15] harshal2030 opened #332 "success object only returns payment_id. Also dashboard errors"
## Description
Hey there! I've been trying to integrate payment (currently using test mode) in my app but I'm facing following issue:

1. On success payment, it should return signature, order_id and payment_id according to docs. But only payment_is is returned. Here is the object returned:
```{"checkout_logo": "https://cdn.razorpay.com/logo.png", "org_logo": "", "org_name": "Razorpay Software Priv

[2021-05-12 12:06] Nautiyalsachin commented on #331
@vineeth-vk11 Are you using M1 powered MacBook?

@sivaLeo can you tell me the razorpay pod version from podfile.lock. You can find this file inside iOS folder.

[2021-05-12 13:49] Nautiyalsachin commented on #331
@vineeth-vk11 I would recommend you to use Rosetta 2. For more details see this [link](https://support.apple.com/en-in/HT211861).

[2021-05-12 13:57] vineeth-vk11 commented on #331
@Nautiyalsachin I have tried by enabling Rosetta 2 already but it did not solve the issue, I have compared the build settings of the sample app and my app, they are also the same. Any other suggestions?

[2021-05-12 14:15] vineeth-vk11 commented on #331
@Nautiyalsachin I am able to regenerate the error with SampleProject on my Mac now.

Here are the list of changes I have made to the code to make it run

package.json dependencies upgraded to following versions
"react": "16.13.1",
"react-native": "~0.63.4",
"react-native-razorpay": "^2.2.4"

Podfile.lock
razorpay pod version updated to 1.1.12

I have completely changed the pod file to this

//Podf

[2021-05-12 14:21] sivaLeo commented on #331
hey @Nautiyalsachin @vineeth-vk11,
Now its working
This is my side issue. before I manually linked the razor-pay. So the configuration lines are still in pb.xproj file even i uninstall the razor-pay in my project.
so that im unlink the razor pay then uninstall the plugin.
[code]
Then im searching with key razor-pay in vs-code global search its shows two lines of code  in project.pbxproj. so i dele

[2021-05-13 03:36] Nautiyalsachin commented on #331
@sivaLeo Glad that you are able to solve it on your own, I would also recommend you to use auto-linking, so that you don't face these issue in future.

@vineeth-vk11 Can you share the errors here?

[2021-05-13 04:05] vineeth-vk11 commented on #331
@Nautiyalsachin I am attaching a screenshot of the errors I got in the SampleProject, they are the same in my project too

<img width="258" alt="Screenshot 2021-05-13 at 9 29 25 AM" src="https://user-images.githubusercontent.com/46136355/118075590-f67d3380-b3cd-11eb-9cdd-f584422a2546.png">

I made changes to the Podfile and Package.json in the SampleProject to get the issue.

<img width="1093" alt

[2021-05-13 04:12] Nautiyalsachin commented on #331
@vineeth-vk11 Can you try creating a sample app from scratch and then try to integrate react-native-razorpay plugin, let me know if you face any issues there. I would recommend following the auto-linking process. Let me know how it goes for you. Thanks.

[2021-05-13 05:11] vineeth-vk11 commented on #331
@Nautiyalsachin I have created a new project using expo. Following are the steps I followed

1. expo init RazorpayTest
2. expo eject
3.npm install --save react-native-razorpay
4. cd ios
5. pod install
6. pod update

After this I opened the project in xcode
Build in debug configuration is successful
After changing the build configuration to release I got the same errors

[2021-05-13 08:15] Nautiyalsachin commented on #331
@vineeth-vk11 Oh got the issue, you can't integrate our app with the expo. As we are using some native functionality here and that is not supported by the expo framework. For more details - see the expo's [limitation](https://docs.expo.io/introduction/why-not-expo/). Let me know if you need any more details. Closing this issue, feel free to add more comments or reopen a new issue.

[2021-05-13 08:15] #331 closed

[2021-05-13 09:06] vineeth-vk11 commented on #331
@Nautiyalsachin I am not using react-native-razorpay in expo managed work flow, I am using it in bare work flow.

Also, I created a new project with react native CLI and the issue is still there.

So expo is not the issue.

[2021-05-13 10:08] Nautiyalsachin commented on #331
@vineeth-vk11 Is the error is same for both cases?

[2021-05-13 10:10] Nautiyalsachin commented on #331
@vineeth-vk11 Please share the sample app here, so that I can download and try to debug it.

[2021-05-13 12:40] vineeth-vk11 commented on #331
@Nautiyalsachin yes the error is same in both the cases.

I am attaching both the apps - React native CLI and expo ejected app

My Xcode version - 12.5
node version - 16.1.0
npm version - 7.11.2

[RazorpayTest.zip](https://github.com/razorpay/react-native-razorpay/files/6472455/RazorpayTest.zip)
[RazorpayApp.zip](https://github.com/razorpay/react-native-razorpay/files/6472456/RazorpayApp.zip)

[2021-05-13 14:19] vineeth-vk11 commented on #331
@Nautiyalsachin I installed Xcode 11.4 beside my Xcode 12.5.

Though xcode 11 is not supported on Big Mac Sur, I used the following solution to run it and to see if it can compile.

https://stackoverflow.com/questions/64983664/is-it-possible-to-run-xcode11-in-macos-big-sur

I was able to compile the code successfully on xcode 11.4 in both debug and release config.

So can we assume that the proble

[2021-05-14 04:48] vineeth-vk11 commented on #331
@Nautiyalsachin did you get a chance to look into the sample apps?

[2021-05-14 15:20] Nautiyalsachin commented on #331
@vineeth-vk11  can you try uninstalling and installing the plugin again. Let me know if this solves the issue. Thanks.

[2021-05-14 15:41] vineeth-vk11 commented on #331
@Nautiyalsachin I have tried doing it multiple times but it does not work.

Were you able to compile the above sample apps on xcode 12 ?

[2021-05-14 16:50] Nautiyalsachin commented on #331
@vineeth-vk11 I recently updated the Razorpay-pod which will address the xcode 12.5 issue, latest pod is 1.1.13. You can confirm your pod version by checking podfile.lock in your ios folder.

[2021-05-14 17:30] vineeth-vk11 commented on #331
@Nautiyalsachin yes pod version is 1.1.13 and it has the same error

I am attaching the sample project code below, I have not modified anything in the code. I only ran below steps before compiling on xcode

1. npx react-native init Razorpay
2. npm install react-native-razorpay --legacy-peer-deps
3. cd ios & pod install

Been looking for solutions and working on it for last 3days but unable to find

[2021-05-15 04:42] Nautiyalsachin commented on #331
Hi @vineeth-vk11, I tried the above sample app and it worked fine for me, here is the steps I did in the above sample app :

1. npm install
2. pod install from ios folder as pod were missing
3. Assigned developer team.

Here is the attached sample app.

I would also recommend you check the default XCode version in your system. You can go in XCode > Preferences > Locations > Command Line Tools > Se

[2021-05-15 06:14] vineeth-vk11 commented on #331
Hi @Nautiyalsachin , I have downloaded the above attached sample code and the issue still there.

I have selected command line tools to xcode 12.5

I am using

Node - v 16.1.0
NPM - v 7.11.2
cocoapods - v 1.10.1

Can you tell me your node, npm and cocoapods versions ?

[2021-05-15 07:58] punndcoder28 commented on #331
@vineeth-vk11 @Nautiyalsachin I am also facing the same issue on our project. I have

react-native-razorpay 2.2.5
razorpay-pod 1.1.13
Node - v 16.0.0
NPM - v 7.10.0
cocoapods - v 1.10.1

[2021-05-15 09:27] vineeth-vk11 commented on #331
@punndcoder28 I am starting to think that M1 macs might have this issue because I am also running on M1 mac.

Though I selected run on rosetta in my xcode info the issue is still there.

[2021-05-15 10:01] vineeth-vk11 commented on #331
@Nautiyalsachin @punndcoder28 yes it is confirmed that issue is with arm64 on M1 mac

case 1 -
Opened the terminal normally
npx react-native run-ios
Build Failed

case 2 -
I enabled "Open with Rosetta" for terminal and opened the terminal again
npx react-native run-ios
Build successful

But the same does not work for Xcode. Even if I am opening the xcode after enabling "Open with Rosetta" it is co

[2021-05-15 12:51] punndcoder28 commented on #331
@vineeth-vk11 Your Xcode point makes sense, but for me even when I ran terminal with rosetta build failed.

[2021-05-15 13:23] vineeth-vk11 commented on #331
@punndcoder28 can you paste the error you got when you ran with rosetta on the terminal ?

[2021-05-16 04:05] niyatiArunk commented on #323
![image](https://user-images.githubusercontent.com/60418567/118385131-05602200-b62a-11eb-8001-f70b7a1e9d27.png)
Check this image, i got this error, please let me know how to get it resolved

[2021-05-16 04:38] niyatiArunk opened #333 "RazoryPay Checkout Error Unknown Type"
Check this image, I got this error, please let me know how to get it resolved using
Razorpay, v2.2.5,
Xcode v12.4,
Razorpay-pod (Autolinking)(1.1.13)
React-native v63.2,
Works fine in Android only issue with Ios
![Untitled](https://user-images.githubusercontent.com/60418567/118385631-4ce8ad00-b62e-11eb-912b-88667dde5bac.png)

[2021-05-16 05:32] punndcoder28 commented on #331
@vineeth-vk11 @Nautiyalsachin I should be corrected. Works with rosetta 2 on terminal, but fails with Xcode like @vineeth-vk11 mentioned.

[2021-05-16 05:43] vineeth-vk11 commented on #333
@niyatiArunk are you using a M1 mac ?

[2021-05-16 05:53] vineeth-vk11 commented on #331
@punndcoder28 thanks for confirming

@Nautiyalsachin any workaround to compile using x86 instead of arm64 on Xcode until the issue is resolved ?

[2021-05-16 18:42] harshal2030 commented on #332
Okk! I figured out that I spelled order_id wrong. I used orderId instead of order_id

[2021-05-16 18:42] #332 closed

[2021-05-16 18:43] harshal2030 commented on #332
It would be great if you could provide typescript definitions too

[2021-05-17 06:32] vineeth-vk11 commented on #331
@Nautiyalsachin  any updates on the issue ?

[2021-05-17 06:53] Nautiyalsachin commented on #331
@vineeth-vk11 Can you share the error you are getting here?

[2021-05-17 07:26] vineeth-vk11 commented on #331
@Nautiyalsachin this problem is there on M1 macs

Opening the terminal with Rosetta and running react-native run-ios works but without rosetta it gives the errors.

Even though xcode is opened with Rosetta it still uses arm64 to compile the code and not x86

Image of the error is attached

<img width="258" alt="118308855-16197680-b50a-11eb-9704-776973aa904c" src="https://user-images.githubusercont

[2021-05-17 08:33] Nautiyalsachin commented on #331
Try changing **Validate Workspace** to **YES** in the Build Settings tab and let me know if the error still persists.

[2021-05-17 08:55] vineeth-vk11 commented on #331
@Nautiyalsachin yes the error still persists after changing the Validate Workspace to YES in build settings.

[2021-05-17 11:00] Nautiyalsachin commented on #331
@vineeth-vk11  Can we get on a call, I want to see your implementation and build settings.

[2021-05-17 11:03] niyatiArunk commented on #333
I am using mac mini

[2021-05-17 11:06] niyatiArunk commented on #331
Same issue, exists for me, I have a production app in Android that works fine, but while archive it was not working, need this to get resolved

[2021-05-17 11:12] Nautiyalsachin commented on #331
Hi @niyatiArunk, Have you gone through our [FAQs](https://github.com/razorpay/react-native-razorpay/wiki/FAQ's) and added asked changes? Let me know if you still face any issues, I also recommend you to go through this thread and do the asked changes.

[2021-05-17 14:10] vineeth-vk11 commented on #331
@Nautiyalsachin yes we can do it, l have contacted you on LinkedIn.

@niyatiArunk can you confirm if you are using a M1 Mac or a normal Mac ?

[2021-05-18 04:50] niyatiArunk commented on #331
I am using Mac mini, it works fine now archive succeded.

[2021-05-18 06:06] niyatiArunk commented on #333
it works fine now archive succeded, earlier I have changed the scheme to run as a release build that was causing the issue, now it working after reverting back.

[2021-05-18 06:06] #333 closed

[2021-05-18 07:08] vineeth-vk11 commented on #331
@Nautiyalsachin thanks for the solution

https://khushwanttanwar.medium.com/xcode-12-compilation-errors-while-running-with-ios-14-simulators-5731c91326e9

I followed the steps in this but in xcode 12.5 there is no step 2. Only step 1 will do.

Following are the steps I have used to fix the issue

Step 1 - Added the below code to the Pod file

post_install do |installer|
  installer.pods_project.bu

[2021-05-18 13:21] punndcoder28 commented on #331
Build works from Xcode thanks @Nautiyalsachin @vineeth-vk11 !!

[2021-05-18 15:07] sumedht commented on #321
@ketan1062 @rameshsambu-dev we have fixed this issue in a newer version of SDK.

[2021-05-18 15:07] #321 closed

[2021-05-19 08:48] Abhi0059 opened #334 "Getting error undefined | undefined while calling RazorpayCheckout.open"
it was working fine before...suddenly i am getting error undefined | undefined while calling RazorpayCheckout.open .. i didn't change anything... i was using react-native-razorpay:2.2.2 and googled about this issue.. some says to update it . so i did react-native-razorpay:2.2.5 but still getting same issue... please help me out.. thanks in advance.

var options = {
                      descriptio

[2021-05-24 04:35] sumedht commented on #334
@Abhi0059 Getting this issue on iOS or Android? Looks like lib is not imported properly so it's not able to get related classes & hence giving undefine as an error.

[2021-05-24 05:52] CHANDRAMOHANnegi opened #335 "[!] No podspec found for `react-native-customui` in `../node_modules/react-native-customui`"
https://www.npmjs.com/package/react-native-customui

Version ---> 2.1.8
react native ---> .62.2

podspec file is not found in customui for any version ,

[2021-05-24 07:59] CHANDRAMOHANnegi commented on #335
https://razorpay.com/docs/payment-gateway/react-native-integration/custom/

[2021-05-24 08:00] CHANDRAMOHANnegi commented on #319
use this Doc
https://razorpay.com/docs/payment-gateway/react-native-integration/custom/

[2021-05-24 08:00] CHANDRAMOHANnegi commented on #317
use this Doc

https://razorpay.com/docs/payment-gateway/react-native-integration/custom/

[2021-05-24 08:00] CHANDRAMOHANnegi commented on #314
use this Doc

https://razorpay.com/docs/payment-gateway/react-native-integration/custom/

[2021-05-24 08:01] CHANDRAMOHANnegi commented on #312
use this Doc

https://razorpay.com/docs/payment-gateway/react-native-integration/custom/

[2021-05-24 08:01] CHANDRAMOHANnegi commented on #270
use this Doc

https://razorpay.com/docs/payment-gateway/react-native-integration/custom/

[2021-05-24 08:01] CHANDRAMOHANnegi commented on #261
use this Doc

https://razorpay.com/docs/payment-gateway/react-native-integration/custom/

[2021-05-24 08:02] CHANDRAMOHANnegi commented on #246
use this Doc

https://razorpay.com/docs/payment-gateway/react-native-integration/custom/

[2021-05-24 08:02] CHANDRAMOHANnegi commented on #236
use this Doc

https://razorpay.com/docs/payment-gateway/react-native-integration/custom/

[2021-05-24 08:03] CHANDRAMOHANnegi commented on #215
use this Doc

https://razorpay.com/docs/payment-gateway/react-native-integration/custom/

[2021-05-24 14:49] Abhi0059 commented on #334
i am working on android .. i think it is imported properly because my payments are going to admin panel(razorpay).

[2021-05-24 18:38] vivekshindhe commented on #334
Could you create a sample project where you are able to produce this error and send the same to us? That would be really helpful. The information provided isn't much to go on, and the issue isn't reproducible by us.

Thanks.

[2021-05-25 05:05] Nautiyalsachin commented on #335
Closing this issue due to lack of information, please create a new issue with asked details.

[2021-05-25 05:05] #335 closed

[2021-05-25 07:19] Abhi0059 commented on #334
@vivekshindhe ok

[2021-05-27 09:14] satyajeetkrjha opened #336 "google play rejected the app due to Intent Redirection vulnerability in 2.2.2 and 2.2.5"
Google play store has rejected our app update and sent us the reason behind this rejection.
" Intent Redirection vulnerability"
On further email exchanges, we got to know that is this happening because of Razorpay.

For example, your app contains an Intent Redirection issue which can allow malicious apps to access private app components or files.
[code]
This has been happening on "react-native-raz

[2021-05-27 12:08] vivekshindhe commented on #336
@kolaveridi thanks for reaching out to us. We have already solved for this issue. Could you please send your conversation with Google regarding this for now insight?

[2021-05-28 07:01] kolaveridi commented on #336
Thanks for contacting the Google Play team.

Status: Latest app update not available on Google Play

I’ve reviewed your appeal request and found that your app still violates Google Play Policy. If you submitted an update to an existing app, the version published prior to the update is still available on Google Play. I’ve included details below about the specific issue with your app and what you ca

[2021-05-28 07:02] kolaveridi commented on #336
I installed the react-native Razorpay version 2.2.2  ,2.2.5 but all these versions failed to solve our issue and our app got rejected.

[2021-05-28 07:16] vivekshindhe commented on #336
@kolaveridi we have seen this happen that the version they deemed has the intent redirection issue should be removed from the track of the app. As they've said in their mail. You have deactivate it first and then upload your new app bundle. Could you please try this out? The intent redirection issue did exist but it was resolved for all merchants and platforms. This is the only reason I think you'

[2021-05-29 07:27] Abhi0059 commented on #334
Hi @vivekshindhe i created a sample project where i am getting same issue... where i have to send ?

[2021-05-29 14:47] vivekshindhe commented on #334
Please send it at vivek.shindhe@razorpay.com

[2021-05-30 07:16] Abhi0059 commented on #334
Hi @vivekshindhe Please check sample project at vivek.shindhe@razorpay.com

[2021-05-31 14:16] vivekshindhe commented on #334
@Abhi0059 I just checked the project you shared and it's working just fine. Please try completely uninstalling and cleaning cache before reinstalling and trying this again.

[2021-06-01 05:23] Abhi0059 commented on #334
Hi @vivekshindhe, i run that same code on 3 different android devices.. but still getting same error.. did you checked with same API key which i shared to you?

[2021-06-01 05:41] vivekshindhe commented on #334
@Abhi0059 Yes. I didn't change anything.
- npm install
- npx react-native run-android
And it worked.

[2021-06-01 06:47] Abhi0059 commented on #334
@vivekshindhe i also tried making build for 2 different Systems ... mac and windows but still getting same.. can you please help me out via skype, phone call, google meet any which ever suitable for you.

[2021-06-01 09:54] vivekshindhe commented on #334
@Abhi0059 Sure. Let's connect over a call. Could you please send your email-address that is registered with Razorpay and your Merchant ID to vivek.shindhe@razorpay.com so we can set up this call? Thank you for your patience.

[2021-06-01 12:51] Abhi0059 commented on #334
@vivekshindhe Thanks .. finally i got the issue.. now it is working fine.

[2021-06-01 13:14] vivekshindhe commented on #334
@Abhi0059 Could you please explain what the issue was?? This may help people with the same issue in the future.

Also, closing the issue. Please feel free to open another one if needed.

Thank you.

[2021-06-01 13:14] #334 closed

[2021-06-01 15:44] Abhi0059 commented on #334
Yes @vivekshindhe , the code which i sent you.. i was alerting "${amount}" in (alert(`Success: ${data.razorpay_payment_id} ${amount}`))  which was the issue..here amount is not defined.. so it goes to catch block.. but don't know how it was running at your end.

[2021-06-01 18:30] vivekshindhe commented on #334
I had changed that after seeing there was no variable in that name guessing there was some different code that was missing when creating the sample project. Glad you were able to resolve your issue.

[2021-06-04 06:25] CHANDRAMOHANnegi opened #341 "Direct local .aar file dependencies are not supported when building an AAR."
FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':react-native-customui:bundleReleaseAar'.

    "react-native-customui": "^2.1.8"
    "react-native": "0.62.2"

     classpath('com.android.tools.build:gradle:4.0.1')
     distributionUrl=https\://services.gradle.org/distributions/gradle-6.5-all.zip

[2021-06-04 12:07] vivekshindhe commented on #341
@CHANDRAMOHANnegi need more information on what you are trying to do here.

[2021-06-04 15:10] nagendra-d commented on #288
Hey guys,
with expo 41, supporting the config plugins, will there be any plugin config ?

[2021-06-05 08:50] CHANDRAMOHANnegi commented on #341
ran this command in android studio , trying to make apk

./gradlew assembleRelease -x bundleReleaseJsAndAssets

[2021-06-08 14:28] zenjedi opened #342 "RazorPay Sample Project "Release" build fails - Xcode 12.5, RN:0.63.4, RP:2.2.7 (pod - 1.1.13)"
We've been at it trying to migrate our project code base from Xcode 11 (where React Native Razorpay 2.2.1 works perfectly) to Xcode 12.5. The only failure is react-native-razorpay and that too only in the Release build. The errors are the same as the long discussed issues around
`Unknown type name 'RazorpayCheckout'; did you mean 'RNRazorpayCheckout'?`

Even the razorpay sample project here fails

[2021-06-12 06:03] zenjedi commented on #342
@Nautiyalsachin and team at Razorpay, please respond. Razorpay is the only pod which is not going through for our Xcode 12 ios 14 build. Your help will be much appreciated.

[2021-06-14 09:09] Ansonmathew commented on #342
@zenjedi
[code]

Add the above in your Podfile.

[2021-06-16 18:06] sourav-singh-rawat commented on #323
Did anyone found solution for this?

[2021-06-16 19:20] sourav-singh-rawat opened #343 "Unknown type name 'RazorpayCheckout'; did you mean 'RNRazorpayCheckout'?"
<img width="1440" alt="Screenshot 2021-06-17 at 12 49 14 AM" src="https://user-images.githubusercontent.com/45400448/122279654-ed6c0e80-cf05-11eb-8643-dd18a58731cf.png">

### React-Native Razorpay Package Version : ^2.2.7
### Xcode Version: 12.5

### What happened:
When building the app through Xcode it is throwing error :
Unknown type name 'RazorpayCheckout'; did you mean 'RNRazorpayCheckout'?

#

[2021-06-17 11:04] zenjedi commented on #342
@Ansonmathew , this seems to have worked. The build is currently on TestFlight undergoing testing. Will reach you if there are concerns, which might be unlikely. Thank you for your help and response. Cheers!

[2021-06-22 07:29] deepakverma4 commented on #343
i'm also facing same issue

[2021-06-22 07:32] deepakverma4 commented on #323
@Nautiyalsachin Everyone is not on 11.4 XCode version. So please suggest some global fix for this issue.

[2021-06-22 09:21] vivekshindhe commented on #343
@sourav-singh-rawat , @deepakverma4 was right, here's a snippet of what's changed for M1 Xcode v12,

So now whenever you try to build this test project under selected iOS 14 simulator, it will return you with the mentioned errors as the link target type will be an unknown type ‘arm64-apple-ios11.0-simulator’ which cause the build failed.

Here's the link to the reference site, [here](https://khush

[2021-06-24 04:10] harshiththota commented on #331
Hello, I am facing the same issue, after trying all the above-mentioned steps, still it did not work.
node: 13.11.0
react-native: 0.61.4
macOS: 11.4
Xcode: 12.5.1
react-native-razorpay: 2.2.1

[2021-06-24 04:35] vineeth-vk11 commented on #331
@harshiththota can you share a screenshot of your pod file code? Thanks

[2021-06-24 05:08] harshiththota commented on #331
<img width="1440" alt="MicrosoftTeams-image (1)" src="https://user-images.githubusercontent.com/15308181/123205843-3a3c8000-d4d8-11eb-831f-9ef34759d41c.png">
Hi @vineeth-vk11, here is screenshot of pod file, thank you.

[2021-06-24 05:14] vineeth-vk11 commented on #331
@harshiththota I would like to see where you have implemented the suggested step 1 which I am entering below.

post_install do |installer|
installer.pods_project.build_configurations.each do |config|
config.build_settings["EXCLUDED_ARCHS[sdk=iphonesimulator*]"] = "arm64"
end
end

Thank you

[2021-06-24 05:28] harshiththota commented on #331
<img width="1440" alt="MicrosoftTeams-image (1)" src="https://user-images.githubusercontent.com/15308181/123207473-0dd63300-d4db-11eb-9091-134cd15b18e2.png">
 @vineeth-vk11, We have added. the mentioned code in pod file, still it did not worked

[2021-06-24 05:36] vineeth-vk11 commented on #331
@harshiththota I suggest you do all the steps given in this comment - https://github.com/razorpay/react-native-razorpay/issues/331#issuecomment-842913500

If it still does not work, create a new project and implement the payment gateway and see if you are still facing the issue.

I would also like you try opening your terminal using rosetta and compile your code from the terminal to see what happe

[2021-06-24 05:40] harshiththota commented on #331
We had gone through the link and followed all the steps, it didn't work. We have created the new project and tried integration of react-native Razorpay, it builds successfully. And our mac processor is Intel.

[2021-06-24 05:56] vineeth-vk11 commented on #331
@harshiththota I suggest you undo the step where you have added the code in pod file because it is to resolve the problem in M1 macs.

@Nautiyalsachin can help you solve this issue.

[2021-06-24 09:36] harshiththota commented on #331
@vineeth-vk11, I uninstalled and reinstalled the react-native Razorpay. It is working fine now. Thank you.

[2021-06-29 10:07] shivamvk commented on #331
Has anyone found a solution to this? I'm also facing similar issues with the following config:

- Xcode 12.5
- react-native-razorpay 2.2.7
- react-native 0.63.4
- Macbook pro macOS 11.4 intel chip

The errors are similar to the screenshot attached above and I've tried everything mentioned above.

@Nautiyalsachin Are you guys not able to resolve this? My app has to go to production today and I'm st

[2021-06-29 10:12] shivamvk commented on #323
@Nautiyalsachin Why is this issue closed? I don't see downgrading to older version of Xcode as a solution to this. I need to fix this on the latest Xcode Version. Let me know if you can get on a call with me to resolve this.

[2021-06-29 10:50] harshiththota commented on #331
@shivamvk uninstall, clean, and reinstall the Razorpay SDK. After doing this, in my case, it worked fine.

[2021-06-29 10:55] shivamvk commented on #331
@harshiththota Tried this several times. Didn't work.

[2021-06-29 12:37] mharis17 commented on #289
buildscript {
    ext {
        buildToolsVersion = "29.0.2"
        minSdkVersion = 19
        compileSdkVersion = 28
        targetSdkVersion = 28
    }
used this combination ,got the same error..

[2021-06-29 13:07] vivekshindhe commented on #289
minSdkVersion should be 21

[2021-06-29 16:26] shivamvk commented on #331
I was able to create a build by selecting 'any iOS device' in the devices list. This solved my issue for creating a build and uploading it to App Store. But if I've to run my app in release mode then this issue is still there.

[2021-07-05 04:42] vivekshindhe commented on #343
@sourav-singh-rawat Closing the issue due to inactivity. Please feel free to comment here to reopen. Thank you.

[2021-07-05 04:42] #343 closed

[2021-07-05 04:44] vivekshindhe commented on #336
@satyajeetkrjha Closing the issue due to inactivity. Please feel free to comment here to reopen. Thank you.

[2021-07-05 04:44] #336 closed

[2021-07-05 13:49] shadowshantu commented on #261
@knevagi Could you solve the issue? I am have the same issue.

react - 17.0.1
react-native - 0.64.1
react-native-razorpay - 2.2.7

My checkout code-
[code]
The app crashes on clicking either Success or Failure. No error log is displayed. Any help would be much appreciated. Thanks in advance.

[2021-07-06 03:35] VinitSarvade commented on #162
Please add support for typescript types. There is already a PR open for this https://github.com/razorpay/react-native-razorpay/pull/134

[2021-07-13 14:43] varsh8th opened #345 "Razorpay Checkout not opening in IOS"
## Description

Razorpay checkout not opening in mobile app, but only in ios.
It works fine in android

## Razorpay SDK Version :
Bundle version string : 1.2.13
react-native-razorpay": "^2.2.7"

## Xcode Version :

Version 12.2 (12B45b)

### What you did:

Tried to use checkout by clicking on a button in the app

### What happened:

Nothing happens, the loader circles a little but other than that

[2021-07-14 11:53] arya-man commented on #345
Yeah same issue here

[2021-07-14 14:17] varsh8th commented on #345
@Nautiyalsachin @vivekshindhe & team please respond, its been bugging us since last few days

[2021-07-14 15:03] ramprasadAnand commented on #345
Hi @varsh8th, can you pls share what async task you are performing on tap of the pay button in the UI ? The open checkout action is not async, it should open immediately on tap of button.

[2021-07-14 18:48] arya-man commented on #345
The thing is that - the checkout works perfectly fine when it is just `RazorpayCheckout.open(options)` but the checkout does not open when a fetch request is made as in
[code]

and then passing the `payment.id as order_id` inside options of the checkout.
The fetch is request is made to make use of automatic capture and razorpay route. The issue is ios only and the same code works perfectly fine fo

[2021-07-15 05:11] maskedTitan commented on #345
Razorpay's APIs won't work if they're being called from the client side. They should be implemented and called in the backend and the response can be transferred to the front end.

[2021-07-15 07:45] akshaykatale99 commented on #345
Same issue for me. showing following error and sometimes it opens but most of the time throwing this error

![Screenshot 2021-07-15 at 1 15 07 PM](https://user-images.githubusercontent.com/12472207/125749561-041325ca-1617-4e72-9144-29adc2baf2ed.png)

[2021-07-15 07:53] LoknathPandit opened #346 "Unknown type name 'RazorpayCheckout'; did you mean 'RNRazorpayCheckout'?"
## Description
Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest React Native Razorpay plugin release to make sure your issue has not already been fixed.

* **Specific to iOS Users :-**
- [ ] I have tried updating Razorpay pod to the latest version by using 'pod update'.

## Razorpay Package Version :
Open `Package.json`.

[2021-07-15 07:56] LoknathPandit commented on #346
<img width="1440" alt="Screenshot 2021-07-15 at 1 26 33 PM" src="https://user-images.githubusercontent.com/45422600/125751119-2e20f7fa-2061-44c6-9222-a0d277fb438c.png">

[2021-07-15 08:49] arya-man commented on #345
@maskedTitan Even after creating the razorpay order from the backend - the checkout is not opening. Funny thing is if I dont do the fetch call for creating order on my backend and simply call `RazorpayCheckout.open()` , the checkout opens. However if I do a post request for creating a razorpay route order on my backend - then regardless of passing `order_id in options` the checkout does not open.

[2021-07-16 07:10] varsh8th commented on #345
@maskedTitan @vivekshindhe @Nautiyalsachin  can you respond to @arya-man  above, he's from the same team and lead dev on the app where we are facing this issue. Its blocking lots of things for us in ios only,  as android is working fine.

We've raised multiple support requests on this since last week, support after raising tickets is basically non existent so pinging here. So can you guys take a l

[2021-07-16 07:35] vivekshindhe commented on #345
@varsh8th We apologise for the delay. Could you send us your emailID or razorpay MID so that we can get in touch with you to resolve this sooner?

[2021-07-16 08:05] arya-man commented on #345
Hey @vivekshindhe . Please mail at aryaman0301@gmail.com

[2021-07-16 10:10] akshaykatale99 opened #347 "Razorpay checkout is not opening on IOS"
Razorpay checkout is not opening on ios. throwing the following error when calling RazorpayCheckout.open.

![Screenshot 2021-07-16 at 3 38 14 PM](https://user-images.githubusercontent.com/12472207/125931702-56930ae7-7f3e-4d09-ae67-76f811368686.png)

![Screenshot 2021-07-16 at 3 41 37 PM](https://user-images.githubusercontent.com/12472207/125932240-b9e5a45a-89a9-45c4-9817-1929e5c69e1f.png)

React N

[2021-07-24 22:24] devanshsadhotra25 commented on #343
@sourav-singh-rawat  , can u please reopen it , or help me out , how did u resolve this?

[2021-07-24 22:25] devanshsadhotra25 commented on #323
facing this issue even now, any solution for anyone?

[2021-07-26 16:05] devakalimuthu opened #348 "RazorPay Checkout open function not worked on both iOS and Android"
## Description
Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest React Native Razorpay plugin release to make sure your issue has not already been fixed.

* **Specific to iOS Users :-**
- [ ] I have tried updating Razorpay pod to the latest version by using 'pod update'.

## Razorpay Package Version :
Open `Package.json`.

[2021-07-26 16:17] vivekshindhe commented on #348
@devakalimuthu Will need more information to go on here. Does it stay loading forever? What logs are you seeing when this happens? What version of react-native-razorpay are you using?

[2021-07-27 05:44] ramprasadAnand commented on #323
@devanshsadhotra25 are you facing this issue on Apple M1 chip MacBook ?

[2021-07-27 05:58] ramprasadAnand commented on #347
@akshaykatale99 Can you share the sample payload you are passing to open checkout ?

[2021-07-27 06:28] akshaykatale99 commented on #347
Hi @ramprasadAnand , we are using this payload.

var options = {
            description: "Online Shopping",
            currency: "INR",
            key: "rzp_test_RziHitfzp10iKh",
            order_id: "order id recieved from razorpay",
            prefill: {
                email: checkoutData.customer.billing.email,
                contact: checkoutData.customer.billing.phone,

[2021-07-27 06:49] devakalimuthu commented on #348
No, only open loader page. this page is open and then suddenly closed it. No logs are printed and also no errors are bounce. When call the Razor-pay.open function called then only this happened. Previous days it worked fine. Recent days it wont open the page. My current version "react-native-razorpay": "^2.2.7". and  "react": "16.11.0", "react-native": "0.62.2",

[2021-07-27 06:49] devakalimuthu commented on #348
@vivekshindhe
No, only open loader page. this page is open and then suddenly closed it. No logs are printed and also no errors are bounce. When call the Razor-pay.open function called then only this happened. Previous days it worked fine. Recent days it wont open the page. My current version "react-native-razorpay": "^2.2.7". and "react": "16.11.0", "react-native": "0.62.2",

[2021-07-27 06:57] Chillkrt commented on #295
Hii
I'm finding some issues while redirection for upi !!!!
![WhatsApp Image 2021-07-14 at 11 43 01 AM](https://user-images.githubusercontent.com/75985773/127109685-29500186-9ab3-4af6-96f0-4eb8b07077ac.jpeg)

[2021-07-27 10:39] devanshsadhotra25 commented on #323
@ramprasadAnand  no, its an Intel one

[2021-07-27 12:06] ramprasadAnand commented on #323
We are able to compile without any errors, with below versions.

"dependencies": {
    "@react-native-community/cli": "^5.0.1",
    "react": "17.0.1",
    "react-native": "0.64.2",
    "react-native-base64": "^0.2.1",
    "react-native-eject": "^0.1.2",
    "react-native-elements": "^3.4.2",
    "react-native-razorpay": "^2.2.7",
    "typescript": "^4.3.4"
  },

Can you try with the latest version

[2021-07-27 12:10] ramprasadAnand commented on #347
@akshaykatale99 Are you generating the order_id from your backend ?. And If you are showing a loader while calling the order_id API from the backed, can you try disabling the loader and try to open checkout ?

[2021-07-27 17:43] akshaykatale99 commented on #347
@ramprasadAnand Yes. we are generating order id from backend and showing loader while api call. when i disable loader as per your suggestion its opening now.

[2021-07-28 11:30] #347 closed

[2021-07-29 11:28] rameshyallappa commented on #346
Hi im also Getting this same issue in xcode 12.5 in MacBook Pro working fine in android, im facing problem in Ios.I am able to build the code successfully in debug build configuration but the build fails in production build. please help me with the solution....Thank you

<img width="1164" alt="Screenshot 2021-07-29 at 4 49 54 PM" src="https://user-images.githubusercontent.com/48551509/127484309-9e

[2021-07-29 15:36] vivekshindhe commented on #348
@devakalimuthu Send the payload you are using please?

[2021-08-03 06:33] sahil-prakash commented on #345
I have faced similar issue in my project and have added a [PR for the fix](https://github.com/razorpay/react-native-razorpay/pull/349)

[2021-08-03 07:44] ramprasadAnand commented on #346
@LoknathPandit can you share the react-native version you are using in your project ?

[2021-08-05 12:48] amitsharma-007 opened #350 "Unknown type name 'RazorpayCheckout'; did you mean 'RNRazorpayCheckout'? Got this error while integrating it with react native IOS"
Objects-normal/i386/RazorpayCheckout.o /Users/amitsharma/Desktop/Projects/FormUp/Development/FormUp/node_modules/react-native-razorpay/ios/RazorpayCheckout.m normal i386 objective-c com.apple.compilers.llvm.clang.1_0.compiler (in target 'react-native-razorpay' from project 'Pods')
    cd /Users/amitsharma/Desktop/Projects/FormUp/Development/FormUp/ios/Pods
    export LANG\=en_US.US-ASCII
    /Appl

[2021-08-05 19:00] gauravgg commented on #292
Same happening with the Sample Project in XCode 12.5. Please help me with the solution

[2021-08-06 16:50] amitsharma-007 commented on #350
Seeking somebody's response. I am stuck here. Kindly help somebody.

[2021-08-06 19:02] RahimKadhar66 opened #351 "RazorpayCheckout.open is not working, getting null is not an object error"
I have used 2.2.0 version, suddenly pay button in Razorpayment page is not working. So upgraded to latest version 2.2.7, now getting the following error.

[Sat Aug 07 2021 00:09:52.619]  LOG      Order id :  order_Hi0x9j91dMjmEd
[Sat Aug 07 2021 00:09:52.720]  LOG      razor site
[Sat Aug 07 2021 00:09:52.722]  LOG      Error new:  [TypeError: null is not an object (evaluating '_reactNative.Native

[2021-08-10 05:36] amitsharma-007 commented on #350
Any help is appreciated!

[2021-08-10 06:53] ramprasadAnand commented on #350
Hi @amitsharma-007, Can you please share below information to help you resolving the issue ?
- React Native version
- Xcode Version
- iOS Deployment target
- react-native-razorpay version
- Are you using M1 chip processor for development ?

[2021-08-21 17:49] amitsharma-007 commented on #350
React Native version:   0.64.2
Xcode Version:  12.5.1
iOS Deployment target: ios 10.0
react-native-razorpay version: 2.2.7
Are you using M1 chip processor for development ? : Yes

[2021-08-25 07:32] GTSConserve opened #352 "is react native razorpay won't install"
`npm install --save react-native-razorpay`
[code]

[2021-08-25 08:22] vivekshindhe commented on #352
@GTSConserve Looks like you are using node 16.7.0 which ships with npm 7.20.3. The library was built for the LTS Version of node which is 14.17.5 to reduce the crashes and maintain stability. Please downgrade your node version. this should get resolved.

[2021-09-05 11:39] NorinMp143 commented on #100
i had same problem with following versions
react-native 0.64.2
react-native-razorpay 2.2.7

[2021-09-06 12:30] Vicky-SilverSky opened #354 "UPI (Google pay, PhonePe, Paytm) payment gateway crash"
shows invalid UPI address sometimes and payment gateway crash on cancelling payment and returns success response for those transactions.

https://user-images.githubusercontent.com/62129486/132217695-ab50b4fb-6437-4721-9732-89c21dbc3825.mp4

[2021-09-06 13:36] baijumelepura opened #355 "Invariant Violation: `new NativeEventEmitter()` requires a non-null argument."
<img width="1440" alt="Screenshot 2021-09-06 at 11 15 52 AM" src="https://user-images.githubusercontent.com/12832061/132225096-b2a55b46-d559-41e9-be22-cfd150c86b79.png">

I am developing an ios app but i got dependency issues and
"  Invariant Violation: `new NativeEventEmitter()` requires a non-null argument." error

[2021-09-09 07:07] NxsHbb commented on #113
Facing similar issue in 2021

[2021-09-13 12:34] 0x1bitcrack3r commented on #348
@devakalimuthu hey even I have faced a similar kind of issue, instead of staying on the loading page, it redirects back to the previous screen in my case. And can be reproducible only on Xiaomi devices.

[2021-09-13 15:12] vivekshindhe commented on #348
@0x1bitcrack3r Could you please send the payload you are using?

[2021-09-14 11:22] 0x1bitcrack3r commented on #348
`
{
      key: key,
      image: imageUrl,
      currency: 'INR',
      amount,
      name: 'Name',
      prefill: {name,contact,email},
      notes,
      order_id: orderId,
      theme: { color: theme.color.teal },
    }
`

[2021-09-14 11:27] 0x1bitcrack3r commented on #348
@vivekshindhe the issue that I am facing is same as this https://github.com/razorpay/react-native-razorpay/issues/277

[2021-09-14 11:29] vivekshindhe commented on #348
@0x1bitcrack3r  could you please send a sample payload for us to check if it is reproducible by us

[2021-09-14 11:31] 0x1bitcrack3r commented on #348
https://github.com/razorpay/react-native-razorpay/issues/348#issuecomment-919058610

[2021-09-21 14:50] 0x1bitcrack3r opened #358 "[Xcode 13] 'Multiple commands produce' error when building with new Xcode build system"
## Description
Xcode 13 failed to build due to following error

Multiple commands produce '/MyProject/ios/build/Debug-iphonesimulator/starscream.app/Frameworks/Razorpay.framework':
1) Target 'MyProject' has copy command from '/MyProject/node_modules/react-native-razorpay/ios/Razorpay.framework' to '/MyProject/ios/build/Debug-iphonesimulator/starscream.app/Frameworks/Razorpay.framework'
2) That com

[2021-09-24 10:20] amritanshMedwhiz opened #366 "Installation fails as it uses old React Native version"
Seems like you are using react native 0.57.1
I am using react native 0.63.3, so installation fails.

![reactnativeversion](https://user-images.githubusercontent.com/87650343/134659141-90c1d645-6640-4739-aa30-31472ef5e1d4.png)

[2021-10-05 00:56] devalok1508 commented on #331
For M1 chip users follow this FAQ and after that clean and update pod
[https://github.com/razorpay/react-native-razorpay/wiki/FAQ's]

[2021-10-05 01:00] devalok1508 commented on #331
For M1 users follow the link FAQ and update your pod and clean project then work .[https://github.com/razorpay/react-native-razorpay/wiki/FAQ's]()

[2021-10-05 12:54] PulkitAsri commented on #242
react: 16.13.1 => 16.13.1
    react-native: 0.63.3 => 0.63.3
    react-native-macos: Not Found

[2021-10-05 13:11] PulkitAsri commented on #242
`node_modules/react-native-razorpay/ios/RazorpayCheckout.m:12:9: 'Razorpay/Razorpay-Swift.h' file not found`
 @Nautiyalsachin  I too  am getting the same error, *mentioned above,
I have already tried doing it with and without CocoaPods,
But the build is still failing.
Not sure what to do, any suggestions?

Versions->

react  => 16.13.1
react-native => 0.63.3
react-native-razorpay => ^2.2.8,
CocoaP

[2021-10-08 10:46] jaysonfinny93 opened #367 "The react-native-razorpay app gets crashed once the success or failure message is clicked plz help"
i am using the android platform and it works well untill the final payment is done i mean if success or failure happens the app gets crashed
the Payload is
**description: 'Credits towards consultation',
    image: '',
    currency: currency,
    key: testkey,
    amount: amount,
    name: 'Acme Corp',
    order_id:  id,//Replace this with an order_id created using Orders API.,
    prefill: {

[2021-10-08 23:27] VISMAYAHARIDAS commented on #367
same issue here

[2021-10-11 15:29] vivekshindhe commented on #367
Thank you for your patience. Please do an npm install and it should take the latest SDK which has this issue resolved. Also please update the version back to 2.2.8. Thank you

[2021-10-14 05:57] ppv94 opened #369 "All UPI options are not shown in when UPI payment is selected."
## Description
I had integrated Razorpay into my react native application. When i selected UPI payment only GPay, Phonepay, AxisMobile, BHIM these 4 UPI options are shown
I had added whatsapp and paytm in Androidmanifest.xml  but not showing in UPI payment options.

## Razorpay Package Version :
`react-native-razorpay : ^2.2.7`

## Razorpay-pod version (iOS) :
`react-native-razorpay : ^2.2.7`

##

[2021-10-14 06:41] kobagapu commented on #369
@ppv94  same issue here

[2021-10-14 08:51] bilalshabbir01 commented on #276
@vivekshindhe
<img width="328" alt="Screenshot 2021-10-14 at 1 48 57 PM" src="https://user-images.githubusercontent.com/71590932/137284093-9b7a5c08-4e62-43bb-99c5-64d8429f727b.png">
payload is:
 var options = {
            description: 'Deposit for trading',
            // image: 'https://i.imgur.com/3g7nmJC.png',
            currency: 'INR',
            key: 'rzp_test_fYViJLkgAyEZMY',

[2021-10-14 11:21] vidurb opened #370 "v2.2.8 breaking checkouts due to unpinned Gradle dependency"
## Description

v2.2.8 unpinned the `com.razorpay.checkout` Java dependency for patch versions. This has caused checkout in our apps to break for apps built after the 5th of October, i.e. for version 1.6.13 and above of `com.razorpay.checkout`.

## Razorpay Package Version :
2.2.8

## Xcode Version (iOS) :
N/A

## Razorpay-pod version (iOS) :
N/A

## Java and Gradle Version (android) :
[code]

Gra

[2021-10-15 08:19] Aryan6290 commented on #261
Do you managed to find its solution? Am stuck here, the app is crashing after success and failure callbacks

[2021-10-15 15:20] Aryan6290 commented on #322
For anyone who is facing this problem ,  downgrade to 2.2.7 instead of 2.2.8 , it works as expected after rebuilding !

[2021-10-23 10:05] dprem06 opened #371 "React Native - Razorpay intent not closing properly"
Hi Team,

I Guess problem between native bridge. Please find my video attached , integrated razor pay  sdk and able to show payment screen , while made transaction success time of razor pay intent close app crashed. even close payment screen intent as well crashed app.

https://user-images.githubusercontent.com/16777140/138551907-fecb29ad-d05d-4782-b412-01c3976122a2.mp4

https://user-images.github

[2021-10-30 05:10] kuldeepGomilestone commented on #367
@vivekshindhe attached the ADB logs sheet.

[2021-10-30 05:10] kuldeepGomilestone commented on #367
10-29 13:44:50.582  1977  3225 E InputDispatcher: Window handle Window{c29d0d7 u0 com.mooo.partnerapp/com.mooo.partnerapp.MainActivity} has no registered input channel
10-29 13:44:54.794 29837 29837 I chatty  : uid=10134(com.mooo.partnerapp) identical 2 lines
10-29 13:44:59.100  1977  2259 I ActivityTaskManager: START u0 {cmp=com.mooo.partnerapp/com.razorpay.CheckoutActivity (has extras)} from uid

[2021-10-30 13:22] iamkanaramyadav commented on #367
@eramudeep downgrade your react-native-razorpay version to 2.2.7 this works for me.

[2021-11-02 22:42] vivekshindhe commented on #371
@dprem06  the error was resolved. Please do npm install again and sync the gradle files in android. This should resolve the problem

[2021-11-02 22:45] vivekshindhe commented on #370
@vidurb @Ananthakr We noticed the issue. This was primarily done to handle the reach of newer versions in different platforms. The error has been resolved and it should work fine now. Thank you for the suggestions. Will consider them before taking next steps.

[2021-11-02 22:48] vivekshindhe commented on #369
@ppv94 @kobagapu whatsapp is actually blacklisted from our end due to SR issues. Regrading Paytm, we only show applications that respond to the schema, url://pay for PSP apps. If for any reason Paytm doesn't respond to this we don't show it. Will look into this deeper. But this is the main reason.

[2021-11-02 22:51] vivekshindhe commented on #367
@kuldeepGomilestone could you please share some reproducible steps for this?

[2021-11-02 22:52] vivekshindhe commented on #367
@iamkanaramyadav thank you for the support. Version 2.2.8 has been resolved and is working fine. Please update if necessary

[2021-11-03 04:40] kuldeepGomilestone commented on #367
@vivekshindhe it is working now, the package react-native-k4l-video-trimmer was causing the issue, I upgraded this plugin and Razorpay is working now

[2021-11-03 04:42] vivekshindhe commented on #367
@kuldeepGomilestone awesome. Closing the ticket.

[2021-11-03 04:42] #367 closed

[2021-11-08 06:07] raaidkh-tsa commented on #346
Facing Same Issue with Xcode 13 react native version is 0.64.4

[2021-11-09 07:19] #370 closed

[2021-11-09 13:37] ramprasadAnand commented on #346
Hi @raaidkh-tsa we are able to build and run in Xcode 13 with react-native version 0.64.x, To help you on this issue we need more information about your project configuration. Please try to upgrade your react project or with the below configuration and let us know if you face the same issue.

**Note:** Please make sure you do `pod install` after you add our react-native node dependency to the proj

[2021-11-15 06:29] suhaillilac commented on #355
having same issue

[2021-11-21 19:21] ImAbhishekTomar opened #375 "Error With Apple M1 Chip | React Native TS Template |"
Repo - https://github.com/ImAbhishekTomar/RNRazorpay/tree/fix-rz-pay

**Build 1 :** npx react-native run-ios
[code]

**Build 2 :** npx react-native run-ios
[code]

[2021-11-21 19:46] ImAbhishekTomar commented on #375
### Issue Resolved.

**Here is the solution** - https://github.com/ImAbhishekTomar/RNRazorpay/commit/6853db3219feae9310e417aa906984e31479085d#diff-281ded35b124f5160d0a57e47e521ee6f49f233933e091a0d33f3fd42a74abc8

### Need to add few lines in pod file

 installer.pods_project.build_configurations.each do |config|
          config.build_settings["EXCLUDED_ARCHS[sdk=iphonesimulator*]"] = "arm64"
  en

[2021-11-21 19:46] #375 closed

[2021-11-21 21:20] ImAbhishekTomar opened #376 "Its Really helpfull if you created typescript type for this packege"
Require typescript types.

[2021-11-21 21:47] ImAbhishekTomar commented on #162
Please add TS support #376

[2021-11-21 21:50] ImAbhishekTomar commented on #376
This package has a detailed type but its not official

[2021-11-26 05:15] hardikgpatel commented on #376
Hello, has anyone started working on this?

[2021-11-26 14:19] ShubhamJain0 commented on #354
Did you verify your account in Razorpay for live payments?

[2021-12-04 18:50] Aryan6290 commented on #376
This is sad that a product like Razorpay dont have ts declarations for their react native package.
This issue has been raised a lot of times since the last 1 year and there has been no response yet

[2021-12-07 20:38] nikhil8725 commented on #331
Hi @vineeth-vk11 & @Nautiyalsachin ,
I have every step you guys mentioned , still my build is getting failed .
Here is my configuration :
MacOS Big Sur v11.4 Apple M1 2020
Xcode Version : 13.1
react-native-razorpay : 2.2.6

<img width="627" alt="Screenshot 2021-12-08 at 2 03 37 AM" src="https://user-images.githubusercontent.com/24876605/145102640-71bc3ff0-f8f5-4ddb-bf9b-12b27ea36e5e.png">
<img wid

[2021-12-08 02:58] devalok1508 commented on #331
Razorpay/React-Native-Razorpay ios not support

On Wed, Dec 8, 2021 at 2:09 AM Nikhil Bahalkar ***@***.***>
wrote:

[2021-12-13 09:35] debal commented on #355
@baijumelepura  were you able to solve this issue?

[2021-12-13 09:38] shubham-mcsam commented on #355
@baijumelepura Were you able to solve this issue?

[2021-12-14 07:55] RRajnishR commented on #366
Hey Man, Were you able to install it in react-native 0.63.~ ?

[2021-12-14 12:37] faijan22 commented on #54
does anybody knows how to integarte razorpay to expo

[2021-12-17 01:14] ankit1456 commented on #289
![Uploading IMG-20211217-WA0001.jpeg…]()

[2021-12-17 01:14] ankit1456 commented on #289
Any solution for this issue?

[2021-12-17 01:16] ankit1456 commented on #289
![IMG-20211217-WA0001](https://user-images.githubusercontent.com/62655089/146472617-019760b0-5ffb-41c1-b4a4-fe651ca60ca8.jpeg)
Any fix for this issue? please help me

[2021-12-17 04:39] rajeshrapally opened #378 "payment error [TypeError: null is not an object (evaluating '_reactNative.NativeModules.RNRazorpayCheckout.open')]"
Getting Payment Error | TypeError: null is not an object

payment error [TypeError: null is not an object (evaluating '_reactNative.NativeModules.RNRazorpayCheckout.open')]

![2C4QN](https://user-images.githubusercontent.com/20023372/146489856-bbf47d0e-6a9e-4342-81c9-4a37916fa47d.png)

[2021-12-17 05:28] spidi123q commented on #346
Facing same issue, dev build are success , issue only comes on release build

[2021-12-17 06:11] spidi123q commented on #346
I fixed the issue by changing razorpay-pod config by making active architectures yes to possible ones
<img width="1099" alt="Screenshot 2021-12-17 at 11 37 06 AM" src="https://user-images.githubusercontent.com/10330129/146497736-4ad54d7c-7d29-4be9-9238-1b825ef12c7e.png">

[2021-12-17 17:45] goblin645272 commented on #378
I am getting the same error. Please help

[2021-12-17 17:49] goblin645272 commented on #184
I followed the steps still i am getting the issue

[2021-12-18 06:43] masnoonmulla commented on #315
Hi @Nautiyalsachin facing same problem
Xcode Version = "13.2"
razorpay version = "2.2.8"
<img width="1440" alt="Screenshot 2021-12-18 at 12 10 42 PM" src="https://user-images.githubusercontent.com/36194265/146632103-38fb7919-6e9a-44b2-960d-3cb9e8781a45.png">

[2021-12-18 06:47] masnoonmulla commented on #358
same issue please reply if you find any solutions
<img width="1440" alt="Screenshot 2021-12-18 at 12 10 42 PM" src="https://user-images.githubusercontent.com/36194265/146632198-2ed83f34-2e81-47df-8bec-a3a9ad1b3ae5.png">

[2021-12-20 13:37] akib-shaikh-coder commented on #289
@ankit1456 if u installed already old build from android studio or anywhere...try after removing it

[2021-12-26 19:24] jitunayak opened #379 "We need Expo support !"
### Describe the feature you'd like:

Currently most of the react native apps are based on EXPO framework. As it has some of the enterprise features such as eas build and easy to publish updates to Play Store/App Store. As of Razorpay only supports bare workflow which is react-native cli support.  Razorpay has native modules dependency. So it can't be installed directly on expo. But after SDK 41.

[2022-01-11 06:06] Cshayan opened #383 "Razorpay crash - SharedPreferenceUtil.java line 2 reported in Firebase crashlytics"
## Description
Hi, I am seeing some crashes related to Razorpay in Firebase crashlytics. Though it is not reproducible from my end, but production users are facing the crash. Attaching the logs from the crash below -

[code]
Provided the stack trace below (in What happened section) -

* **Specific to iOS Users :-**
- [] I have tried updating Razorpay pod to the latest version by using 'pod update'

[2022-01-11 07:27] vivekshindhe commented on #383
@Cshayan this has been resolved. Please update to the latest version and this error should not occur. Thank you. closing the ticket.

[2022-01-11 07:27] #383 closed

[2022-01-13 18:15] hemant1996 opened #385 "Cannot build android in react native after integrating razorpay"
## Description
Build Error on react native 0.63.3 and react 16.13.1

## Razorpay Package Version :
react-native-razorpay version 2.2.8

## Xcode Version (iOS) :

## Razorpay-pod version (iOS) :

## Java and Gradle Version (android) :

### What you did:

Followed the instructions from here https://razorpay.com/docs/payment-gateway/react-native-integration/standard/android/

### What happened:
After

[2022-01-13 18:33] #385 closed

[2022-01-15 12:55] srinigk commented on #343
I have the same issue.
Environment:
MacBook Pro (14-inch, 2021)
Chip: Mac M1 Pro

System:
    OS: macOS 12.1
    CPU: (8) arm64 Apple M1 Pro
    Memory: 100.83 MB / 16.00 GB
    Shell: 5.8 - /bin/zsh
  Binaries:
    Node: 16.13.0 - /usr/local/bin/node
    Yarn: 1.22.17 - /opt/homebrew/bin/yarn
    npm: 8.1.0 - /opt/homebrew/bin/npm
    Watchman: 2021.11.15.00 - /opt/homebrew/bin/watchman
  Manager

[2022-01-16 11:56] codoffer opened #386 "Upgrade for latest react and react native version"
### Describe the feature you'd like:

Upgrade React and React Native versions

### Suggested implementation:
Upgrade with React 17.xx
Should compatible with React 17.xx

### Describe alternatives you've considered:

### Teachability, Documentation, Adoption, Migration Strategy:

[2022-01-17 05:04] vivekshindhe commented on #371
@dprem06 closing the ticket due to inactivity. Please feel free to reopen, comment, or create another ticket for further assistance. Thank you

[2022-01-17 05:04] #371 closed

[2022-01-17 05:06] vivekshindhe commented on #341
@CHANDRAMOHANnegi Hey, so we did push our razorpay-android-customui .aar file to maven. It is reflected in the latest release. Closing the ticket. Thank you for pointing this out to us.

[2022-01-17 05:06] #341 closed

[2022-01-17 05:07] vivekshindhe commented on #342
Closing the ticket due to inactivity. Please feel free to reopen, comment or create another issue for further assistance

[2022-01-17 05:07] #342 closed

[2022-01-19 05:29] SHIVAJIKUMAR007 commented on #331
this is all because of this new Apple M1 chip

do this step and it will work fine

![image](https://user-images.githubusercontent.com/55244409/150069774-77dbdd98-42e3-4d82-99e8-516285a817b0.png)

[2022-01-20 07:10] raikk commented on #345
hii all
I have the same issue, not able to open `Razorpay` checkout screen in iOS but all working fine in android.

The issue was caused by the `react-native-loading-spinner-overlay` module, I was using spinner overlay it hide the Checkout screen model of Razorpay in iOS.

I removed the spinner overlay then all working fine.

[2022-01-23 08:15] MohdSaleh commented on #164
if you are still facing the issue then👇

Try adding this code as mentioned above.

 In file RazorpayCheckout.m replace line 27 with:

`dispatch_after(dispatch_time(DISPATCH_TIME_NOW, (int64_t)(0.4 * NSEC_PER_SEC)), dispatch_get_main_queue(), ^{`

**Also, Add a set timeout Function with a delay of 1000ms before the Razorpay Function like this**👇

[code]

[2022-01-25 13:14] aj3012 commented on #383
@vivekshindhe - what is the latest version that you are referring to?
The last version that was released was way back in June 2021. Am I missing something?

Facing the same issue on a production app.

[2022-01-29 02:22] ImAbhishekTomar commented on #376
This is scary 😟 for me to add Razorpay service Dependency in my business or recommend someone else because the Team doesn't reply to a query's what happened if something is breakers in between after integration...👀

[2022-02-02 07:10] Rajaram10 opened #388 "UPI (PhonePe,) wallet and integration not working.."
## Description
When PhonePe wallet is selected, it keeps on loading with bottom popup "Your payment is being processed".

## Razorpay Package Version :
2.2.7.

## Java and Gradle Version (android) :
Java : 1.8.0_301.
Gradle : 4.1.0.

### What you did:
Followed React native razorpay docs.

### *Note:
 I am facing this issue when there is an UPI app installed in the same workspace along with my reac

[2022-02-02 09:36] Ranajoy38 opened #389 "When i Press back button without pay amount,,showing this error popup,,"
When i Press back button without pay amount,,show this error popup,,
![Screenshot_20220202-002339](https://user-images.githubusercontent.com/66309965/152128702-07f0288a-69cc-4030-94f0-ba92328bd6a1.png)

[2022-02-02 10:01] #389 closed

[2022-02-02 10:01] Ranajoy38 commented on #389
solved

[2022-02-03 06:13] sunn0e commented on #379
Just came here to say this! Stripe has made it easier to use their SDK whereas Razorpay is still stuck with JS/html only solution in  a webview. You just need to make a config plugin[0] for android specific code[1], ios does not need much effort[2].
Kindly look into this.

0. https://docs.expo.dev/guides/config-plugins/
1. https://docs.expo.dev/guides/config-plugins/
2. https://www.npmjs.com/packa

[2022-02-03 06:24] sachin-blinkdigital commented on #308
Thanks for saving my day. It works.

[2022-02-10 11:30] afshana22 commented on #351
is your issue resolved??? if yes please help me same issue

[2022-02-13 22:07] Abhishek12345679 opened #392 "[ios] Razorpay pod resulting in error in react native 0.67.2"
## Description
Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest React Native Razorpay plugin release to make sure your issue has not already been fixed.

* **Specific to iOS Users :-**
- [x] I have tried updating Razorpay pod to the latest version by using 'pod update'.

## Razorpay Package Version :
2.2.8

## Xcode Vers

[2022-02-14 18:08] ameenfarook opened #393 "App Crashes on RazorpayCheckout.open API"
## Description
Android app is crashing when i invoke RazorpayCheckout.open API.

* **Specific to iOS Users :-**
- [x] I have tried updating Razorpay pod to the latest version by using 'pod update'.

## Razorpay Package Version :
**Razorpay 2.2.8 ("react-native-razorpay": "^2.2.8",)**

## Java and Gradle Version (android) :
**Gradle 6.9 (distributionUrl=https\://services.gradle.org/distributions/gr

[2022-02-14 19:27] vivekshindhe commented on #393
Okay, I was able to reproduce the issue. It is happening because of the color value that is passed in the options payload.
Here is the payload that I was using when I was able to reproduce the issue,

`var options = {
                  description: 'Credits towards consultation',
                  image: 'https://i.imgur.com/3g7nmJC.png',
                  currency: 'INR',
                  key: '

[2022-02-14 19:47] ameenfarook8 commented on #393
But i thought theme and color is an optional parameter. Are you saying i must provide theme and color?

[2022-02-14 19:50] ameenfarook8 commented on #393
I actually implemented this a month ago, it was working fine till today. All of a sudden this color issue?

[2022-02-14 20:04] vivekshindhe commented on #393
I was trying to reproduce the issue and was able to do it with this one parameter change. Could you please send us the payload you are sending so that its easy for me to reproduce it? That would be very helpful

[2022-02-14 20:09] ameenfarook8 commented on #393
I am only passing three parameters

key
name
order_id

[2022-02-14 20:13] vivekshindhe commented on #393
vivek.shindhe@razorpay.com this is my email. Could you please send the key you are trying this with? Even the test key works. I'll try to reproduce it on my end with the key. Also please add an order_id a sample one. This information would be instrumental in reproducing the issue. Also, did this happen on release or debug version? And you couldn't see the logs in android studio? Another thing, did

[2022-02-14 20:14] Abhishek12345679 commented on #392
https://github.com/expo/expo/issues/15622: this has the info on how to fix it.

At the moment, you can follow [this comment](https://github.com/expo/expo/issues/15622#issuecomment-997178071) in the above linked thread.

This will fix it for react-native-razorpay atleast.

[2022-02-14 20:14] #392 closed

[2022-02-14 21:08] bijeesraj007 commented on #393
@vivekshindhe  - I have shared the requested information via email.

[2022-02-20 13:16] sahukanishka commented on #393
Razorpay sdk crashes when we call  RazorpayCheckout.open(options) method and pass the options
Sometimes the method works fine and easily opens the razorpay window.

But other times, it does not open and the app immediately crashes. Also, There is no crash logs found in the console.

[2022-02-20 14:35] ameenfarook8 commented on #393
Make sure to pass theme and color parameter to RazorpayCheckout.open API. This prevents my app to crash.

[2022-02-24 03:24] sahukanishka commented on #393
One more point if your app still crashes.
You have to pass both image and theme.
RazorpayCheckout.open({
      key: <public-key>,
      name: <name>,
      order_id: <order-id>,
      theme: {
        color: <some-color>,
      }
      image: 'https://i.imgur.com/3g7nmJC.png'
    });

[2022-02-24 09:43] ppv94 opened #395 "How to disable only Pay Later payment option in Razorpay"
## Description
I want to hide some payment methods in Razorpay
I am able to hide **Net Banking** and **Wallet** options but **Pay Later** doesn't hide.

below is my code
[code]
How to hide Pay Later from payment options in react-native-razorpay

[2022-02-28 03:25] 04amitpanchal commented on #295
@ashokkumar88 How can we set UPI id in razor pay dashboard.

[2022-02-28 04:15] ashokkumar88 commented on #295
@04amitpanchal My UPI id issue was in the debug build. In the release build it is working fine. The UPI id is set by Razorpay and it is not configurable from dashboard. Though you can create Virtual accounts with custom UPI ids from Smart Collect page. Or you can request them for a custom UPI id.

[2022-02-28 11:54] sabarikobagapau commented on #395
Same issue here anyone please ?

[2022-02-28 11:56] Faarookh commented on #395
i am also facing the same issue.

[2022-03-02 04:29] mahimaJ-vs commented on #346
still facing same issue

[2022-03-08 10:58] suhaillilac commented on #385
Hi , Am having the same issue , how you solve the issue

[2022-03-08 12:26] azhagarsparks commented on #313
use this comment it will work
npm install --save --legacy-peer-deps
then
npm install react-native-razorpay --save  --legacy-peer-deps

[2022-03-08 14:15] davepaiva commented on #369
Hey, @vivekshindhe  any updates on this? Some devices don't show PhonePe and GooglePay as well but others do

[2022-03-11 14:44] aditya-keri-betterhalf commented on #345
I've tried adding the code you've mentioned in the PR in `node_modules/react-native-razorpay/ios/RazorpayCheckout.m` but still facing the same issue.
Am I missing something here ?

[2022-03-15 04:30] specter1997 commented on #289
I have the same problem. If there is any solution plz??

[2022-03-15 05:29] avinashRathod02 opened #397 "Can not link customui sdk in ios"
## Description
Can not link customui sdk in ios
no Razorpay.framework while Link SDK(automatic).
note : working fine in android

* **I have tried updating Razorpay pod to the latest version by using 'pod update**

### I was following the step given instruction below
https://razorpay.com/docs/payments/payment-gateway/react-native-integration/custom/build-integration/#automatic

### Then Razorpay.fr

[2022-03-18 14:50] homosape commented on #289
Same problem here
[code]

[2022-03-22 11:01] komelabbbas commented on #397
same. issue occurs.

[2022-03-22 11:07] komelabbbas commented on #215
same issue occurs

[2022-03-26 12:41] Luttennet commented on #289
@homosape did you solved it? i have the same issue

[2022-03-26 12:43] homosape commented on #289
@Luttennet  yes check this -> [https://github.com/react-native-community/cli/issues/1574](url)

[2022-03-26 13:02] Luttennet commented on #289
@homosape thanks mate, helped me too! I didn't even notice it changed to 18 (I think android studio downloaded it auto sadly) thank you

[2022-03-29 05:34] #393 closed

[2022-04-11 09:53] davepaiva opened #400 "java.lang.NullPointerException: Attempt to invoke virtual method 'android.content.SharedPreferences android.content.Context.getSharedPreferences(java.lang.String, int)' on a null object reference"
## Description
Crashlytics report showing fatal errors related to Razorpay on the android platform in production: `com.razorpay.SharedPreferenceUtil.getPrivatePrefs `
As per #

## Razorpay Package Version :
"react-native-razorpay": "^2.2.7"

## Java and Gradle Version (android) :

openjdk version "1.8.0_272"
OpenJDK Runtime Environment (AdoptOpenJDK)(build 1.8.0_272-b10)
OpenJDK 64-Bit Server VM (

[2022-04-12 05:47] vivekshindhe commented on #400
Hey @davepaiva We have released a new version of react-native-razorpay. Please check if you are able to reproduce this issue with that version. The latest version is 2.2.9.

[2022-04-12 11:59] davepaiva commented on #400
Thanks for the response @vivekshindhe . I will update the package and check it from my end

[2022-04-13 07:24] CHANDRAMOHANnegi opened #401 "FRAMEWORK not required"
`{
	"error": {
		"code": "BAD_REQUEST_ERROR",
		"description": "FRAMEWORK is\/are not required and should not be sent",
		"source": "provider",
		"step": "payment_authorization",
		"reason": "extra_field_sent",
		"metadata": {}
	},
	"http_status_code": 400
}`

    "react-native-customui": "^2.2.0",
    "react-native": "0.67.4",
    "react": "17.0.2",

[2022-04-13 07:42] vivekshindhe commented on #401
@CHANDRAMOHANnegi can you specify the version of react-native-razorpay you are using?

[2022-04-13 08:14] CHANDRAMOHANnegi commented on #401
"react-native-customui": "^2.2.0",
"react-native": "0.67.4",
"react": "17.0.2",

[2022-04-13 08:17] vivekshindhe commented on #401
which payment method is this happening for? @CHANDRAMOHANnegi

[2022-04-13 08:18] CHANDRAMOHANnegi commented on #401
[](url
<img width="1440" alt="Screenshot 2022-04-13 at 1 47 39 PM" src="https://user-images.githubusercontent.com/32297380/163132023-26f58549-e51e-4788-8c71-faf3951aadc0.png">
)

UPI

[2022-04-13 08:18] CHANDRAMOHANnegi commented on #401
All payment methods

[2022-04-13 08:24] vivekshindhe commented on #401
@CHANDRAMOHANnegi you can use that for now. We'll make a fix for this by tomorrow. It'd be great if you can wait till tomorrow though. Will update here when done.

[2022-04-13 08:26] CHANDRAMOHANnegi commented on #401
This issue is with other versions also , changes are not backward compatible.
existing users are getting affected heavily.

[2022-04-13 08:27] vivekshindhe commented on #401
This was released with 2.2.0. It should not affect existing users.

[2022-04-13 08:28] CHANDRAMOHANnegi commented on #401
it is affecting other version also

v2.1.8 ,v2.1.9

[2022-04-13 08:48] vivekshindhe commented on #401
was it released with the caret symbol? ^2.1.9? I'm guessing it picked 2.2.0 when it was built. We've identified the issue. Will update this by EOD today.

[2022-04-13 08:50] CHANDRAMOHANnegi commented on #401
yes

[2022-04-14 01:08] vivekshindhe commented on #401
@CHANDRAMOHANnegi please use version 2.2.1. This has been resolved.

[2022-04-14 01:08] #401 closed

[2022-04-14 03:40] shubhambuccha commented on #401
Can't we handle this on the API end? Else will have to make a new release to the playstore.

Please look into it.

[2022-04-14 12:58] punndcoder28 opened #403 "Razorpay cancels payments on Android"
## Description
We are facing an issue in our application (more specifically on android platform), where when we are in the payment gateway section on the page that requires us to enter OTP for our card. If the application is moved to the background (for let us say to get the OTP) the payment is cancelled and the error code says `BAD_REQUEST_ERROR` and the description is `Payment processing cancell

[2022-04-14 13:24] vivekshindhe commented on #401
@shubhambuccha Will look into it. But it doesn't seem feasible at the moment. Will update here if i find anything

[2022-04-20 12:42] shivamKredX commented on #328
facing same issue with razorpay new version

[2022-04-21 08:38] vivekshindhe commented on #403
@punndcoder28 We don't seem to be able to reproduce this issue. Seems to be more like an issue here. android:launchMode=”singleTask” check if this is present for the mainActivity in your project. This basically means that the activity is getting destroyed the moment it goes out of focus.

[2022-04-21 08:39] vivekshindhe commented on #400
@davepaiva are you still facing the issue?

[2022-04-21 09:54] punndcoder28 commented on #403
Hi @vivekshindhe . It was indeed present in our project. I shall confirm if that fixes it by tomorrow EOD. Thanks for the reply.

[2022-04-21 10:10] dupandey011 commented on #395
You can try below code snippet in the checkout code in order to hide any payment method (for example paylater in below code)

config: {
    display: {
      hide: [{method: 'paylater'}]
    }
}

[2022-04-22 10:13] punndcoder28 commented on #403
Hi. Tested with removing the suggested line and it seems to work on our android test devices. Will keep an eye out if the issue again arises

[2022-04-22 10:52] alalfakawma opened #404 "eas cannot compile razorpay bundle"
## Description
Build using eas-cli is failing using the command:

[code]

It was working before, but as my builds for iOS were failing I updated to RN 66 which has better support for iOS 15 and xcode 13.

## Razorpay Package Version :
v2.2.9

## Xcode Version (iOS) :
I assume eas uses Xcode 13

## Razorpay-pod version (iOS) :
Can't find lock file for pod in the files generated by `expo prebuild`.

[2022-04-24 16:49] vinaysgl opened #405 "Not able to run android app with react-native-customui"
error: local variable currentActivity is accessed from within inner class; needs to be declared final

## Description
Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest React Native Razorpay plugin release to make sure your issue has not already been fixed.

## Razorpay Package Version :
Open `Package.json`. > 2.2.1

## Ja

[2022-04-25 08:21] Vipinstack commented on #378
payment error [TypeError: null is not an object (evaluating '_reactNative.NativeModules.RNRazorpayCheckout.open')]

[2022-04-30 05:50] Lyle-Rogers commented on #289
This is the main error I had: > Task :app:processDebugMainManifest FAILED

I fixed it by adding android:exported="true" to the \android\app\src\main\AndroidManifest.xml files activity section. For example:
`<activity
  android:name=".MainActivity"
  android:exported="true"> // <- add it here. ! . !
  <intent-filter>
      <action android:name="android.intent.action.MAIN" />
      <category android

[2022-05-01 19:24] alalfakawma commented on #404
Must have been an issues with eas build systems version instead. Works now.

[2022-05-01 19:24] #404 closed

[2022-05-04 11:57] Ak1435 commented on #354
This issue only test mode, once change to live mode it working properly.

[2022-05-04 12:52] vivekshindhe commented on #354
@Ak1435 UPI payments don't work in test mode. You'll have to test them in live mode only. Only collect works on test mode, and works only with success@razorpay & failure@razorpay to emulate the two different responses

[2022-05-05 10:04] kartikMygoldkart commented on #405
open android studio
and build the project it will show you error in custom ui sdk just go with make variable final it worked for me

[2022-05-12 11:10] jdarshan5 commented on #240
Passing the correct details in prefill did not resolve this problem for me, Can this be due to test key which we are passing into the key field?

[2022-05-13 04:54] vivekshindhe commented on #240
@jdarshan5 can you send the payload object you are sending to the package?

[2022-05-13 13:58] jdarshan5 commented on #240
@vivekshindhe
here it is
`name: 'name',
description: 'description',
amount: 'amount in string format',
currency: 'INR',
key: 'rzp_test_xxxxxxxxxxxxxx',
order_id: 'orderid'
prefill: {
email: 'blah@blah.com',
contact: 1212121212,
name: 'Blah Blah',
},`

Versions:
"react-native": "^0.63.4"
"react-native-razorpay": "^2.2.9"

[2022-05-16 14:20] IndrakumarR commented on #378
i am also getting this error
![image](https://user-images.githubusercontent.com/78961533/168614347-f0aa2589-a9ee-4fc2-b36c-eb80474b3638.png)

[2022-05-20 06:56] jcrew-amirshaikh commented on #378
Is there any resolution on this issue?

[2022-05-23 07:32] samkit5495 commented on #378
Try doing gradle change:
Refer this
https://stackoverflow.com/a/62969918/5223267

[2022-05-27 06:53] kartikMygoldkart commented on #397
did it get resolved?

[2022-05-27 07:42] vivekshindhe commented on #397
Hey folks. We have resolved this. And put customui to a pod as well. Please update to the latest version and check. Closing this ticket. Please comment here or open another ticket if you have any queries. Thank you for your patience.

[2022-05-27 07:42] #397 closed

[2022-06-08 18:12] Spark-Cybel opened #409 "Taking Donations through the app"
In our Product, due to the current business requirements,
we have to take **Donations** through the app.

Do we have that functionality now
If yes
then can anyone please share any documentation for the same?
Else
Is there any **Workaround** to get the donations with the current implementation?

[2022-06-09 07:19] deepaktiwari09 commented on #379
are you able to use it in expo?

[2022-06-10 13:00] rvuyyuru1 commented on #312
no proper documentation or how to use Intent Flow in react-native-customui

[2022-06-10 18:02] devcoderbuzz commented on #379
Can someone pls share the android plugin pls ??

[2022-06-17 05:42] goblin645272 commented on #378
Not the most optimized solution but I have migrated the complete application from expo to vanilla REACT NATIVE. That did the magic for me. In the process I had to remove all the expo dependencies and find react native alternatives.

[2022-07-11 09:26] rakeshuce1990 opened #411 "RazorPay screen blank in apk release[ works fine in debug mode]"
## Description
I am using react-native-razorpay version 2.2.9. When I am opening the RazorPay interface, it shows a blank white screen.

## Razorpay Package Version :
react-native-razorpay: 2.2.9.

## Java and Gradle Version (android) :
Gradle - 6.7
OpenJDK 11

### What you did:

Built android apk and tried opening RazorPay interface to initiate transaction

### What happened:

RazorPay went blank

[2022-07-11 12:23] #411 closed

[2022-07-19 05:07] vaibhavgadekar commented on #409
I have same query please anyone can answer this?

[2022-08-08 09:37] evolvingkid opened #412 "Bug: razorpay crashes"
## Description
The razorpay popup will open in the app (android app) and crashes after sometime. The log i`m getting is

[code]

* **Specific to iOS Users :-**
- [ ] I have tried updating Razorpay pod to the latest version by using 'pod update'.

## Razorpay Package Version :
 "react-native-razorpay": "^2.2.9",

## Xcode Version (iOS) :
Version 13.4 (13F17a)

## Razorpay-pod version (iOS) :
razorp

[2022-08-19 18:56] AdarshJais commented on #379
Any working solution for this issue?

[2022-08-22 06:23] evolvingkid opened #413 "BUG: razorpay crash"
## Description
Razorpay randomly crash for a user. We weren't able to reproduce the crash. This was only happen to android device.

The crash log was:
[code]

## Razorpay Package Version :
"react-native-razorpay": "^2.2.9",

## Java and Gradle Version (android) :
Specify your Java and Gradle version.
openjdk 11.0.15 2022-04-19 LTS

Gradle 6.7
### What you did:

### What happened:

## Steps To Repr

[2022-08-22 14:26] bavarnasivakumar opened #414 "Getting undefined error when closing the razorpay screen (user cancelling the payment) and app is crashing."
## Description

## Razorpay Package Version :
2.2.9

types version: 2.2.0

### What you did:

I called Razorpaycheckout.open method and when the Razorpay screen is displayed, I closed the screen using close icon on top right.

### What happened:

This is causing app crash and getting following error.

TypeError: undefined is not an object (evaluating 'errorResponse.metadata.order_id')

## Steps To

[2022-08-27 18:09] cyberwr commented on #385
Try to add this or greater version -> classpath 'com.android.tools.build:gradle:4.0.1'
in android/build.gradle file.

Let me know if it works for you too.

Thanks

[2022-08-29 10:04] kkyusufk commented on #379
Hi, just adding my 2 cents.
To integrate a project with expo, you need to create a JS-only module unless I am mistaken.
The only way to use native modules like this one is to use EAS builds to build your application which will spit out your project in native code and then we can use native modules.
Also, the reason why Stripe works with expo is because expo integrated stripe in their code base as

[2022-08-29 19:22] kkyusufk commented on #414
Hi,
Thanks for reaching out with this issue.
We do not expose types for this package from this repository, it actually comes from here
https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/react-native-razorpay
I will make sure we amend this from that repo ( in future we should try to expose these types from this repo only)

[2022-08-30 08:20] kkyusufk commented on #403
Hey folks, is this issue resolved. If yes then please confirm so it can be closed. Please reach out if this issue still persists.

[2022-08-30 09:18] punndcoder28 commented on #403
Hey @kkyusufk we have not seen this issue till date. Will leave a comment here tagging you if we do encounter this in the future

[2022-08-30 09:36] kkyusufk commented on #403
@punndcoder28 Let's close this issue if it's not reproducible. We would like to close stale issues if they are not coming up anymore. You can open this up again if this shows up.

[2022-08-30 09:40] punndcoder28 commented on #403
Cool. Will reopen this if we come across this anytime again

[2022-08-30 09:40] #403 closed

[2022-08-30 18:02] kkyusufk commented on #379
Hey Folks, let me know if the above paragraph answered your questions so that we can close this issue.

[2022-08-30 18:11] kkyusufk commented on #413
Hey @evolvingkid, please let us know if this issue is still existing as well a step to reproduce.

[2022-08-30 18:13] kkyusufk commented on #405
@vinaysgl Is this issue resolved? We can close it out then.

[2022-08-31 02:48] AdarshJais commented on #379
Hi @kkyusufk ,

Thanks for your 2 cents, It gives a bit of clarity on the approach but recently I read a comment from Michael Wood regarding creating a config plugin that could make the integration simpler.

Link: https://expo.canny.io/feature-requests/p/support-for-razorpay

Could you please review it once and let's know the best way to continue with Razorpay with the expo?

[2022-08-31 06:46] joseprakash1990 opened #415 "Choose Razorpay, select UPI App(GPay), once (GPay) open and close it and do not make the payment, but it returns razorpay_payment_id. When checking in the Razorpay dashboard the amount gets added. How is it possible.??"
Amount added in Razorpay when opening and closing the UPI apps. Choose up pay in Razorpay, select UPI App(GPay), once (GPay) open and close it and do not make the payment, but it returns razorpay_payment_id. When checking in the Razorpay dashboard the amount gets added. How is it possible.??

System:
    OS: Windows 10 10.0.19044
    CPU: (8) x64 Intel(R) Core(TM) i7-2600 CPU @ 3.40GHz
    Memory:

[2022-09-01 04:57] vivekshindhe commented on #415
@joseprakash1990 can you please send the payload you are using? Also, please confirm if you are using test key or live keys.

[2022-09-01 05:05] joseprakash1990 commented on #415
@vivekshindhe I'm using the test key.

[2022-09-01 05:16] vivekshindhe commented on #415
UPI intent doesn't work on test keys. @joseprakash1990

[2022-09-01 05:17] #415 closed

[2022-09-01 05:19] joseprakash1990 commented on #415
@vivekshindhe Thank you so much.

[2022-09-03 12:04] iprojectscloud-git commented on #379
As of Expo SDK 46, and react-native-razorpay version 2.2.9, just installing the SDK with:
yarn add react-native-razorpay
and creating a dev client seems sufficient. There is no need to modify any .gradle or .java files. It all works automatically due to react native autolinking.

[2022-09-04 19:18] kkyusufk commented on #379
@iprojectscloud-git thanks for the comment. You are absolutely right in case of android.

@AdarshJais We would be reviewing the README and add a new section for EXPO support as well as remove stuff which is not required.
For now, We are confirming whether iOS needs some extra modification or not.
I will update this issue once we have confirmed and updated the readme.

[2022-09-05 05:59] kkyusufk commented on #409
@Spark-Cybel https://razorpay.com/learn/accept-donations-without-website/
This should give an insight to one of our features called payment pages.

[2022-09-05 07:39] gani419 opened #416 "Unable to get failure response while integrating with the library"
Hi,
I am using the latest version of this library (2.2.9) and it's working fine for success response.
But I'm not getting any response for failure case like wrong upi (eg: failure@razorpay).

If the payment is success, I'm getting success logger which is data in below.
If the payment is failure, I'm not getting any logger, just giving payment failure from the gateway in UI. But nothing in logger w

[2022-09-06 08:56] vivekshindhe commented on #416
@gani419 Can you please check with live keys and a live UPI ID with collect payment when you decline the payment and see if the issue persists?

[2022-09-06 10:06] gani419 commented on #416
Will check and notify.

[2022-09-06 10:20] gani419 commented on #416
Tried now for live credentials. Working for successful transaction but not getting anything for failure transaction (When user declines the request). Just showing retry in gateway ui.

[2022-09-06 11:43] vivekshindhe commented on #416
@gani419 ack. Checking it. Will notify ASAP

[2022-09-07 19:51] gerzonc opened #417 "Integrate UPI intent for Android?"
Hi there, apologize for using the Bug Report template for this, but I was referring to the docs for this issue and there is nothing related to this on React Native docs so this template system was a bit unhelpful. How can I implement UPI Intent on Android? iOS has its section for it but Android doesn't

[2022-09-07 22:37] vivekshindhe commented on #416
@gani419 tested this on my end, with both live and test keys. It works as expected. If you want the user to not be able to retry the payment, i.e, when the user declines the payment, it'll navigate back to your application after, use the retry config as follows,

`retry:{
     max_count:4,
     enabled:false
}
`

[2022-09-07 23:47] vivekshindhe commented on #417
@gerzonc Could you please explain in a bit more detail what you're trying to achieve? You're using react-native-razorpay library and want to use UPI Intent payments on Android? Is my assumption correct?

[2022-09-08 00:41] gerzonc commented on #417
Correct

[2022-09-08 06:04] gani419 commented on #416
Hi,
It's working for me now when I config
`status: 'created'`
in options.
`retry:{ max_count:4, enabled:false }` didn't worked for me.

[2022-09-08 07:17] gani419 commented on #416
Thank you for your response...

[2022-09-08 07:17] #416 closed

[2022-09-09 04:55] vivekshindhe commented on #417
@gerzonc it should work out of the box. Could you please explain what issue you're seeing?

[2022-09-09 06:34] gerzonc commented on #417
Oh okay. Since on native platforms has their docs for it I thought that you needed to do it on Android as well. But what if I want to configure which payment methods to use on them? On iOS I can add them by adding strings to `LSApplicationQueriesSchemes`, how can I do the same on Android?

[2022-09-09 06:47] KamyabWebelight opened #418 "With the new RBI guidelines, how does tokenization work?"
To be used as a reference
https://razorpay.com/card-tokenisation/

Additionally, I have followed the below link for adding tokenization to my project, but I am getting an error message.

Link: [https://levelup.gitconnected.com/card-tokenisation-with-razorpay-cfa7d5f315d0](https://levelup.gitconnected.com/card-tokenisation-with-razorpay-cfa7d5f315d0)
Error: **“BAD_REQUEST_ERROR - The id provided do

[2022-09-09 07:11] vivekshindhe commented on #418
@KamyabWebelight please raise a ticket in the Help & Support in your Razorpay Dashboard. They'll be able to help you out regarding this issue faster.

[2022-09-09 10:20] vivekshindhe commented on #417
The LSApplicationQueriesSchemes in iOS is to let the OS know that these are the applications your application may be talking with. It's not really about configuring. In android, we made it so that the SDK comes prepackaged with those app package names so all the apps that can reply to the UPI Intent URL can be used. You should see all applications in the UPI Intent block. If you want to configure

[2022-09-10 03:34] gerzonc commented on #417
Alright, but one last question then: customizing the config block won't make any effect on iOS since it requires to tell in OS level which apps I have to communicate with?

[2022-09-11 09:37] evolvingkid commented on #413
We only had this issues one time and we weren’t able to reproduced

[2022-09-11 21:14] kkyusufk commented on #413
@evolvingkid Thanks for the update.
We are closing this issue since its not re-produceable but please re-open it if you encounter this issue again.

[2022-09-11 21:14] #413 closed

[2022-09-12 07:48] vivekshindhe commented on #417
@gerzonc ios only supports the three apps right now. Even in that case if you add a config and don't select one of those apps while adding all three to the info.plist, you'll still see apps that you have passed in the config block and not all. Closing this issue for now. Please raise another query or comment on the same. You can also raise a ticket for query and help from your Razorpay Dashboard.

[2022-09-12 07:48] #417 closed

[2022-09-12 07:49] #418 closed

[2022-09-12 23:05] gerzonc commented on #379
Not sure if @kkyusufk already got it listed yet, but I made a config plugin to add support for UPI Intent on iOS. Can anyone take a look on it and check if there is something missing or that requires further changes? Thanks!

[2022-09-14 11:17] doolb14 opened #419 "Please update peer dependency to lates react native version"
The latest react-native (v0.70) is not supported in peer-dependencies in the package.json file. Please update :)

[2022-09-14 11:34] vivekshindhe commented on #419
@doolb14 For now can you please use --legacy-peer-deps? We have tested with this flow and haven't seen any issues when using that flag.

[2022-09-14 14:41] doolb14 commented on #419
I've already installed the Razorpay package using this flag and it's working fine for now but this flag is applied to the whole package JSON file, which can cause issues with other libraries.

[2022-09-14 14:45] vivekshindhe commented on #419
The issue is if we update the version to 0.70 right now, we'll get tickets of the same type but with the ask to downgrade the version. Hence the wait. Apologies for the inconvenience. You can also try using the project by cloning it. This way you can change the versions to suit your needs at the moment. We will be updating this by end of this month at the latest.

[2022-09-15 02:29] gerzonc commented on #379
Seems like there is no need for config plugin, in fact, we could just customize `infoPlist` directly from `app.json` on Expo. So based on the docs, Expo has 100% support for `react-native-razorpay` without any issues

[2022-09-30 05:41] mehraj43 commented on #289
![image](https://user-images.githubusercontent.com/53511710/193198341-0421dbda-4322-4146-8838-1ecf18c6c61e.png)

[2022-09-30 05:42] mehraj43 commented on #289
help me guyz stuck with this issue for 2 days couldn't find any solution

[2022-09-30 05:47] mehraj43 commented on #289
i uninstalled admob even then same issue

[2022-09-30 06:00] vivekshindhe commented on #289
@mehraj43 this doesn't have anything to do with the react-native-razorpay package. But, the activity EmptyFloatingActivity needs to have android:exported to be set to true or false in the AndroidManifest.xml. The location of the file is given in the error message you posted above. Adding that should solve it for you

[2022-09-30 06:04] mehraj43 commented on #289
there is no activity in my file such as EmptyFloatingActivity can u tell me specifically

[2022-09-30 06:06] mehraj43 commented on #289
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.supersports">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundI

[2022-09-30 06:06] mehraj43 commented on #289
<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:usesCleartextTraffic="true"
        tools:targetApi="28"
        tools:ignore="GoogleAppIndexingWarning">
        <activity andr

[2022-09-30 06:06] mehraj43 commented on #289
<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.ads.consent" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="26" />

</manifest>

[2022-09-30 06:08] mehraj43 commented on #289
the error is of this location how do i add the activity

[2022-09-30 06:20] vivekshindhe commented on #289
@mehraj43
`  <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$BootstrapActivity"
            android:exported="false" />
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyActivity"
            android:exported="false" />
        <activity
            android:name="androidx.test.core.app.InstrumentationAct

[2022-09-30 06:21] mehraj43 commented on #289
thanks already did its resolve i think now was able to do bcoz of ur previoys reply thanks man

[2022-09-30 06:23] mehraj43 commented on #289
![image](https://user-images.githubusercontent.com/53511710/193204145-ea9edabc-e828-49e9-b843-aa6289abbb02.png)

a new error occured now

[2022-09-30 06:25] vivekshindhe commented on #289
The error is in react-native-fbsdk-next. They would be able to help you out there

[2022-09-30 06:26] mehraj43 commented on #289
ok thanks

[2022-10-02 09:28] AdarshJais commented on #379
Here you go: https://github.com/razorpay/react-native-razorpay/pull/420

Please follow the instructions provided in the modified Readme pull request, and let me know if you encounter any problems.

[2022-10-17 14:05] gani419 opened #421 "Unable to get paid amount from success response"
<!--
------ 👆 Click "Preview"!

HI,
My integration with the library is working fine.
But in success response, I'm unable to get the paid amount.
I can change my paid amount inside payment gateway (pay in full or pay in parts).
So I need the paid amount.
Can you please help me with this.

[2022-10-18 07:32] anshul0410 commented on #312
Hi @Nautiyalsachin thanks for introducing UPI intent flow in custom checkout flow.
Currently in React Native Custom Checkout documentation, it is not clear how to make use of UPI intent flow since i don't see any section pertaining to it. Can i refer some url which contains detailed information on how to use UPI Intent in custom checkout.
Thanks

[2022-10-20 12:41] crazo7924 commented on #421
Please see the example response in the docs:
https://razorpay.com/docs/api/payments/#payments-entity

[2022-10-25 09:19] project-sense opened #422 "When will be support for react-native 18 release"
Facing dependencies issues for 18 react native version

[2022-10-29 02:15] AndroEswar opened #423 "Hosted Checkout Callback URL"
Hi I was trying to integrate Razorpay hosted checkout in my local. But I get blocked in callback url.

When I try to redirect to callback URL I was getting "cannot POST /{callback url}"

Example I was running node server in localhost:5000 PORT. there I created one callback route.

When callback url triggered from hosted checkout after complete the payment I was getting "cannot POST /{callback url}

[2022-11-05 15:05] iamromec opened #424 "Not supporting React 18.0"
Hello Team,

The npm package https://www.npmjs.com/package/react-native-razorpay was updated 7 months ago and currently does not support React 18.0. Please find the attached screenshot for your reference. Can you please update it so we can integrate it with the gateway account?

<img width="610" alt="Screenshot 2022-11-05 at 8 31 26 PM" src="https://user-images.githubusercontent.com/50284628/20012

[2022-11-09 09:17] vivekshindhe commented on #424
v2.3.0 is live with support for the latest versions. Thank you for your patience. Closing the ticket now

[2022-11-09 18:43] iamromec commented on #424
It seems because of the unstable plugin there are still issues with it.

As I installed the plugin, I started getting this error (FYI: I'm running it on Simulator not metro builder --- ideally it should work):

![Simulator Screen Shot - iPhone 14 - 2022-11-09 at 23 43 09](https://user-images.githubusercontent.com/50284628/200908684-325120ff-9d7d-4299-b40b-e8271e2ebfbf.png)

There are one more erro

[2022-11-09 19:03] vivekshindhe commented on #424
Hey @iamromec

The screenshot of the YGAlign error. I don't see how the razorpay package is doing that as we don't use any dependencies whatsoever. Can you try changing it to one of the values given there?

For the second, have to tested with live keys? And/or with an actual device? I tested the builds on an iOS device. Did not face any such issues but will try to reproduce them on our end.

[2022-11-09 19:06] iamromec commented on #424
The live key works fine.

Also, I'm using expo so how do we handle it during development because the app is not running after this integration? We need some way around Expo so development goes smooth.

[2022-11-09 20:05] vivekshindhe commented on #424
@iamromec it's not able to access the native modules. Did you prebuild the application?

[2022-11-09 20:06] vivekshindhe commented on #424
For expo, i have tested this and it works completely fine for me for some reason. Can you follow the readme doc in this for expo and see if that resolves your issues?

[2022-11-10 02:32] prajeesh-splendre opened #427 "Duplicate class com.razorpay.Y_$B$ found in modules jetified-checkout-1.6.26-runtime (com.razorpay:checkout:1.6.26) and jetified-customui-3.9.9-runtime (com.razorpay:customui:3.9.9)"
I was using react-native-customui for the past few months for UPI intent flow, now i need to integrate react-native-razorpay for multiple payment methods, when i installed  react-native-razorpay and run using npx react-native run-android in went into these stacktrace

<img width="1438" alt="image" src="https://user-images.githubusercontent.com/86819567/200986025-ece2ccc2-a52b-47b4-b585-82cfb712059

[2022-11-10 04:11] prajeesh-splendre commented on #427
Is there any workaround ?

[2022-11-10 05:06] vivekshindhe commented on #427
@prajeesh-splendre no sir.

[2022-11-10 19:15] iamromec commented on #427
@vivekshindhe if we use this, could you please explain how can we get all available (active) payment methods? Is there any API available for that?

I looked into it but didn't see it. So how does this plugin works?

[2022-11-10 19:18] iamromec commented on #427
I'm thinking of switching to react-native-customui as react-native-razorpay doesn't work properly with test keys and development.

[2022-11-10 19:26] iamromec commented on #427
I think this one, right: https://razorpay.com/docs/payments/third-party-validation/s2s-integration/methods-api/#next-steps

[2022-11-11 12:49] vivekshindhe commented on #427
@iamromec We still aren't able to reproduce the error you're seeing on test keys. But let me assure you, it works correctly with both test and live keys for us. Regardless, if you want to switch to customui, please contact Razorpay's Help Desk and they should be able to help take this forward.
Closing this ticket for now.

[2022-11-11 12:49] #427 closed

[2022-11-11 12:51] vivekshindhe commented on #422
@project-sense the version 2.3.0 support react version 18. Please update to the latest. Closing this ticket for now. thank you for your patience.

[2022-11-11 12:51] #422 closed

[2022-11-12 07:09] iamromec commented on #424
@vivekshindhe could you please also answer how we handle it during development mode on Expo?

[2022-11-12 11:27] iamromec commented on #424
Hi @vivekshindhe, while running the app with expo run:ios, it's throwing the following errors:

<img width="905" alt="Screenshot 2022-11-12 at 4 53 44 PM" src="https://user-images.githubusercontent.com/50284628/201471764-9ab6bb9c-e7b9-4037-9094-e41aab88dedf.png">

It seems there are multiple dependency issues with the plug in as you guys have may have tested with simple or vanilla app with just re

[2022-11-12 14:31] vivekshindhe commented on #424
Reopened this. Can you share the package.json file to vivek.shindhe@razorpay.com so that I can try to reproduce this with those packages installed?

[2022-11-25 07:46] iamromec commented on #424
It's throwing this error sometimes:

![Uploading Screenshot 2022-11-25 at 1.14.49 PM.png…]()

[2022-11-25 07:50] iamromec commented on #424
It's throwing this error sometimes:

<img width="1424" alt="Screenshot 2022-11-25 at 1 14 49 PM" src="https://user-images.githubusercontent.com/50284628/203928739-a7b0c81f-07f0-4e62-b713-8acab5e837de.png">

[2022-11-25 18:55] vishvadavra commented on #324
how you solved this error? can you help me with this error?

[TypeError: null is not an object (evaluating '_reactNative.NativeModules.RazorpayCheckout.open')]

[2022-11-28 07:06] sandeshnaroju commented on #424
Also, is react native customui support for react 18 available? custom UI is not installable with 18 currently, kindly update that too.

[2022-11-28 07:13] sandarshnaroju opened #428 "Unable to install custom ui with React 18"
## Description
Unable to install react-native-customui with React 18.

* **Specific to iOS Users :-**
- [ ] I havent checked with IOS

## Razorpay Package Version :
Open `Package.json`. > Copy `react-native-razorpay` version here.

## Xcode Version (iOS) :
Open Xcode > Go to `About Xcode` > copy the Xcode version here.

## Razorpay-pod version (iOS) :
Go to your project path > Go to folder named `

[2022-11-30 17:34] vijendrapatidar commented on #176
ipatool failed with an exception: #<CmdSpec::NonZeroExitException: $ /Applications/Xcode.app/Contents/Developer/usr/bin/python3 /Applications/Xcode.app/Contents/Developer/usr/bin/bitcode-build-tool -v -t /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin -L /var/folders/sd/0fv3f63541g9lzncclc5wmnw0000gn/T/ipatool20221130-60955-1nk42qt/thinned-out/arm64/Payload/n